---
// props
export interface Props {
    display: string;
	value: string;
	name: string;
    checked?: boolean;
}
const { display, value, name, checked = false, ...attrs } = Astro.props;
---

<label for={value} class="cursor-pointer">
    <input id={value} name={`${name}[]`} value={value} type="checkbox" class="cursor-pointer" {checked} />
    <span class="capitalize">{display}</span>
</label>
