---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Related from "@/components/sidebar/Related";
import Split from "@/components/content/Split";

// config
import { siteConfig } from "@/src/config";

// content
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blogs");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await post.render();

// functions
import { formatDate } from "@/functions/DateTime";
---

<BaseLayout title={post.data.title} description={post.data.description}>
    <Container>
        <Heading>
            <h1 slot="heading">{post.data.title}</h1>
            <div slot="description">{post.data.excerpt}</div>
        </Heading>
    </Container>

    <Container classes="pb-32 md:pb-48">
        <Split small={true} float={true}>
            <div slot="heading" class="space-y-20 w-4/5">
                <div class="space-y-8">
                    <div class="h4">Metadata</div>
                    <ul
                        class="space-y-1 text-lg text-neutral-600 dark:text-neutral-400">
                        <li>
                            Posted on <time datetime={post.data.date}>
                                {formatDate(post.data.date)}
                            </time>
                        </li>
                        <li>
                            Written by
                            {siteConfig.name}
                        </li>
                    </ul>
                </div>

                {
                    post.data.related && (
                        <div class="space-y-8">
                            <div class="h4">Related Posts</div>
                            {post.data.related.map((r) => (
                                <Related slug={r} />
                            ))}
                        </div>
                    )
                }
            </div>

            <article class="prose prose-2xl dark:prose-invert">
                {
                    post.data.hero && (
                        <Figure
                            src={post.data.hero}
                            class="mt-0 h-full w-full"
                            loading="eager"
                            metadata={false}
                        />
                    )
                }

                <Content />
            </article>
        </Split>
    </Container>
</BaseLayout>
