---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import JamComments from "@jam-comments/astro";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Meta from "@/components/sidebar/Meta";
import Related from "@/components/sidebar/Related";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarContainer from "@/components/sidebar/SidebarContainer";
import SidebarSection from "@/components/sidebar/SidebarSection";

// config
import { siteConfig } from "@/src/config";

// content
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blogs");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
    <Container>
        <Heading>
            <h1 slot="heading">{post.data.title}</h1>
            <div slot="description">{post.data.excerpt}</div>
        </Heading>
    </Container>

    <Container>
        <SidebarContainer>
            <article class="prose dark:prose-invert">
                {post.data.featured && <Figure src={post.data.featured} class="mt-0 h-full w-full" loading="eager" metadata={false} />}

                <Content />

                <hr />

                <JamComments path={`${siteConfig.url}${Astro.url.pathname}`} />
            </article>

            <Sidebar classes="min-w-[200px] self-start sticky top-4">
                <Meta date={post.data.date} />

                {
                    post.data.related && (
                        <SidebarSection heading="Related Posts">
                            {post.data.related.map((r) => (
                                <Related slug={r} />
                            ))}
                        </SidebarSection>
                    )
                }
            </Sidebar>
        </SidebarContainer>
    </Container>
</BaseLayout>
