---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Link from "@/components/Link";
import Meta from "@/components/sidebar/Meta";
import Newsletter from "@/components/sidebar/Newsletter";
import Related from "@/components/sidebar/Related";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarContainer from "@/components/sidebar/SidebarContainer";
import SidebarSection from "@/components/sidebar/SidebarSection";

// content
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}
type Props = CollectionEntry<"blog">;

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
    <Container>
        <Heading>
            <h1 slot="heading">{post.data.title}</h1>
            <div slot="description">{post.data.excerpt}</div>
        </Heading>
    </Container>

    <Container>
        <SidebarContainer>
            <article class="prose prose-lg dark:prose-invert">
                {post.data.featured && <Figure src={post.data.featured} class="mt-0" metadata={false} />}

                <Content />
            </article>

            <Sidebar>
                <Meta date={post.data.date} />

                <SidebarSection heading="Related Posts">
                    {post.data.related && post.data.related.map((r) => <Related slug={r} />)}
                </SidebarSection>

                <Newsletter />

                <div slot="bottom">
                    <Link flip={true} text="Back to Articles" size="sm" url="/blog" />
                </div>
            </Sidebar>
        </SidebarContainer>
    </Container>
</BaseLayout>
