---
export const prerender = false;

import Layout from "@/layouts/Dashboard";

import { getLeads } from "@/library/cosmic";
import { timeAgo, daysFromToday } from "@/functions/DateTime";
import { formatCurrency } from "@/functions/Misc";
import Heading from "@/components/content/Heading";

const pendingLeads = await getLeads(null, "Pending");
const soldLeads = await getLeads(null, "Sold");

const recentSold = soldLeads.filter((lead) => {
	return daysFromToday(lead.metadata.sold_date);
});
const recentRevenue = recentSold.reduce((acc, lead) => {
	return acc + lead.metadata.value;
}, 0);
---

<Layout>
	<div class="mt-12">
		<div class="grid grid-cols-12 gap-12">
			<div class="col-span-4">
				<div class="rounded bg-blue-200/70 flex align-center justify-center p-12">
					<div class="flex flex-col items-center gap-1">
						<div class="font-medium uppercase text-gray-600">30 Day Revenue</div>
						<div class="text-emerald-500 text-5xl font-extrabold">{formatCurrency(recentRevenue)}</div>
					</div>
				</div>
			</div>

			<div class="col-span-4">
				<div class="rounded bg-blue-200/70 flex align-center justify-center p-12">
					<div class="flex flex-col items-center gap-1">
						<div class="font-medium uppercase text-gray-600">30 Day AOV</div>
						<div class="text-emerald-500 text-5xl font-extrabold">{formatCurrency(recentRevenue / recentSold.length)}</div>
					</div>
				</div>
			</div>

			<div class="col-span-4">
				<div class="rounded bg-blue-200/70 flex align-center justify-center p-12">
					<div class="flex flex-col items-center gap-1">
						<div class="font-medium uppercase text-gray-600">30 Day Leads</div>
						<div class="text-emerald-500 text-5xl font-extrabold">{recentSold.length}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="grid grid-cols-12 gap-12 mt-12">
			<div class="col-span-6">
				<div class="mb-4 text-xl">Pending Leads</div>
				<div class="relative overflow-x-auto shadow-md rounded">
					<table class="w-full text-sm text-left text-gray-500">
						<thead class="text-xs text-gray-700 uppercase bg-gray-50">
							<tr>
								<th scope="col" class="px-6 py-4">Name</th>
								<th scope="col" class="px-6 py-4">Message</th>
								<th scope="col" class="px-6 py-4">Date</th>
								<th scope="col" class="px-6 py-4">Value</th>
							</tr>
						</thead>

						<tbody>
							{
								pendingLeads.map((lead) => (
									<tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
										<th scope="row" class="font-normal px-6 py-4 text-gray-950 whitespace-nowrap">
											<a href={"/dashboard/leads/detail/" + lead.id} class="underline">
												{lead.title}
											</a>
										</th>
										<td class="px-6 py-4">
											<span class="line-clamp-2">{lead.metadata.message}</span>
										</td>
										<td class="px-6 py-4 whitespace-nowrap">{timeAgo(lead.metadata.date)}</td>
										<td class:list={["px-6 py-4", lead.metadata.status.value === "Sold" && "text-green-500 font-semibold italic"]}>${lead.metadata.value}</td>
									</tr>
								))
							}
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-span-6">
				<div class="mb-4 text-xl">Sold Leads</div>
				<div class="relative overflow-x-auto shadow-md rounded">
					<table class="w-full text-sm text-left text-gray-500">
						<thead class="text-xs text-gray-700 uppercase bg-gray-50">
							<tr>
								<th scope="col" class="px-6 py-4">Name</th>
								<th scope="col" class="px-6 py-4">Message</th>
								<th scope="col" class="px-6 py-4">Date</th>
								<th scope="col" class="px-6 py-4">Value</th>
							</tr>
						</thead>

						<tbody>
							{
								soldLeads.map((lead) => (
									<tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
										<th scope="row" class="font-normal px-6 py-4 text-gray-950 whitespace-nowrap">
											<a href={"/dashboard/leads/detail/" + lead.id} class="underline">
												{lead.title}
											</a>
										</th>
										<td class="px-6 py-4">
											<span class="line-clamp-2">{lead.metadata.message}</span>
										</td>
										<td class="px-6 py-4 whitespace-nowrap">{timeAgo(lead.metadata.date)}</td>
										<td class:list={["px-6 py-4", lead.metadata.status.value === "Sold" && "text-emerald-500 font-semibold italic"]}>${lead.metadata.value}</td>
									</tr>
								))
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</Layout>
