---
// layouts
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Gallery from "@/components/image/Gallery";
import Heading from "@/components/content/Heading";
import Meta from "@/components/sidebar/Meta";
import Newsletter from "@/components/sidebar/Newsletter";
import Related from "@/components/sidebar/Related";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarContainer from "@/components/sidebar/SidebarContainer";
import SidebarSection from "@/components/sidebar/SidebarSection";

// content
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
    const shoots = await getCollection("photography");
    return shoots.map((shoot) => ({
        params: { slug: shoot.slug },
        props: { shoot },
    }));
}
type Props = CollectionEntry<"photography">;

const { shoot } = Astro.props;
const { Content } = await shoot.render();
---

<BaseLayout title={shoot.data.title} description={shoot.data.description}>
    <Container>
        <Heading>
            <h1 slot="heading" class="max-w-xl">{shoot.data.title}</h1>
            <p slot="description" class="max-w-xl text-2xl font-light">{shoot.data.description}</p>
        </Heading>
    </Container>

    <Container>
        <Figure src={shoot.data.featured} class="mt-0 h-[30em] w-full object-cover rounded-sm" loading="eager" sizes="100vw" metadata={false} />
    </Container>

    <Container>
        <SidebarContainer>
            <article class="prose prose-lg dark:prose-invert">
                <Content />
            </article>

            <Sidebar>
                <Meta date={shoot.data.date} />

                {
                    shoot.data.related && (
                        <SidebarSection heading="Related Shoots">
                            {shoot.data.related.map((r) => (
                                <Related slug={r} category="photography" />
                            ))}
                        </SidebarSection>
                    )
                }
                <Newsletter />
            </Sidebar>
        </SidebarContainer>
    </Container>

    <Container>
        <h2 class="mb-12">Gallery</h2>
        <Gallery images={shoot.data.gallery} />
    </Container>
</BaseLayout>
