---
// layouts
import BaseLayout from "@/layouts/BaseLayout";

// components
import JamComments from "@jam-comments/astro";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Meta from "@/components/sidebar/Meta";
import Related from "@/components/sidebar/Related";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarContainer from "@/components/sidebar/SidebarContainer";
import SidebarSection from "@/components/sidebar/SidebarSection";
import TableOfContents from "@/components/sidebar/TableOfContents";

// config
import { siteConfig } from "@/src/config";

// content
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
    const shoots = await getCollection("shoots");
    return shoots.map((shoot) => ({
        params: { slug: shoot.slug },
        props: { shoot },
    }));
}
type Props = CollectionEntry<"shoots">;

const { shoot } = Astro.props;
const { Content, headings } = await shoot.render();
---

<BaseLayout title={shoot.data.title} description={shoot.data.description}>
    <Container>
        <div class="mx-auto max-w-3xl space-y-4">
            <h1>{shoot.data.title}</h1>
            <p class="text-2xl font-light dark:text-zinc-200">{shoot.data.description}</p>
        </div>
    </Container>

    <div class="mx-auto max-w-6xl">
        <Figure src={shoot.data.featured} class="w-full h-[30rem] rounded-sm object-cover shadow-2xl" loading="eager" sizes="100vw" />
    </div>

    <Container>
        <SidebarContainer>
            <div class="space-y-20">
                <article class="prose max-w-none space-y-8 dark:prose-invert lg:prose-lg">
                    <Content />

                    <JamComments path={`${siteConfig.url}${Astro.url.pathname}`} />
                </article>
            </div>

            <Sidebar classes="min-w-[200px] self-start sticky top-8">
                <Meta date={shoot.data.date} />

                <SidebarSection heading="Table of Contents">
                    <TableOfContents headings={headings} />
                </SidebarSection>

                {
                    shoot.data.related && (
                        <SidebarSection heading="Related Shoots">
                            {shoot.data.related.map((r) => (
                                <Related slug={r} category="shoots" basePath="photography" />
                            ))}
                        </SidebarSection>
                    )
                }

                {
                    shoot.data.auction && (
                        <SidebarSection heading="Auction Details">
                            <ul class="space-y-1 text-sm text-zinc-600 dark:text-zinc-400">
                                <li>
                                    Auctioned on{" "}
                                    <a class="underline" href={shoot.data.auction.url} title={shoot.data.title}>
                                        {shoot.data.auction.site}
                                    </a>
                                </li>
                                <li>
                                    {shoot.data.auction.sold ? `Sold at ` : `Bid to `}${shoot.data.auction.price.toLocaleString("en-US")}
                                </li>
                            </ul>
                        </SidebarSection>
                    )
                }
            </Sidebar>
        </SidebarContainer>
    </Container>
</BaseLayout>
