---
// layout
import Layout from "@/layouts/BaseLayout";

// imports
import { getCollection } from "astro:content";
import Container from "@/components/content/Container";
import Faq from "@/components/faq/Faq";
import Figure from "@/components/image/Image";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";
import Split from "@/components/content/Split";

const faqs = await getCollection("faq");
const photographyFaqs = faqs.filter((f) => f.data.category.key === "photography");
const videographyFaqs = faqs.filter((f) => f.data.category.key === "videography");
const miscFaqs = faqs.filter((f) => f.data.category.key === "miscellaneous");

const images02 = [
	"https://cdn.cosmicjs.com/4cef7840-75fe-11ef-915f-61acd7484848-cota-classic-2017_004.jpg",
	"https://cdn.cosmicjs.com/7fc115a0-7601-11ef-915f-61acd7484848-coffee-with-cars-2018_009.jpg",
	"https://cdn.cosmicjs.com/267af820-7602-11ef-915f-61acd7484848-2019-conda-green-911e_010.jpg",
	"https://cdn.cosmicjs.com/5198df40-7602-11ef-915f-61acd7484848-coffee-with-cars-2019_015.jpg",
	"https://cdn.cosmicjs.com/a3b62af0-760a-11ef-915f-61acd7484848-2023-petrol-lounge_011.jpg",
	"https://cdn.cosmicjs.com/a89b54b0-7609-11ef-915f-61acd7484848-2014-lamborghini-aventador-lp700-4_027.jpg",
	"https://cdn.cosmicjs.com/cc2e9f20-760b-11ef-915f-61acd7484848-1976-bmw-2002_004.jpg",
	"https://cdn.cosmicjs.com/0671f3a0-7605-11ef-915f-61acd7484848-lit-show-2020_037.jpg",
];
---

<Layout
	title="Car Photography FAQ"
	description="During the summer months you'll catch me shooting photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions."
	footerPadding={false}
	itemscope
	itemtype="https://schema.org/FAQPage"
>
	<Section>
		<Container>
			<Heading>
				<h1 slot="heading">Car Photography Questions & Answers</h1>
				<div slot="description">
					You've got questions and hopefully I've got some answers. If you don't find an answer to your question, why not <a href="/contact/" class="underline decoration-1 underline-offset-2"> contact me </a>?
				</div>
			</Heading>
		</Container>

		<Container>
			<Split size="small" border={true} classes="mb-16">
				<div slot="heading" class="text-2xl">General</div>
				{miscFaqs.map((f) => <Faq question={f} />)}
			</Split>

			<Split size="small" border={true} classes="mb-16">
				<div slot="heading" class="text-2xl">Photography</div>
				{photographyFaqs.map((f) => <Faq question={f} />)}
			</Split>

			<Split size="small" border={true} classes="mb-16">
				<div slot="heading" class="text-2xl">Videography</div>
				{videographyFaqs.map((f) => <Faq question={f} />)}
			</Split>
		</Container>

		<div class="grid grid-cols-2 sm:grid-cols-4">
			{images02.map((i) => <Figure src={i} class="object-cover w-full h-full" rounded={false} sizes="(min-width: 1024px) 25vw, (min-width: 768px) 33vw, 50vw" showTitle={false} />)}
		</div>
	</Section>
</Layout>
