---
// layout
import Layout from "@/layouts/BaseLayout";

// imports
import { Faq } from "@/data/Photography";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";
---

<Layout
    title="Car Photography in Austin, TX"
    description="During the summer months you'll catch me shooting photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions."
    footerPadding={false}
    itemscope
    itemtype="https://schema.org/FAQPage"
>
    <Section>
        <Container>
            <Heading>
                <h1 slot="heading">Car photography questions</h1>
                <div slot="description">
                    You've got questions and hopefully I've got some answers. If
                    you don't find an answer to your question, why not <a
                        href="/contact"
                        class="underline decoration-1 underline-offset-2"
                    >
                        contact me
                    </a>?
                </div>
            </Heading>
        </Container>

        <Container>
            <div class="space-y-12 max-w-2xl">
                {
                    Faq.map((f) => (
                        <div>
                            <div class="pill pill-primary capitalize">
                                {f.category}
                            </div>
                            <div class="divide-y">
                                {f.questions.map((q) => (
                                    <details
                                        itemscope
                                        itemprop="mainEntity"
                                        itemtype="https://schema.org/Question"
                                    >
                                        <summary
                                            itemprop="name"
                                            class="hover:cursor-pointer text-gray-900 text-lg sm:text-2xl font-medium tracking-tight focus:text-gray-800 py-6 text-left"
                                        >
                                            {q.title}
                                        </summary>
                                        <div
                                            itemscope
                                            itemprop="acceptedAnswer"
                                            itemtype="https://schema.org/Answer"
                                            class="ml-4 sm:ml-6 text-gray-800 text-base sm:text-lg pb-6"
                                        >
                                            <div
                                                itemprop="text"
                                                class="space-y-6"
                                                set:html={q.description}
                                            />
                                        </div>
                                    </details>
                                ))}
                            </div>
                        </div>
                    ))
                }
            </div>
        </Container>

        <Figure
            src="shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_017.jpg"
            figureClass="absolute"
            class="object-cover w-full h-full"
            rounded={false}
        />
    </Section>
</Layout>
