---
// layout
import Layout from "@/layouts/BaseLayout";

// imports
import { Faq } from "@/data/Photography";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";
---

<Layout
    title="Car Photography in Austin, TX"
    description="During the summer months you'll catch me shooting photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions."
    footerPadding={false}>
    <Section>
        <Container>
            <Heading>
                <h1 slot="heading">Car Photography FAQ</h1>
                <div slot="description">
                    You've got questions and hopefully I've got some answers. If you don't find an answer to your question, why not <a
                        href="/contact"
                        class="underline decoration-1 underline-offset-2">
                        contact me
                    </a>?
                </div>
            </Heading>
        </Container>

        <Container>
            <div class="space-y-12 max-w-2xl">
                {
                    Faq.map((f) => (
                        <div>
                            <div class="pill pill-primary capitalize">{f.category}</div>
                            <div class="divide-y">
                                {f.questions.map((q) => (
                                    <details>
                                        <summary class="hover:cursor-pointer text-gray-900 text-base lg:text-2xl font-medium tracking-tight focus:text-gray-800 py-6 text-left">{q.title}</summary>
                                        <div class="ml-6 text-gray-800 text-sm lg:text-lg pb-6 space-y-6" set:html={q.description} />
                                    </details>
                                ))}
                            </div>
                        </div>
                    ))
                }
            </div>
        </Container>

        <Container>
            <div class="space-y-6">
                <h2 class="h3">Ask a question!</h2>

                <form class="grid grid-cols-6 items-end gap-6" action="/contact/success/" id="contact-form" name="Contact - FAQ" method="POST" data-netlify="true" netlify-honeypot="name">
                    <div class="hidden space-y-2 col-span-3">
                        <label for="name">Name</label>
                        <input type="text" autocomplete="name" name="name" id="name" />
                    </div>

                    <div class="space-y-2 col-span-3">
                        <label for="question">Question</label>
                        <input type="text" autocomplete="off" name="question" id="question" required />
                    </div>

                    <div class="space-y-2 col-span-2">
                        <label for="email">E-mail</label>
                        <input type="email" autocomplete="email" name="email" id="email" required oninput="updateSubject(this.value)" />
                    </div>

                    <input id="output-email-subject" type="hidden" name="subject" value="" />

                    <button class="button-primary button text-base h-fit">Ask Away!</button>
                </form>
            </div>
        </Container>

        <Figure src="shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_017.jpg" figureClass="absolute" class="object-cover w-full h-full" rounded={false} />
    </Section>
</Layout>

<script is:inline>
    function updateSubject(val) {
        document.getElementById("output-email-subject").value = `New Question from eriksolsen.com - ${val}`;
    }
</script>
