---
import Layout from "@/layouts/BaseLayout";

import { getCollection } from "astro:content";
import { cosmic } from "@/library/cosmic";
import Container from "@/components/content/Container";
import Featured from "@/components/shoots/cards/Featured";
import Figure from "@/components/image/Image";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";
import Testimonial from "@/components/Testimonial";

const testimonials = await getCollection("testimonial");

const featured = await getCollection("shoot", ({ data }) => {
	return data.shoot.featured;
});

const { object: page } = await cosmic.objects
	.findOne({
		type: "page-photography",
		slug: "page-photography",
	})
	.props("metadata");
---

<Layout title={page.metadata.seo.title} description={page.metadata.seo.description}>
	<Section>
		<Container>
			<Heading>
				<h1 slot="heading">{page.metadata.content.heading}</h1>
				<div slot="description" set:html={page.metadata.content.description} />
			</Heading>
		</Container>

		<Container size="large">
			<div class="grid grid-cols-4 gap-8">
				{featured.slice(0, 8).map((f) => <Featured shoot={f} />)}
			</div>
		</Container>

		<Container>
			<section class="space-y-14">
				<h2 class="text-center sm:text-left h3">Testimonials</h2>

				<div class="grid grid-cols-1 md:grid-cols-3 gap-16 sm:gap-10 sm:max-w-none mx-auto">
					{testimonials.map((t) => <Testimonial content={t} />)}
				</div>
			</section>
		</Container>

		<Container size="large">
			<div class="grid grid-cols-12 gap-4 md:gap-6">
				<Figure figureClass="col-span-12 shadow-xl" class="w-full object-cover" src={page.metadata.gallery[0].url} lazy={false} />
				<Figure figureClass="col-span-6 lg:col-span-3 shadow-xl" class="w-full h-full" src={page.metadata.gallery[1].url} sizes="(min-width: 640px) 25vw, 50vw" />
				<Figure figureClass="col-span-6 lg:col-span-3 shadow-xl" class="w-full h-full" src={page.metadata.gallery[2].url} sizes="(min-width: 640px) 25vw, 50vw" />
				<Figure figureClass="col-span-6 lg:col-span-3 shadow-xl" class="w-full h-full" src={page.metadata.gallery[3].url} sizes="(min-width: 640px) 25vw, 50vw" />
				<Figure figureClass="col-span-6 lg:col-span-3 shadow-xl" class="w-full h-full" src={page.metadata.gallery[4].url} sizes="(min-width: 640px) 25vw, 50vw" />
				<Figure figureClass="col-span-12 sm:col-span-4 shadow-xl" class="w-full object-cover" src={page.metadata.gallery[5].url} sizes="(min-width: 640px) 33vw, 100vw" />
				<Figure figureClass="col-span-12 sm:col-span-4 shadow-xl" class="w-full object-cover" src={page.metadata.gallery[6].url} sizes="(min-width: 640px) 33vw, 100vw" />
				<Figure figureClass="col-span-12 sm:col-span-4 shadow-xl" class="w-full object-cover" src={page.metadata.gallery[7].url} sizes="(min-width: 640px) 33vw, 100vw" />
			</div>
		</Container>
	</Section>
</Layout>
