---
// layout
import Layout from "@/layouts/BaseLayout";

// imports
import { getCollection, getEntry } from "astro:content";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";
import Testimonial from "@/components/Testimonial";

const testimonials = await getCollection("testimonials");
const featured = await getEntry("shoots", "2023/06/1997-993-carrera-4s");
const links = [
    {
        heading: "Pricing",
        description: "Pricing options tailored to your automotive photography needs.",
        cta: "See Pricing",
        url: "/photography/pricing",
    },
    {
        heading: "FAQ",
        description: "Expert answers to all your car photography inquiries.",
        cta: "Read FAQs",
        url: "/photography/faq",
    },
    {
        heading: "Shoots",
        description: "Browse my recent snapshots captured across Texas.",
        cta: "More Shoots",
        url: "/photography/shoots",
    },
];
---

<Layout
    title="Car Photography in Austin, TX"
    description="During the summer months you'll catch me shooting photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions.">
    <Section>
        <Container>
            <Heading>
                <h1 slot="heading">I shoot professional car photography in Austin.</h1>
                <div slot="description" class="space-y-8">
                    <p>
                        For the last five years, I've been shooting professional car photography all over central Texas. My passion for automobiles lets me bring out the best in your vehicle. I'll
                        expertly capture every curve resulting in stunning images.
                    </p>
                </div>
            </Heading>
        </Container>

        <Container>
            <ul class="grid grid-cols-1 md:grid-cols-3 gap-4 lg:gap-8" role="list">
                {
                    links.map((l) => (
                        <a href={l.url} class="block space-y-3">
                            <p class="text-regent-900 font-medium lg:text-3xl text-xl">{l.heading}</p>
                            <p class="text-regent-800 text-base md:text-lg tracking-wide text-balance">{l.description}</p>
                            <div class="text-regent-900 text-lg md:text-xl tracking-tight font-medium">{l.cta} &rarr;</div>
                        </a>
                    ))
                }
            </ul>
        </Container>

        <Container size="large">
            <Figure class="w-full sm:h-[60em] object-cover" src="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_037.jpg" />
        </Container>

        <Container>
            <section>
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
                    {testimonials.map((t) => <Testimonial content={t} />)}
                </div>
            </section>
        </Container>

        <Container size="large">
            <Figure figureClass="col-span-2" class="w-full sm:h-svh md:h-[60em] object-cover" src="shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_005.jpg" />
        </Container>

        <Container>
            <span class="text-base items-center inline-flex uppercase tracking-wide font-medium text-regent-600">Case Study</span>
            <div class="mt-4 sm:mt-8 grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-24">
                <div class="text-balance text-2xl font-normal lg:text-4xl text-regent-900">{featured.data.title}</div>
                <div>
                    <div class="text-slate-500 text-lg lg:text-xl tracking-wide space-y-6">
                        <p>Meet the star of the auction, a timeless beauty - the 1997 Porsche 911 Carrera 4S Coupe.</p>
                        <p>
                            The owner had to make the impossible decision to get rid of the 993 after purchasing a low mileage 300ZX. With no room left in the garage, the Porsche had to find a new
                            home.
                        </p>
                        <p>The owner did an impeccable job representing the car on Cars &amp; Bids. After a week long auction, the car successfully sold for $101,500.</p>
                    </div>
                </div>
            </div>
        </Container>

        <Container size="large">
            <div class="grid lg:grid-cols-2 gap-6">
                <Figure class="w-full h-[30em] object-cover" src="shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_011.jpg" />
                <Figure class="w-full h-[30em] object-cover" src="shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_007.jpg" />
            </div>
        </Container>
    </Section>
</Layout>
