---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Image from "@/components/image/Image";
import Gallery from "@/components/image/Gallery";
import Heading from "@/components/content/Heading";
import Split from "@/components/content/Split";

// content
import { getCollection } from "astro:content";

const featured = (
    await getCollection("shoots", ({ data }) => {
        return data.featured == true;
    })
)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 1);

// data
import { Faq, Stats } from "@/data/Photography";
---

<Layout title="Car Photography in Austin, TX" description="During the summer months you'll catch me shooting photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions.">
    <Container>
        <Heading>
            <h1 slot="heading">I shoot professional car photography in Austin.</h1>
            <div slot="description" class="space-y-8">
                <p>For the last five years, I've been shooting professional car photography all over central Texas. My passion for automobiles lets me bring out the best in your vehicle. I'll expertly capture every curve resulting in stunning images.</p>
            </div>
        </Heading>
    </Container>

    <Gallery>
        <Container large={true}>
            <div class="grid grid-cols-2 gap-8">
                <Image src="shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_004" figureClass="col-span-2 h-[40em]" class="w-full h-full object-cover" loading="eager" sizes="100vw" />
                <Image src="shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_002" class="w-full h-full object-cover" loading="eager" sizes="25vw" />
                <Image src="shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_064" class="w-full h-full object-cover" loading="eager" sizes="25vw" />
                <Image src="shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_011" figureClass="col-span-2 h-[40em]" class="w-full h-full object-cover" loading="eager" sizes="100vw" />
            </div>
        </Container>
    </Gallery>

    <Container padBottom={true}>
        <div class="flex flex-col md:flex-row md:justify-between mt-32 gap-8 md:gap-0 mb-32">
            {
                Stats.map((s, i) => (
                    <>
                        <div class:list={["flex flex-col gap-2 border border-neutral-800 py-6 px-10 text-center"]}>
                            <div class="font-black text-6xl tracking-tighter">{s.number}</div>

                            <div class="text-2xl font-light text-neutral-600" set:html={s.description} />
                        </div>

                        {i < 2 && <div class="hidden md:flex h-px bg-neutral-800 static md:flex-auto self-center" aria-hidden="true" />}
                    </>
                ))
            }
        </div>

        <Split>
            <h2 slot="heading">Car Photography FAQ</h2>

            <div x-data={`{ selected: 0 }`} class="space-y-12">
                {
                    Faq.map((f, i) => (
                        <div class="space-y-6">
                            <div x-on:click={`selected !== ${i} ? selected = ${i} : selected = null`} class="flex justify-between items-center hover:cursor-pointer">
                                <h4>{f.heading}</h4>

                                <svg x-show={`selected !== ${i}`} xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                </svg>
                                <svg x-show={`selected == ${i}`} xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                                </svg>
                            </div>

                            <div set:html={f.description} x-ref={`container${i}`} x-bind:style={`selected == ${i} ? 'max-height: ' + $refs.container${i}.scrollHeight + 'px' : ''`} class="text-neutral-800 text-xl leading-8 overflow-hidden max-h-0 transition-all duration-300 space-y-6" />
                        </div>
                    ))
                }

                <div class="flex gap-4">
                    <a href="/contact" class="button button-ghost text-lg">Ask me a question</a>
                    <a href="/contact" class="button button-primary text-lg">Hire me!</a>
                </div>
            </div>
        </Split>
    </Container>
</Layout>
