---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Image from "@/components/image/Image";
import Gallery from "@/components/image/Gallery";
import Heading from "@/components/content/Heading";
import Split from "@/components/content/Split";

// content
import { getCollection } from "astro:content";

const featured = (
    await getCollection("shoots", ({ data }) => {
        return data.featured == true;
    })
)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 1);

// data
import { Faq, Testimonials, Stats } from "@/data/Photography";
---

<Layout
    title="Car Photography in Austin, TX"
    description="During the summer months you'll catch me shootin photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions.">
    <Container>
        <Heading>
            <h1 slot="heading">
                I shoot professional car photography in Austin.
            </h1>
            <div slot="description" class="space-y-8">
                <p>
                    For the last five years, I've been shooting professional car
                    photography all over central Texas. My passion for
                    automobiles lets me bring out the best in your vehicle. I'll
                    expertly capture every curve resulting in stunning images.
                </p>
            </div>
        </Heading>

        <div class="flex flex-col md:flex-row md:justify-between gap-16 mt-32">
            {
                Stats.map((s, i) => (
                    <div
                        class:list={[
                            "flex flex-col gap-2 md:gap-4",
                            i == 2 && `md:text-right`,
                            i == 1 && `md:text-center`,
                        ]}>
                        <div class="font-black text-6xl tracking-tighter">
                            {s.number}
                        </div>

                        <div
                            class="text-2xl font-light max-w-xs text-neutral-400"
                            set:html={s.description}
                        />
                    </div>
                ))
            }
        </div>
    </Container>

    <Container />

    <Gallery>
        <div class="grid grid-cols-4 lg:h-[120vh]">
            <Image
                src="shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_049"
                figureClass="col-span-4"
                class="w-full h-full object-cover"
                loading="eager"
                sizes="100vw"
            />
            <Image
                src="shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_002"
                figureClass="col-span-4 sm:col-span-2 md:col-span-1"
                class="w-full h-full object-cover"
                loading="eager"
                sizes="25vw"
            />
            <Image
                src="shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_016"
                figureClass="col-span-4 sm:col-span-2 md:col-span-1"
                class="w-full h-full object-cover"
                loading="eager"
                sizes="25vw"
            />
            <Image
                src="shoots/2020/2020-01-26-coffee-with-cars/coffee-with-cars-2020_004"
                figureClass="col-span-4 sm:col-span-2 md:col-span-1"
                class="w-full h-full object-cover"
                loading="eager"
                sizes="25vw"
            />
            <Image
                src="shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_072"
                figureClass="col-span-4 sm:col-span-2 md:col-span-1"
                class="w-full h-full object-cover"
                loading="eager"
                sizes="25vw"
            />
        </div>
    </Gallery>

    <Container>
        <Split>
            <h2 slot="heading">Car Photography FAQ</h2>
            <div slot="bottom" class="flex gap-4">
                <a href="/contact" class="button button-ghost text-lg">
                    Ask me a question
                </a>
                <a href="/contact" class="button button-primary text-lg">
                    Hire me!
                </a>
            </div>

            <div x-data={`{ selected: 0 }`} class="space-y-12">
                {
                    Faq.map((f, i) => (
                        <div class="space-y-6">
                            <div
                                x-on:click={`selected !== ${i} ? selected = ${i} : selected = null`}
                                class="flex justify-between items-center hover:cursor-pointer">
                                <h4>{f.heading}</h4>

                                <svg
                                    x-show={`selected !== ${i}`}
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="w-6 h-6">
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 4.5v15m7.5-7.5h-15"
                                    />
                                </svg>
                                <svg
                                    x-show={`selected == ${i}`}
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="w-6 h-6">
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M19.5 12h-15"
                                    />
                                </svg>
                            </div>

                            <div
                                set:html={f.description}
                                x-ref={`container${i}`}
                                x-bind:style={`selected == ${i} ? 'max-height: ' + $refs.container${i}.scrollHeight + 'px' : ''`}
                                class="text-neutral-800 text-xl leading-8 overflow-hidden max-h-0 transition-all duration-300 space-y-6"
                            />
                        </div>
                    ))
                }
            </div>
        </Split>
    </Container>

    <div>
        <div class="bg-neutral-900 py-32">
            <Container>
                <div class="mx-auto md:max-w-2xl lg:max-w-5xl space-y-12">
                    <div
                        class="text-3xl lg:text-5xl italic leading-normal lg:leading-snug font-light text-white">
                        "{Testimonials[0].text}"
                    </div>

                    <div class="space-y-1">
                        <div class="text-2xl font-semibold text-white">
                            {Testimonials[0].name}
                        </div>
                        <div class="text-2xl text-neutral-200">
                            {Testimonials[0].position}
                        </div>
                    </div>
                </div>
            </Container>
        </div>

        <Image
            src="shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_049"
            figureClass="h-[75vh] w-full"
            class="w-full h-full object-cover"
            loading="eager"
            sizes="100vw"
        />
    </div>
</Layout>
