---
// layout
import Layout from "@/layouts/BaseLayout";

// imports
import { cosmic } from "@/library/cosmic";
import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";
import Image from "@/components/image/Image";
import Section from "@/components/content/Section";

const { objects: res } = await cosmic.objects.find({ type: "pricing" }).props("metadata");

const photographyPricing = res[0].metadata.photography;
const videographyPricing = res[0].metadata.videography;
---

<Layout
	title="Car Photography Pricing in Austin, TX"
	description="During the summer months you'll catch me shooting photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions."
>
	<Section>
		<Container classes="relative">
			<Heading>
				<h1 slot="heading">Car photography pricing in Austin, TX.</h1>
				<div slot="description" class="space-y-8">
					<p>If you're looking to hire a car photographer near you, look no further. Select a photography and videography package below, or contact me for custom pricing!</p>
				</div>
			</Heading>
		</Container>

		<Container classes="relative">
			<div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-0 xl:gap-12 md:rounded lg:rounded-none @container">
				{
					photographyPricing.map((p) => (
						<section class="flex flex-col gap-6 md:gap-10 text-left rounded md:rounded-none lg:rounded bg-white border-2 border-sky-100 p-8 shadow-xl transition duration-300 lg:hover:scale-110 lg:hover:rotate-1">
							<div class="space-y-2">
								<p class="h4 text-gray-900">{p.title}</p>
								<p class="text-balance text-base lg:text-lg md:max-w-xs text-gray-900">{p.description}</p>
							</div>

							<p class="text-gray-900 font-medium text-4xl lg:text-5xl tracking-tight">{p.pricing}</p>

							<div class="text-base lg:text-lg space-y-3 text-gray-900">
								{p.items.map((i) =>
									i.tooltip ? (
										<details itemscope itemprop="mainEntity">
											<summary itemprop="name" class="hover:cursor-pointer text-gray-900 tracking-tight focus:text-gray-800 flex flex-row justify-start items-center gap-1">
												<span class="line-clamp-1 lg:line-clamp-none lg:text-lg">{i.title}</span>
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
													<path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
												</svg>
											</summary>

											<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="text-gray-800 text-sm py-3 md:w-full mx-auto md:mx-0 text-balance">
												<div itemprop="text" set:html={i.tooltip} />
											</div>
										</details>
									) : (
										<div>{i.title}</div>
									),
								)}
							</div>

							<div>
								<a class="w-full lg:w-fit button button-primary text-lg shadow-lg" href="/contact">
									{p.cta}
								</a>
							</div>

							<a href="#video" class="text-sm md:text-base lg:text-lg text-center lg:text-left">
								+ <span class="underline">Add a Video Package</span>
							</a>
						</section>
					))
				}
			</div>
		</Container>

		<Container size="large">
			<div class="grid grid-cols-12 gap-4 md:gap-6">
				<Image src="https://cdn.cosmicjs.com/cb34da00-7604-11ef-915f-61acd7484848-lit-show-2020_038.jpg" figureClass="col-span-12 shadow-xl" class="w-full object-cover" lazy={false} />
				<Image src="https://cdn.cosmicjs.com/3e8ab410-760b-11ef-915f-61acd7484848-1987-porsche-911-carrera-targa_011.jpg" figureClass="col-span-12 sm:col-span-4 shadow-xl" class="w-full object-cover" sizes="(min-width: 640px) 33vw, 100vw" />
				<Image src="https://cdn.cosmicjs.com/081de730-760b-11ef-915f-61acd7484848-2023-pink-porsche-911_003.jpg" figureClass="col-span-12 sm:col-span-4 shadow-xl" class="w-full object-cover" sizes="(min-width: 640px) 33vw, 100vw" />
				<Image src="https://cdn.cosmicjs.com/e86c67a0-7604-11ef-915f-61acd7484848-lit-show-2020_044.jpg" figureClass="col-span-12 sm:col-span-4 shadow-xl" class="w-full object-cover" sizes="(min-width: 640px) 33vw, 100vw" />
			</div>
		</Container>

		<Container>
			<div id="video" class="grid grid-cols-1 sm:grid-cols-2 gap-x-10 md:gap-x-12 lg:gap-x-20 gap-y-8">
				<div class="col-span-2 md:col-span-1 space-y-6">
					<h2>I also shoot videos!</h2>

					<div class="text-lg md:text-xl space-y-8 text-gray-900">
						<p class="leading-relaxed">
							Incorporating a video into your online car auction listing can be a game-changer, significantly boosting interest and perceived value. Video allows potential buyers to experience the vehicle in motion, providing a
							comprehensive view of its performance, handling, and condition.
						</p>
						<p class="leading-relaxed">I'll use DJI action cameras and dual, high SPL microphones to accurately capture the intake and exhaust noises from your vehicle while in motion.</p>
					</div>
				</div>

				<div
					class="col-span-2 md:col-span-1 w-full sm:w-3/4 md:w-full mx-auto flex flex-col gap-6 md:gap-10 text-left rounded-lg md:rounded-none lg:rounded-lg bg-white p-8 shadow-xl transition duration-300 lg:hover:scale-110 lg:hover:rotate-1"
				>
					<div class="space-y-2">
						<p class="h4 text-gray-900">{videographyPricing.title}</p>
						<p class="text-balance lg:text-lg text-gray-900">
							{videographyPricing.description}
						</p>
					</div>

					<p class="text-gray-900 font-medium text-4xl lg:text-5xl tracking-tight">
						{videographyPricing.pricing}
					</p>

					<div class="text-base lg:text-lg flex flex-col gap-y-3 text-gray-900">
						{
							videographyPricing.items.map((i) => (
								<details itemscope itemprop="mainEntity">
									<summary itemprop="name" class="hover:cursor-pointer text-gray-900 tracking-tight focus:text-gray-800 flex flex-row justify-start items-center gap-1">
										{" "}
										<span class="lg:text-lg">{i.title}</span>
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
											<path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
										</svg>
									</summary>

									<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="text-gray-800 text-sm py-3 text-balance mx-auto sm:mx-0">
										<div itemprop="text" set:html={i.tooltip} />
									</div>
								</details>
							))
						}
					</div>

					<div>
						<a class="w-full md:w-full button button-primary text-lg shadow-lg" href="/contact"> Shoot My Car! </a>
					</div>
				</div>
			</div>
		</Container>

		<Container>
			<video width="1280" height="1024" class="w-full h-full shadow-xl rounded" controls poster="">
				<source src="https://cdn.cosmicjs.com/3d0f68f0-79e0-11ef-915f-61acd7484848-2002-driving-trimmed.mp4" type="video/mp4" />
				Your browser does not support the video tag.
			</video>
		</Container>
	</Section>
</Layout>

<style>
	details > summary {
		list-style: none;
	}
	details > summary::-webkit-details-marker {
		display: none;
	}
</style>
