---
// layout
import Layout from "@/layouts/BaseLayout";

// imports
import { PhotographyPricing, VideoPricing } from "@/data/Photography";
import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";
import Tooltip from "@/components/content/Tooltip";
---

<Layout
    title="Car Photography in Austin, TX"
    description="During the summer months you'll catch me shooting photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions.">
    <Section>
        <Container>
            <Heading>
                <h1 slot="heading">Car photography pricing in Austin, TX.</h1>
                <div slot="description" class="space-y-8">
                    <p>If you're looking to hire a car photographer near you, look no further. Select a photography and videography package below, or contact me for custom pricing!</p>
                </div>
            </Heading>
        </Container>

        <Container>
            <div class="grid grid-cols-1 md:grid-cols-3 md:gap-12">
                {
                    PhotographyPricing.map((p) => (
                        <section class="flex flex-col gap-6 md:gap-10 @container text-center md:text-left border-b border-gray-200 md:border-0 last:border-0 py-12">
                            <div class="space-y-2">
                                <p class="h4 text-gray-900">{p.title}</p>
                                <p class="text-balance text-base lg:text-lg text-gray-900">{p.description}</p>
                            </div>

                            <p class="text-gray-900 font-medium text-4xl lg:text-5xl tracking-tight">{p.pricing}</p>

                            <div class="text-base lg:text-lg flex flex-col gap-y-3 text-gray-900">
                                {p.items.map((i) => (
                                    <div>
                                        {i.title}
                                        {i.tooltip && (
                                            <span x-data="{ open: false }" @mouseover.outside="open = false" class="group relative focus:outline-none">
                                                <svg
                                                    @mouseover="open = true"
                                                    @focus="open = true"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="none"
                                                    viewBox="0 0 24 24"
                                                    stroke-width="1.5"
                                                    stroke="currentColor"
                                                    class="w-5 h-5 inline-flex active:border-none focus:border-none border-none focus:outline-none">
                                                    <path
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
                                                    />
                                                </svg>

                                                <div x-ref="tooltip" x-cloak class="absolute pt-3" role="tooltip" aria-hidden="true">
                                                    <div
                                                        class="w-[80vw] sm:w-80 absolute z-10 space-y-1 bg-gray-100 border border-gray-200 text-gray-900 text-sm rounded px-6 py-4 shadow-xl text-balanced"
                                                        x-show="open"
                                                        x-transition>
                                                        {i.tooltip}
                                                    </div>
                                                </div>
                                            </span>
                                        )}
                                    </div>
                                ))}
                            </div>

                            <div>
                                <a class="button button-primary text-lg" href="/contact">
                                    {p.cta}
                                </a>
                            </div>
                        </section>
                    ))
                }
            </div>
        </Container>

        <Container>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 md:gap-12 lg:gap-20">
                <div class="relative col-span-2">
                    <h2 class="z-10 inline bg-white pr-6">I also shoot videos!</h2>
                    <hr class="absolute w-full -mt-6 -z-10" />
                </div>

                <div class="col-span-2 sm:col-span-1">
                    <div class="text-lg md:text-xl space-y-6 text-gray-900">
                        <p class="leading-relaxed">
                            Incorporating a video into your online car auction listing can be a game-changer, significantly boosting interest and perceived value. Video allows potential buyers to
                            experience the vehicle in motion, providing a comprehensive view of its performance, handling, and condition.
                        </p>
                        <p class="leading-relaxed">I'll use DJI action cameras and dual, high SPL microphones to accurately capture the intake and exhaust noises from your vehicle while in motion.</p>
                        <a href="/contact" class="button button-primary w-full">Let's Shoot Some Video!</a>
                    </div>
                </div>

                <div class="col-span-2 sm:col-span-1 flex flex-col gap-6 text-center md:text-left sm:justify-center md:justify-start">
                    <p class="text-balance text-lg text-gray-900">{VideoPricing.description}</p>
                    <p class="text-gray-900 font-medium text-4xl lg:text-5xl tracking-tight">{VideoPricing.pricing}</p>
                    <div class="text-base lg:text-lg flex flex-col gap-y-3 text-gray-900">
                        <div class="font-semibold">Includes:</div>
                        {
                            VideoPricing.items.map((i) => (
                                <div>
                                    {i.title}
                                    {i.tooltip && <Tooltip text={i.tooltip} />}
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </Container>

        <Container size="large" padding={false}>
            <video width="1280" height="1024" class="w-full h-full sm:rounded-lg shadow-xl" controls poster="https://eriksolsen.b-cdn.net/videos/2002-driving-trimmed.jpg">
                <source src="https://eriksolsen.b-cdn.net/videos/2002-driving-trimmed.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </Container>
    </Section>
</Layout>
