---
// layout
import Layout from "@/layouts/BaseLayout";

// imports
import { cosmic } from "@/library/cosmic";
import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";
import Image from "@/components/image/Image";
import Section from "@/components/content/Section";
import Video from "@/components/Video";

const { objects: res } = await cosmic.objects.find({ type: "pricing" }).props("metadata");

const photographyPricing = res[0].metadata.photography;
const videographyPricing = res[0].metadata.videography;
---

<Layout
	title="Car Photography Pricing in Austin, TX"
	description="During the summer months you'll catch me shooting photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions."
>
	<Section>
		<Container classes="relative">
			<Heading>
				<h1 slot="heading">Car photography pricing in Austin, TX.</h1>
				<div slot="description" class="space-y-8">
					<p>If you're looking to hire a car photographer near you, look no further. Select a photography and videography package below, or contact me for custom pricing!</p>
				</div>
			</Heading>
		</Container>

		<Container classes="relative">
			<div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-0 md:rounded lg:rounded-none @container">
				{
					photographyPricing.map((p, i) => (
						<section class="flex flex-col gap-6 md:gap-10 text-left rounded md:rounded-none lg:rounded bg-white p-8 shadow-xl transition duration-300 lg:hover:scale-110 lg:hover:rotate-1">
							<div class="space-y-2">
								<p class="h4 text-gray-900">{p.title}</p>
								<p class="text-balance text-base lg:text-lg md:max-w-xs text-gray-900">{p.description}</p>
							</div>

							<p class="text-gray-900 font-medium text-4xl lg:text-5xl tracking-tight">{p.pricing}</p>

							<div class="text-base lg:text-lg space-y-3 text-gray-900">
								{p.items.map((i) =>
									i.tooltip ? (
										<details itemscope itemprop="mainEntity">
											<summary itemprop="name" class="hover:cursor-pointer text-gray-900 tracking-tight focus:text-gray-800 flex flex-row justify-start items-center gap-1">
												<span class="line-clamp-1 lg:line-clamp-none lg:text-lg">{i.title}</span>
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
													<path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
												</svg>
											</summary>

											<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="text-gray-800 text-sm py-3 md:w-full mx-auto md:mx-0 text-balance">
												<div itemprop="text" set:html={i.tooltip} />
											</div>
										</details>
									) : (
										<div>{i.title}</div>
									),
								)}
							</div>

							<div>
								<a class="w-full lg:w-fit button button-primary text-lg shadow-lg" href="/contact">
									{p.cta}
								</a>
							</div>

							<a href="#video" class="text-sm md:text-base lg:text-lg text-center lg:text-left">
								+ <span class="underline">Add a Video Package</span>
							</a>
						</section>
					))
				}
			</div>
		</Container>

		<Container>
			<h2 class="text-center mb-12">I also shoot videos!</h2>
			<Video video="https://cdn.cosmicjs.com/c2efe9b0-2c3f-11f0-8e93-1563270aacaf-eriksolsen-reel.mp4" title="Video Reel" placeholder="https://imgix.cosmicjs.com/a1cbbef0-2c47-11f0-8e93-1563270aacaf-eriksolsen-reel.jpg" playButton={true} />
		</Container>

		<Container>
			<div id="video" class="grid grid-cols-1 sm:grid-cols-2 gap-x-10 md:gap-x-12 lg:gap-x-20 gap-y-8">
				<div class="col-span-2 md:col-span-1 space-y-6">
					<div class="text-lg text-gray-900 !leading-relaxed space-y-8">
						<div class="h4 leading-10">I can build a custom package of videos to put bidders behind the wheel of your car!</div>
						<p>
							No matter the auction marketplace, they're likely to recommend videos to boost interest and perceived value during your auction. I'll use DJI action cameras and high SPL microphones to accurately capture the intake and exhaust
							noises from your vehicle while in motion.
						</p>
					</div>
				</div>

				<div
					class="col-span-2 md:col-span-1 w-full sm:w-3/4 md:w-full mx-auto flex flex-col gap-6 md:gap-10 text-left rounded-lg md:rounded-none lg:rounded-lg bg-white p-8 shadow-xl transition duration-300 lg:hover:scale-110 lg:hover:rotate-1"
				>
					<div class="space-y-2">
						<p class="h4 text-gray-900">{videographyPricing.title}</p>
						<p class="text-balance lg:text-lg text-gray-900">
							{videographyPricing.description}
						</p>
					</div>

					<p class="text-gray-900 font-medium text-4xl lg:text-5xl tracking-tight">
						{videographyPricing.pricing}
					</p>

					<div class="text-base lg:text-lg flex flex-col gap-y-3 text-gray-900">
						{
							videographyPricing.items.map((i) => (
								<details itemscope itemprop="mainEntity">
									<summary itemprop="name" class="hover:cursor-pointer text-gray-900 tracking-tight focus:text-gray-800 flex flex-row justify-start items-center gap-1">
										{" "}
										<span class="lg:text-lg">{i.title}</span>
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
											<path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
										</svg>
									</summary>

									<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="text-gray-800 text-sm py-3 text-balance mx-auto sm:mx-0">
										<div itemprop="text" set:html={i.tooltip} />
									</div>
								</details>
							))
						}
					</div>

					<div>
						<a class="w-full md:w-full button button-primary text-lg shadow-lg" href="/contact"> Shoot My Car! </a>
					</div>
				</div>
			</div>
		</Container>

		<Container />
	</Section>
</Layout>

<style>
	details > summary {
		list-style: none;
	}
	details > summary::-webkit-details-marker {
		display: none;
	}
</style>
