---
// layout
import Layout from "@/layouts/BaseLayout";

// imports
import { PhotographyPricing, VideoPricing } from "@/data/Photography";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";
---

<Layout
    title="Car Photography in Austin, TX"
    description="During the summer months you'll catch me shooting photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions."
    footerPadding={false}>
    <Section>
        <Container>
            <Heading maxWidth="max-w-3xl">
                <h1 slot="heading">Car photography pricing in Austin, TX.</h1>
                <div slot="description" class="space-y-8">
                    <p>If you're looking to hire a car photographer near you, look no further. Select a photography and videography package below, or contact me for custom pricing!</p>
                </div>
            </Heading>
        </Container>

        <Container>
            <div class="items-center mx-auto 2xl:max-w-7xl">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
                    {
                        PhotographyPricing.map((p) => (
                            <section class="flex flex-col gap-10">
                                <div class="space-y-2">
                                    <p class="h4 text-regent-900">{p.title}</p>
                                    <p class="text-lg text-regent-900 mt-2">{p.description}</p>
                                </div>

                                <p class="text-regent-900 font-medium text-5xl tracking-tight">{p.pricing}</p>

                                <div class="text-lg flex flex-col gap-y-3 text-regent-900" role="list">
                                    {p.items.map((i) => (
                                        <div>
                                            {i.title}
                                            {i.tooltip && (
                                                <span class="group relative">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-flex">
                                                        <path
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
                                                        />
                                                    </svg>

                                                    <div
                                                        class="invisible group-hover:visible group-hover:opacity-100 duration-500 transition-opacity opacity-0 absolute top-3 left-3 z-10 space-y-1 bg-regent-900 text-gray-50 text-sm rounded px-4 py-2 w-72 shadow-md text-balanced"
                                                        role="tooltip"
                                                        aria-hidden="true">
                                                        {i.tooltip}
                                                    </div>
                                                </span>
                                            )}
                                        </div>
                                    ))}
                                </div>

                                <div>
                                    <a class="button button-primary text-lg" href="#">
                                        {p.cta}
                                    </a>
                                </div>
                            </section>
                        ))
                    }
                </div>
            </div>
        </Container>

        <Container size="large">
            <hr />
        </Container>

        <Container>
            <div class="grid grid-cols-2 gap-12">
                <div class="space-y-6">
                    <h2 class="max-w-lg">I also shoot videos!</h2>

                    <div class="text-lg space-y-6 text-regent-900">
                        <p>
                            Incorporating a video into your online car auction listing can be a game-changer, significantly boosting interest and perceived value. Video allows potential buyers to
                            experience the vehicle in motion, providing a comprehensive view of its performance, handling, and condition.
                        </p>
                        <p>I'll use DJI action cameras and dual, high SPL microphones to accurately capture the intake and exhaust noises from your vehicle while in motion.</p>
                        <a href="/contact" class="button button-primary">Let's Shoot Some Video!</a>
                    </div>
                </div>

                <div class="flex flex-col gap-10">
                    <div class="space-y-2">
                        <p class="h4 text-regent-900">{VideoPricing.title}</p>
                        <p class="text-lg text-regent-900 mt-2 text-balance">{VideoPricing.description}</p>
                    </div>

                    <p class="text-regent-900 font-medium text-5xl tracking-tight">{VideoPricing.pricing}</p>
                    <div class="text-lg flex flex-col gap-y-3 text-regent-900">
                        <div class="font-semibold">Includes:</div>
                        {
                            VideoPricing.items.map((i) => (
                                <div>
                                    {i.title}
                                    {i.tooltip && (
                                        <span class="group relative">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-flex">
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
                                                />
                                            </svg>

                                            <div
                                                class="invisible group-hover:visible group-hover:opacity-100 duration-500 transition-opacity opacity-0 absolute top-3 left-3 z-10 space-y-1 bg-regent-900 text-gray-50 text-sm rounded px-4 py-2 w-72 shadow-md text-balanced"
                                                role="tooltip"
                                                aria-hidden="true">
                                                {i.tooltip}
                                            </div>
                                        </span>
                                    )}
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </Container>

        <Container size="large">
            <video width="1280" height="1024" class="w-full h-full rounded-lg" controls poster="https://eriksolsen.b-cdn.net/videos/2002-driving-trimmed.jpg">
                <source src="https://eriksolsen.b-cdn.net/videos/2002-driving-trimmed.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </Container>

        <!-- <Figure src="shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_038.jpg" rounded={false} /> -->
    </Section>
</Layout>
