---
// layout
import Layout from "@/layouts/BaseLayout";

// imports
import { getCollection } from "astro:content";
import { slugify } from "@/functions/Misc"
import Container from "@/components/content/Container";
import Image from "@/components/image/Image";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";

const shots = await getCollection("shots");
---

<Layout title="The Ultimate Car Auction Photography Checklist & Shots" description="Your step-by-step guide to perfect car auction photos. Includes a detailed shot list, specific examples for interior, exterior, and engine bays, ensuring you cover every necessary detail.">
    <Section>
        <Container>
            <Heading>
                <h1 slot="heading">Car Auction Photography Shot List</h1>
                <div slot="description">
                    If you're looking to sell your car online, here's the
                    necessary photos and videos to present your car in the best
                    possible light.
                </div>
            </Heading>
        </Container>

        <Container>
            <div class="md:columns-2 lg:columns-3 md:gap-x-12 space-y-24">
                <div class="text-lg text-slate-900 leading-relaxed! space-y-6 lg:space-y-8">
                    <div>
                        <h2 class="h4 mb-2">Auction Shot List</h2>
                        <p>Below, you'll find a comprehensive list of all the shots required for a complete online car auction photoshoot.</p>
                    </div>

                    <div class="space-y-3 text-base">
                        <div class="pill pill-subtle">Shoot Tip</div>
                        <p>Feel free to open this page on your mobile phone while you're shooting. Once you've successfully completed a shot, check the white box next to the title.</p>
                        <p>This page will store your completed shots!</p>
                    </div>
                </div>
                
                {
                    shots.map((category) => (
                        <div class="break-inside-avoid" id={category.id}>
                            <div class="max-w-1/2">
                                <hr class="border-0 h-px bg-slate-600" />

                                <div class="text-2xl pt-6 pb-8">
                                    {category.data.title}
                                </div>
                            </div>

                            <ul class="space-y-10 md:space-y-14">
                            {category.data.shots.map((shot) => (
                                <li class="space-y-2 shoot-group">
                                    <label class="inline-flex items-start gap-3 text-lg! hover:cursor-pointer">
                                        <input
                                            type="checkbox"
                                            id={slugify(shot.title)}
                                            onchange={`setShot("${slugify(shot.title)}", this)`}
                                            class="mt-1"
                                        />
                                        <span>{shot.title}</span>
                                    </label>

                                    <div class="ml-8">
                                        {shot.description}
                                    </div>

                                    {shot.examples && (
                                        <div class="space-y-3">
                                            <a
                                                href="#"
                                                class="ml-8 underline block"
                                                onclick={`event.preventDefault(); document.getElementById('dialog${slugify(shot.title)}').showModal()`}
                                            >
                                                See Examples
                                            </a>

                                            <a href="#" class="w-fit flex flex-row items-center gap-2 ml-8" onclick={`event.preventDefault(); document.getElementById('dialog${slugify(shot.title)}').showModal()`}>
                                                {shot.examples.slice(0,4).map((example) => (
                                                    <Image src={example.url} gallery={false} showTitle={false} class="size-12 sm:size-18 object-cover" sizes="100px" />
                                                ))}
                                                {(shot.examples.length > 4) && <div class="flex-none md:hidden">+ {shot.examples.length - 4} more</div>}
                                            </div>
                                        </div>

                                        <dialog id={`dialog${slugify(shot.title)}`} class="mx-auto mt-12 w-[90vw] h-[90vh] md:max-w-[600px] lg:max-w-[800px] text-left rounded-lg shadow-2xl animate-fade-in-scale open:backdrop:animate-fade-in-scale max-h-[800px]" >
                                            <div class="relative overflow-y flex flex-col space-y-8 p-8">
                                                <h3 class="h4">{shot.title}</h3>
                                                <div class="space-y-6">
                                                    {shot.examples.map((example) => (
                                                        <Image
                                                            src={example.url}
                                                            gallery={false}
                                                            showTitle={false}
                                                        />
                                                    ))}
                                                </div>
                                            </div>

                                            <div class="sticky bottom-0 z-10 bg-stone-200 px-8 py-6 w-full flex justify-center">
                                                <a class="w-full lg:w-fit button text-lg shadow-lg button-primary" onclick={`document.getElementById('dialog${slugify(shot.title)}').close()`}>Close</a>
                                            </div>
                                        </dialog>
                                    )}
                                </li>
                            ))}
                        </ul>
                        </div>
                    ))
                }
            </div>
        </Container>
    </Section>
</Layout>

<script is:inline>
    // get all shot checkboxes
    var allShots = document.querySelectorAll(`[type*="checkbox"]`);
    
    // for each checkbox parse the localStorage and see if there is a corresponding checkbox value
    allShots.forEach((el) => {
        var checked = JSON.parse(localStorage.getItem(el.id));
        document.getElementById(el.id).checked = checked;

        if (checked) checkedClass(el);
    });


    function setShot(id, check) {
        if (localStorage.getItem(id) === "true") {
            localStorage.removeItem(id);
            checkedClass(check);

            return;
        } else {
            localStorage.setItem(id, "true");
            checkedClass(check);
        }
    }

    function checkedClass(checkbox) {
        const parentDiv = checkbox.closest('.shoot-group');
        const checkedClass = "opacity-50";

        parentDiv.classList.toggle(checkedClass);
    }

    const dialogs = document.querySelectorAll("dialog");

    for (let dialog of dialogs) {
        dialog.addEventListener("click", (event) => {
            const dialogDimensions = dialog.getBoundingClientRect();
            if (
                event.clientX < dialogDimensions.left ||
                event.clientX > dialogDimensions.right ||
                event.clientY < dialogDimensions.top ||
                event.clientY > dialogDimensions.bottom
            ) {
                dialog.close(); // Close the dialog if the click is outside
            }
        });
    }
</script>
