---
// components
import { Icon } from "astro-icon";

// functions
import { timeAgo } from "@/functions/DateTime";

// props
export interface Props {
    post: object;
}
const { post } = Astro.props;
---

<a
    href={post.url}
    class="group relative flex flex-col items-start space-y-2"
    data-title={post.frontmatter.title}
    data-date={post.frontmatter.date}
    data-category={post.frontmatter.category}
>
    <div class="flex w-full justify-between gap-6">
        <h2 class="text-base font-semibold tracking-tight text-zinc-800 line-clamp-1 dark:text-zinc-100">
            {post.frontmatter.title}
        </h2>

        <p class="text-xs text-zinc-400 line-clamp-1 dark:text-zinc-500">
            {timeAgo(post.frontmatter.date)}
        </p>
    </div>

    <p class="text-sm text-zinc-600 line-clamp-3 dark:text-zinc-400">{post.frontmatter.excerpt}</p>

    <div aria-hidden="true" class="flex items-center gap-1 text-sm font-medium text-rose-500">
        Read article
        <Icon name="bi:chevron-right" class="h-2 w-2 stroke-current" />
    </div>
</a>
