---
// components
import Link from "@/components/Link";

// props
export interface Props {
    post: object;
}
const { post } = Astro.props;
---

<a href={`/blog/${post.slug}`} class="group relative flex flex-col items-start space-y-2" data-title={post.data.title} data-date={post.data.date} data-category={post.data.category}>
    <div class="flex w-full items-center justify-between gap-6">
        <h2 class="text-lg font-semibold tracking-tight text-neutral-800 dark:text-neutral-100">
            {post.data.title}
        </h2>
    </div>

    <p class="text-sm leading-6 text-neutral-600 line-clamp-3 dark:text-neutral-400">{post.data.excerpt}</p>

    <Link text="Read article" theme="alt" />
</a>
