---
// components
import Figure from "@/components/image/Figure";

// functions
import { formatDate } from "@/functions/DateTime";

// props
export interface Props {
    shoot: object;
}
const { shoot } = Astro.props;
---

<a
    href={shoot.url}
    class="group space-y-2"
    data-title={shoot.frontmatter.title}
    data-date={shoot.frontmatter.date}
    data-category={shoot.frontmatter.category}
    data-brand={shoot.frontmatter.brand ? shoot.frontmatter.brand : ``}
>
    <Figure
        src={shoot.frontmatter.featured}
        metadata={false}
        sizes="(min-width: 640px) 500px, 100vw"
        class="aspect-square object-cover group-hover:scale-105 duration-300 rounded-xl sm:rounded-2xl"
        figureClass="z-10 rounded-xl border-b-4 border-r-4 border-zinc-200 sm:rounded-2xl dark:border-zinc-600 bg-zinc-200 overflow-hidden"
    />

    <div>
        <div class="flex justify-between">
            <time datetime={formatDate(shoot.frontmatter.date)} class="text-xs text-zinc-400 dark:text-zinc-500">
                {formatDate(shoot.frontmatter.date, { day: "numeric", month: "long", year: "numeric" })}
            </time>

            <div class="text-xs text-zinc-400 dark:text-zinc-500">{shoot.frontmatter.category}</div>
        </div>

        <h2
            class="text-base font-semibold tracking-tight text-zinc-800 underline decoration-transparent duration-300 group-hover:decoration-zinc-800 dark:text-zinc-100"
        >
            {shoot.frontmatter.title}
        </h2>
    </div>
</a>
