---
// components
import Figure from "@/components/image/Figure";

// functions
import { formatDate } from "@/functions/DateTime";

// props
export interface Props {
    shoot: object;
}
const { shoot } = Astro.props;
---

<a
    href={shoot.url}
    class="group space-y-2"
    data-title={shoot.frontmatter.title}
    data-date={shoot.frontmatter.date}
    data-category={shoot.frontmatter.category}
    data-brand={shoot.frontmatter.brand ? shoot.frontmatter.brand : ``}>
    <Figure
        src={shoot.frontmatter.featured}
        metadata={false}
        sizes="(min-width: 640px) 500px, 100vw"
        class="aspect-square object-cover group-hover:scale-105 duration-300 rounded-sm"
        figureClass="rounded-sm overflow-hidden"
    />

    <div class="space-y-1">
        <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
            {shoot.frontmatter.title}
        </h2>
    </div>
</a>
