---
// components
import Figure from "@/components/image/Figure";

// props
export interface Props {
    shoot: object;
}
const { shoot } = Astro.props;
---

<div>
    <a
        href={`/photography/${shoot.slug}`}
        class="group space-y-2"
        data-title={shoot.data.title}
        data-date={shoot.data.date}
        data-category={shoot.data.category}
        data-brand={shoot.data.brand ? shoot.data.brand : ``}>
        <Figure
            src={shoot.data.hero}
            metadata={false}
            sizes="(min-width: 640px) 500px, 100vw"
            class="aspect-square object-cover group-hover:scale-105 duration-300 rounded-sm"
            figureClass="rounded-sm overflow-hidden"
        />

        <div class="space-y-1">
            <h2 class="h3">
                <a href={`/photography/${shoot.slug}`}>{shoot.data.title}</a>
            </h2>
        </div>
    </a>
</div>
