---
// components
import Logo from "../Logo.astro";

// config
import { siteConfig } from "@/src/config";

// data
import { Links } from "@/data/Navigation";

// props
export interface Props {
    classes?: string;
}
const { classes } = Astro.props;
---

<div x-data={`{ flyout : false }`} x-cloak>
    <button x-on:click={`flyout = true`} class:list={["flex items-center gap-2 text-sm", classes]}>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-neutral-900">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
    </button>

    <!-- overlay -->
    <div
        class="fixed inset-0 z-50 h-full w-full bg-neutral-800/40 backdrop-blur-sm"
        x-show={"flyout"}
        x-transition:enter="transition ease-out duration-150"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0">
    </div>

    <!-- panel -->
    <div
        class="fixed inset-y-0 top-0 right-0 w-5/6 z-50 origin-right bg-white p-8"
        x-show={"flyout"}
        x-on:click.outside={"flyout = false"}
        x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
        x-transition:enter-start="translate-x-full"
        x-transition:enter-end="translate-x-0"
        x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
        x-transition:leave-start="translate-x-0"
        x-transition:leave-end="translate-x-full">
        <div class="flex flex-row-reverse items-center justify-between">
            <button aria-label="Close menu" class="-m-1 p-1" x-on:click={`flyout = false`}>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-neutral-600">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>

            <Logo />
        </div>

        <nav class="space-y-6 mt-8">
            <ul class="text-lg text-neutral-800 space-y-5">
                {
                    Links.map((l) => {
                        if (l.submenu) {
                            return (
                                <li>
                                    <a href={l.url} title={l.display}>
                                        {l.display}
                                    </a>

                                    <ul class="ml-2 mt-3 space-y-2 text-base">
                                        {l.submenu.map((s) => (
                                            <li>
                                                <a href={s.url}>&ndash;&nbsp;{s.title}</a>
                                            </li>
                                        ))}
                                    </ul>
                                </li>
                            );
                        } else {
                            return (
                                <li>
                                    <a href={l.url} title={l.display}>
                                        {l.display}
                                    </a>
                                </li>
                            );
                        }
                    })
                }
            </ul>

            <hr class="h-px bg-neutral-500 border-0" />

            <div class="flex justify-between items-center">
                <ul class="space-y-3 text-neutral-800">
                    <li class="space-x-2">
                        <strong>Email</strong>
                        <a href={`mailto:${siteConfig.email}`}>
                            {siteConfig.email}
                        </a>
                    </li>
                    <li class="space-x-2">
                        <strong>Text or Call</strong>
                        <a href={`tel:${siteConfig.phone.base}`}>
                            {siteConfig.phone.formatted}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
