---
// components
import Container from "@/components/content/Container";
import Logo from "@/components/Logo";
import MobileNavigation from "@/components/navigation/MobileNavigation";
// data
import { Links } from "@/data/Navigation";
---

<header id="navigation">
    <Container>
        <section class="">
            <div x-data="{ open: false }" class="flex flex-col py-10 md:items-center md:justify-between md:flex-row border-b border-regent-900/10">
                <div class="flex flex-row items-center justify-between text-regent-900 text-sm">
                    <Logo class="h-12 w-auto text-regent-900" />

                    <button @click="open = !open" class="inline-flex items-center justify-center p-2 text-regent-900 hover:text-regent-900 focus:outline-none focus:text-regent-900 md:hidden">
                        <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path :class="{'hidden': open, 'inline-flex': !open }" class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                            </path>
                            <path :class="{'hidden': !open, 'inline-flex': open }" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>

                <nav :class="{'flex': open, 'hidden': !open}" class="flex-col items-center justify-center hidden md:pb-0 md:flex md:flex-row">
                    {
                        Links.map((l) => (
                            <a class="px-2 lg:px-6 py-2 md:px-3 text-base text-regent-900 font-medium hover:text-regent-900/70" href={l.url}>
                                {l.display}
                            </a>
                        ))
                    }
                </nav>

                <div class="hidden md:inline-flex items-center gap-2 list-none">
                    <a
                        href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/e2d91f04-5944-495e-a679-b3df5c08b196"
                        class="inline-flex items-center justify-center px-4 py-2 text-sm text-white bg-regent-900 rounded-full group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-white/5 active:bg-fuchsia-50 active:text-[#0c1824] focus-visible:outline-fuchsia-50">
                        Buy Snowpeak
                    </a>
                </div>
            </div>
        </section>
    </Container>
</header>

<!-- <div class="flex justify-between">
        <div class="flex items-center justify-end">
            <MobileNavigation classes="sm:hidden" />

            <nav class="hidden sm:flex items-center sm:gap-4 md:gap-6 lg:gap-10 text-neutral-900 md:text-lg">
                {
                    Links.map((l) => {
                        if (l.submenu) {
                            return (
                                <div
                                    x-data={`{ ${l.display} : true }`}
                                    x-on:mouseenter={`${l.display} = true`}
                                    x-on:mouseover.away={`${l.display} = false`}
                                    x-on:click.outside={`${l.display} = false`}
                                    class="relative">
                                    <a href={l.url} class="flex gap-1 items-center" x-on:mouseover={`${l.display} = true`}>
                                        {l.display}
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            class="w-4 h-4 transition duration-200"
                                            x-bind:class={`${l.display} && "rotate-180"`}>
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                                        </svg>
                                    </a>

                                    <div
                                        class="absolute right-0 mt-2 z-10 flex shadow-2xl"
                                        x-cloak
                                        x-show={`${l.display}`}
                                        x-transition:enter="transition ease-out duration-300"
                                        x-transition:enter-start="opacity-0"
                                        x-transition:enter-end="opacity-100 scale-100"
                                        x-transition:leave="transition ease-in duration-200"
                                        x-transition:leave-start="opacity-100 scale-100"
                                        x-transition:leave-end="opacity-0">
                                        <div class="w-[325px] border border-neutral-600">
                                            <div class="divide-y divide-neutral-600">
                                                {l.submenu.map((s) => (
                                                    <div class="group relative bg-neutral-50 hover:bg-neutral-100 py-4 px-6 transition duration-300">
                                                        <a href={s.url} class="text-base font-semibold text-neutral-900">
                                                            {s.title}
                                                            <span class="absolute inset-0" />
                                                        </a>
                                                        <p class="text-sm text-neutral-600">{s.description.short}</p>
                                                    </div>
                                                ))}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            );
                        } else {
                            return (
                                <a href={l.url} title={l.display}>
                                    {l.display}
                                </a>
                            );
                        }
                    })
                }
                <a href="/contact" class="button button-ghost">Contact Me</a>
            </nav>
        </div>
    </div> -->
