---
// components
import Container from "@/components/Container";

// data
import Navigation from "@/data/navigation";
---

<div class="sticky top-0 z-10 shadow-2xl">
    <div class="bg-stone-50 py-8">
        <Container>
            <nav class="flex flex-row justify-center items-center gap-12 uppercase tracking-normal">
                {
                    Navigation.map((l) => (
                        <a href={l.url} title={l.display} class="text-stone-800 hover:underline hover:underline-offset-4">
                            {l.display}
                        </a>
                    )).slice(0, 2)
                }
                <a href="/" title="Erik S. Olsen" class="font-heading font-black uppercase text-4xl">Erik Olsen</a>
                {
                    Navigation.map((l) => (
                        <a href={l.url} title={l.display} class="text-stone-800 hover:underline hover:underline-offset-4">
                            {l.display}
                        </a>
                    )).slice(2, 4)
                }
            </nav>
        </Container>
    </div>
</div>
