---
// props
export interface Props {
    post: object;
    size?: "small" | "large";
    border: boolean;
}
const { post, size = "large", border = false } = Astro.props;

// imports
import { timeAgo } from "@/functions/DateTime";
---

<div class:list={[border && "border p-6", "@container group relative flex flex-col items-start space-y-5"]}>
    <div class="flex flex-col gap-1">
        <a href={`/blog/${post.slug}`} title={post.data.title}>
            <h2 class:list={[size == "large" ? "text-3xl" : "text-2xl", "tracking-tight line-clamp-1 font-semibold"]}>
                {post.data.title}
            </h2>
            <span class="absolute inset-0"></span>
        </a>

        <div class="w-full flex gap-2 items-center text-neutral-500">
            <time>{timeAgo(post.data.date)}</time>
            <div>&middot;</div>
            <div>{post.data.category}</div>
        </div>
    </div>

    <p class:list={[size == "large" ? "text-xl" : "text-lg", "leading-8 text-neutral-600 line-clamp-3"]}>
        {post.data.excerpt}
    </p>

    {!border && <div class:list={[size == "large" ? "text-xl" : "text-lg", "button button-ghost"]}>Keep Reading</div>}
</div>
