---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import { siteConfig } from "@/config";
import Container from "@/components/content/Container";
import Image from "@/components/image/Image";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";

// get images
const images = [
	"https://cdn.cosmicjs.com/36e7ea90-7604-11ef-915f-61acd7484848-911s-targa_013.jpg",
	"https://cdn.cosmicjs.com/1a220a80-7604-11ef-915f-61acd7484848-treaty-oak-car-show-2019_005.jpg",
	"https://cdn.cosmicjs.com/51b93880-7602-11ef-915f-61acd7484848-coffee-with-cars-2019_007.jpg",
	"https://cdn.cosmicjs.com/24d00740-7602-11ef-915f-61acd7484848-2019-conda-green-911e_014.jpg",
	"https://cdn.cosmicjs.com/566c07a0-7601-11ef-915f-61acd7484848-porsche-930-2018_011.jpg",
	"https://cdn.cosmicjs.com/2a223490-760a-11ef-915f-61acd7484848-lit-show-2022_019.jpg",
];
const links = [
	{
		heading: "Pricing",
		description: "Pricing options tailored to your automotive photography needs.",
		cta: "See Pricing",
		url: "/photography/pricing",
	},
	{
		heading: "FAQ",
		description: "Expert answers to all your car photography inquiries.",
		cta: "Read FAQs",
		url: "/photography/faq",
	},
	{
		heading: "Shoots",
		description: "Browse my recent snapshots captured across Texas.",
		cta: "More Shoots",
		url: "/photography/shoots",
	},
];
---

<Layout footerPadding={false}>
	<Section>
		<Container>
			<Heading>
				<h1 slot="heading">Whoops.</h1>
				<div slot="description" class="space-y-8">
					<p>My apologies, it looks like that page is missing. If you think I can help, shoot me an email at <a href={`mailto:${siteConfig.email.base}`} class="underline">{siteConfig.email.base}</a>.</p>
				</div>
			</Heading>
		</Container>

		<Container>
			<div class="grid grid-cols-1 sm:grid-cols-3 gap-y-6 sm:gap-4 md:gap-6">
				{
					links.map((l) => (
						<a href={l.url} class="block space-y-3 bg-white border border-slate-200 rounded p-6">
							<p class="text-gray-900 font-medium lg:text-2xl text-xl">{l.heading}</p>
							<p class="text-gray-800 text-base sm:text-sm md:text-base tracking-wide text-balance">{l.description}</p>
						</a>
					))
				}
			</div>
		</Container>

		<Container size="large">
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
				{images.map((i) => <Image src={i} figureClass="shadow-xl" class="object-cover w-full h-full" rounded={true} sizes="(min-width: 768px) 33vw, (min-width: 1024px) 25vw, 50vw" />)}
			</div>
		</Container>
	</Section>
</Layout>
