---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Link from "@/components/Link";

// data
import About from "@/data/About";
import Projects from "@/data/Projects";
import { getImage } from "@/functions/Media";

// images
const profile = await getImage("/me/me_06.jpeg");
---

<BaseLayout
    title="Erik S. Olsen - I'm a Digital Marketing Expert located in Austin, TX"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. My expertise is designing and creating large-scale, data-driven marketing campaigns for e-commerce businesses."
>
    <div class="space-y-16 sm:space-y-20">
        <Container>
            <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
                <div class="lg:pl-20">
                    <div class="max-w-xs px-2.5 lg:max-w-none">
                        <Figure
                            src={profile.src}
                            metadata={false}
                            alt="Erik S. Olsen"
                            sizes="(min-width: 1024px) 32rem, 20rem"
                            class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800"
                        />
                    </div>
                </div>
                <div class="lg:order-first lg:row-span-2">
                    <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                        I'm Erik Olsen. I'm a digital marketer living in Austin, TX
                    </h1>

                    <div class="mt-6 space-y-7 text-base text-zinc-600 dark:text-zinc-400">
                        <div <p>
                            For fifteen years, I've run digital marketing campaigns. Lately, I've been in charge of revenue growth at ICG America,
                            generating $50 million in direct-to-consumer sales.
                        </div>
                        <p>
                            Finding creative ways to combine cutting-edge tools, deep targeting and personalized messaging is what drives me each day
                            at work. It's what has allowed me to build, scale and maintain high-performing acquisition campaigns. Whatever the
                            marketing channel, my approach is always the same: use a data-driven approach with a dash of automation to quickly scale
                            successful marketing campaigns.
                        </p>
                        <p>
                            Recently I've created an automated reporting system using Google Sheets and the Analytics & Ads API add-ons. I've also
                            taken our CRO program in-house and we're running 3-5 large scale tests each month.
                        </p>

                        <div class="flex gap-16">
                            <div class="space-y-3">
                                <div class="text-base font-semibold text-zinc-900 dark:text-zinc-100">Industry Knowledge</div>
                                <ul class="space-y-1 text-sm text-stone-700 dark:text-zinc-400">
                                    {About.industry.map((a) => <li>{a}</li>)}
                                </ul>
                            </div>

                            <div class="space-y-3">
                                <div class="text-base font-semibold text-zinc-900 dark:text-zinc-100">Marketing Tools</div>
                                <ul class="space-y-1 text-sm text-stone-700 dark:text-zinc-400">
                                    {About.tools.map((a) => <li>{a}</li>)}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:pl-20">
                    <div class="flex flex-col gap-12">
                        <div class="space-y-8">
                            {
                                Projects.map((p) => (
                                    <div class="space-y-2 rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
                                        <div class="flex items-center gap-2">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="16"
                                                height="16"
                                                fill="currentColor"
                                                class="h-4 w-4 text-zinc-900 dark:text-zinc-100"
                                                viewBox="0 0 16 16"
                                            >
                                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                            </svg>
                                            <p class="text-base font-semibold text-zinc-900 dark:text-zinc-100">{p.name}</p>
                                        </div>
                                        <div class="line-clamp-3 text-sm text-stone-700 dark:text-zinc-400">{p.description}</div>
                                        <div>
                                            <Link text="View on GitHub" url={p.url} />
                                        </div>
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                </div>
            </div>
        </Container>
    </div>
</BaseLayout>
