---
export const prerender = true;

// layout
import Layout from "@/layouts/BaseLayout";

// components
import { Icon } from "astro-icon";
import Container from "@/components/content/Container";
import Cta from "@/components/Cta";
import Heading from "@/components/content/Heading";

// data
import { Career, Marketing, Multivariate, Development } from "../data/About";
---

<Layout
    title="Erik S. Olsen - I'm a Digital Marketing Expert located in Austin, TX"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. My expertise is designing and creating large-scale, data-driven marketing campaigns for e-commerce businesses.">
    <Container classes="mb-48">
        <Heading>
            <h1 slot="heading">
                I do digital marketing<br /> & web development.
            </h1>
            <p slot="description">
                For fifteen years, I've run digital marketing campaigns. Lately,
                I've been in charge of revenue growth at ICG America, generating
                $50 million in direct-to-consumer sales.
            </p>
        </Heading>
    </Container>

    <!-- career path -->
    <Container classes="mb-60">
        <ol class="sm:grid grid-cols-3">
            {
                Career.map((c) => (
                    <li>
                        <div class="flex items-center">
                            <div
                                class:list={[
                                    "flex items-center justify-center rounded-full h-10 w-10 ring-8",
                                    c.iconBg,
                                ]}>
                                <div class="relative flex items-center justify-center  bg-white w-full h-full rounded-full p-2 overflow-hidden">
                                    <Icon
                                        name={`jobs/${c.icon}`}
                                        class:list={["absolute", c.size]}
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="mt-6 space-y-3">
                            <h3>{c.title}</h3>
                            <div class="text-neutral-500">{c.dates}</div>

                            <p class="pr-12 text-lg dark:text-gray-400 line-clamp-3">
                                {c.summary}
                            </p>
                        </div>
                    </li>
                ))
            }
        </ol>
    </Container>

    <Container>
        <div class="space-y-48">
            <!-- marketing experience -->
            <div class="grid grid-cols-2 gap-12">
                <div class="flex flex-col justify-between">
                    <div>
                        <hr class="h-px bg-neutral-800 border-0 mb-12" />
                        <h2>{Marketing.title}</h2>
                    </div>
                </div>

                <div class="space-y-24">
                    <div class="space-y-6 text-2xl leading-10">
                        <p>
                            Finding creative ways to combine cutting-edge tools,
                            deep targeting and personalized messaging is what
                            drives me each day at work. It's what has allowed me
                            to build, scale and maintain high-performing
                            acquisition campaigns.
                        </p>
                        <p>
                            Whatever the marketing channel, my approach is
                            always the same: use a data-driven approach with a
                            dash of automation to quickly scale successful
                            marketing campaigns.
                        </p>
                        <p>
                            Recently I've been managing our transition from UA
                            to GA4.
                        </p>
                    </div>

                    <div class="text-lg space-y-2">
                        <div class="space-y-8">
                            <div>
                                <div class="font-semibold">
                                    Marketing Knowledge
                                </div>
                                <ul class="comma-list">
                                    {
                                        Marketing.knowledge.map((i) => (
                                            <li>{i}</li>
                                        ))
                                    }
                                </ul>
                            </div>

                            <div>
                                <div class="font-semibold">
                                    Marketing Tools I Use
                                </div>
                                <ul class="comma-list">
                                    {Marketing.tools.map((t) => <li>{t}</li>)}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- multivariate experience -->
            <div class="grid grid-cols-2 gap-12">
                <div class="flex flex-col justify-between">
                    <div>
                        <hr class="h-px bg-neutral-800 border-0 mb-12" />
                        <h2>{Multivariate.title}</h2>
                    </div>
                </div>

                <div class="space-y-24">
                    <div class="space-y-6 text-2xl leading-10">
                        <p>
                            As a core memeber of the testing team, I work to
                            push tests from design through development and into
                            active testing.
                        </p>
                    </div>

                    <div class="text-lg space-y-2">
                        <div class="space-y-8">
                            <div>
                                <div class="font-semibold">
                                    Testing Knowledge
                                </div>
                                <ul class="comma-list">
                                    {
                                        Multivariate.knowledge.map((i) => (
                                            <li>{i}</li>
                                        ))
                                    }
                                </ul>
                            </div>

                            <div>
                                <div class="font-semibold">
                                    Testing Tools I Use
                                </div>
                                <ul class="comma-list">
                                    {
                                        Multivariate.tools.map((t) => (
                                            <li>{t}</li>
                                        ))
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- web development experience -->
            <div class="grid grid-cols-2 gap-12">
                <div class="flex flex-col justify-between">
                    <div>
                        <hr class="h-px bg-neutral-800 border-0 mb-12" />
                        <h2>{Development.title}</h2>
                    </div>
                </div>

                <div class="space-y-24">
                    <div class="space-y-6 text-2xl leading-10"></div>

                    <div class="text-lg space-y-2">
                        <div class="space-y-8">
                            <div>
                                <div class="font-semibold">
                                    Development Knowledge
                                </div>
                                <ul class="comma-list">
                                    {
                                        Development.knowledge.map((i) => (
                                            <li>{i}</li>
                                        ))
                                    }
                                </ul>
                            </div>

                            <div>
                                <div class="font-semibold">
                                    Testing Tools I Use
                                </div>
                                <ul class="comma-list">
                                    {Development.tools.map((t) => <li>{t}</li>)}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Container>

    <Cta />
</Layout>
