---
export const prerender = true;

// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Cta from "@/components/Cta";
import Heading from "@/components/content/Heading";

// data
import { Career, Industry, Tools } from "../data/About";
---

<Layout
    title="Erik S. Olsen - I'm a Digital Marketing Expert located in Austin, TX"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. My expertise is designing and creating large-scale, data-driven marketing campaigns for e-commerce businesses.">
    <Container classes="mb-48">
        <Heading>
            <h1 slot="heading">
                I do digital marketing<br /> & web development.
            </h1>
            <p slot="description">
                For fifteen years, I've run digital marketing campaigns. Lately,
                I've been in charge of revenue growth at ICG America, generating
                $50 million in direct-to-consumer sales.
            </p>
        </Heading>
    </Container>

    <div class="space-y-48">
        <Container>
            <ol class="sm:grid grid-cols-3">
                {
                    Career.map((c) => (
                        <li>
                            <div class="flex items-center">
                                <div
                                    class:list={[
                                        "z-10 flex items-center text-2xl font-bold justify-center p-6 w-6 h-6 rounded-full ring-0 ring-white sm:ring-8 shrink-0",
                                        c.colorBg,
                                        c.colorText,
                                    ]}>
                                    {c.short}
                                </div>
                                <div class="hidden sm:flex w-full h-px bg-neutral-200 border-0 dark:bg-gray-700" />
                            </div>

                            <div class="mt-6 space-y-3">
                                <h3>{c.title}</h3>
                                <div class="text-neutral-500">{c.dates}</div>

                                <p class="pr-12 text-lg dark:text-gray-400 line-clamp-3">
                                    {c.summary}
                                </p>
                            </div>
                        </li>
                    ))
                }
            </ol>
        </Container>

        <Container classes="mb-48">
            <div class="grid grid-cols-2 gap-12">
                <div class="flex flex-col justify-between">
                    <div>
                        <hr class="h-px bg-neutral-800 border-0 mb-12" />
                        <h2>My Experience</h2>
                    </div>

                    <div class="text-lg space-y-2">
                        <div class="space-y-8">
                            <div>
                                <div class="font-semibold">Tools I Use</div>
                                <ul class="comma-list">
                                    {Tools.map((t) => <li>{t}</li>)}
                                </ul>
                            </div>

                            <div>
                                <div class="font-semibold">
                                    Marketing Knowledge
                                </div>
                                <ul class="comma-list">
                                    {Industry.map((i) => <li>{i}</li>)}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="space-y-6 text-2xl leading-10">
                    <p>
                        Finding creative ways to combine cutting-edge tools,
                        deep targeting and personalized messaging is what drives
                        me each day at work. It's what has allowed me to build,
                        scale and maintain high-performing acquisition
                        campaigns.
                    </p>
                    <p>
                        Whatever the marketing channel, my approach is always
                        the same: use a data-driven approach with a dash of
                        automation to quickly scale successful marketing
                        campaigns.
                    </p>
                    <p>
                        Recently I've created an automated reporting system
                        using Google Sheets and the Analytics & Ads API add-ons.
                        I've also taken our CRO program in-house and we're
                        running 3-5 large scale tests each month.
                    </p>
                </div>
            </div>
        </Container>
    </div>

    <Cta />
</Layout>
