---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Project from "@/components/card/Project";

// config
import { siteConfig } from "@/src/config";

// data
import About from "@/data/About";
import Projects from "@/data/Projects";
---

<BaseLayout
    title="Erik S. Olsen - I'm a Digital Marketing Expert located in Austin, TX"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. My expertise is designing and creating large-scale, data-driven marketing campaigns for e-commerce businesses.">
    <Container>
        <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
            <div class="lg:pl-20">
                <div class="max-w-xs px-2.5 lg:max-w-none">
                    <Figure
                        src="/me/me_07.jpg"
                        metadata={false}
                        alt={siteConfig.name}
                        sizes="(min-width: 1024px) 32rem, 20rem"
                        class="aspect-square object-top rounded-sm bg-zinc-100 object-cover dark:bg-zinc-800"
                    />
                </div>
            </div>

            <div class="space-y-8 lg:order-first lg:row-span-2">
                <h1>Hey! I'm a digital marketer living in Austin, TX</h1>

                <div class="prose">
                    <p>
                        For fifteen years, I've run digital marketing campaigns. Lately, I've been in charge of revenue growth at ICG America,
                        generating $50 million in direct-to-consumer sales.
                    </p>
                    <p>
                        Finding creative ways to combine cutting-edge tools, deep targeting and personalized messaging is what drives me each day at
                        work. It's what has allowed me to build, scale and maintain high-performing acquisition campaigns. Whatever the marketing
                        channel, my approach is always the same: use a data-driven approach with a dash of automation to quickly scale successful
                        marketing campaigns.
                    </p>
                    <p>
                        Recently I've created an automated reporting system using Google Sheets and the Analytics & Ads API add-ons. I've also taken
                        our CRO program in-house and we're running 3-5 large scale tests each month.
                    </p>

                    <div class="flex gap-16">
                        <div>
                            <div>Things I Know</div>
                            <ul class="text-sm">
                                {About.industry.map((a) => <li>{a}</li>)}
                            </ul>
                        </div>

                        <div>
                            <div>Things I Use</div>
                            <ul class="text-sm">
                                {About.tools.map((a) => <li>{a}</li>)}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:pl-20">
                <div class="flex flex-col gap-12">
                    {Projects.map((p) => <Project project={p} />)}
                </div>
            </div>
        </div>
    </Container>
</BaseLayout>
