---
import Layout from "@/layouts/BaseLayout";
import { getCollection } from "astro:content";
import { cosmic } from "@/library/cosmic";

const astroPaths = [
	"shoots/2017/2017-11-03-cota-classic/cota-classic-2017_001",
	"shoots/2017/2017-11-03-cota-classic/cota-classic-2017_002",
	"shoots/2017/2017-11-03-cota-classic/cota-classic-2017_003",
	"shoots/2017/2017-11-03-cota-classic/cota-classic-2017_004",
	"shoots/2018/2018-05-08-ice-metallic-green-930/porsche-930-2018_001",
	"shoots/2018/2018-05-08-ice-metallic-green-930/porsche-930-2018_002",
	"shoots/2018/2018-05-08-ice-metallic-green-930/porsche-930-2018_003",
	"shoots/2018/2018-05-08-ice-metallic-green-930/porsche-930-2018_004",
	"shoots/2018/2018-05-08-ice-metallic-green-930/porsche-930-2018_005",
	"shoots/2018/2018-05-08-ice-metallic-green-930/porsche-930-2018_006",
	"shoots/2018/2018-05-08-ice-metallic-green-930/porsche-930-2018_007",
	"shoots/2018/2018-05-08-ice-metallic-green-930/porsche-930-2018_008",
	"shoots/2018/2018-05-08-ice-metallic-green-930/porsche-930-2018_009",
	"shoots/2018/2018-05-08-ice-metallic-green-930/porsche-930-2018_010",
	"shoots/2018/2018-05-08-ice-metallic-green-930/porsche-930-2018_011",
	"shoots/2018/2018-08-26-coffee-with-cars/coffee-with-cars-2018_001",
	"shoots/2018/2018-08-26-coffee-with-cars/coffee-with-cars-2018_002",
	"shoots/2018/2018-08-26-coffee-with-cars/coffee-with-cars-2018_003",
	"shoots/2018/2018-08-26-coffee-with-cars/coffee-with-cars-2018_004",
	"shoots/2018/2018-08-26-coffee-with-cars/coffee-with-cars-2018_005",
	"shoots/2018/2018-08-26-coffee-with-cars/coffee-with-cars-2018_006",
	"shoots/2018/2018-08-26-coffee-with-cars/coffee-with-cars-2018_007",
	"shoots/2018/2018-08-26-coffee-with-cars/coffee-with-cars-2018_008",
	"shoots/2018/2018-08-26-coffee-with-cars/coffee-with-cars-2018_009",
	"shoots/2018/2018-08-26-coffee-with-cars/coffee-with-cars-2018_010",
	"shoots/2018/2018-08-26-coffee-with-cars/coffee-with-cars-2018_011",
	"shoots/2019/2019-03-23-porsches-at-the-shop/2019-porsches-at-the-shop_001",
	"shoots/2019/2019-03-23-porsches-at-the-shop/2019-porsches-at-the-shop_002",
	"shoots/2019/2019-03-23-porsches-at-the-shop/2019-porsches-at-the-shop_003",
	"shoots/2019/2019-03-23-porsches-at-the-shop/2019-porsches-at-the-shop_004",
	"shoots/2019/2019-03-23-porsches-at-the-shop/2019-porsches-at-the-shop_005",
	"shoots/2019/2019-03-23-porsches-at-the-shop/2019-porsches-at-the-shop_006",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_001",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_002",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_003",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_004",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_005",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_006",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_007",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_008",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_009",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_010",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_011",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_012",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_013",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_014",
	"shoots/2019/2019-03-26-conda-green-911e/2019-conda-green-911e_015",
	"shoots/2019/2019-05-20-purple-porsche-shoot/purple-911sc-shoot_001",
	"shoots/2019/2019-05-20-purple-porsche-shoot/purple-911sc-shoot_002",
	"shoots/2019/2019-05-20-purple-porsche-shoot/purple-911sc-shoot_003",
	"shoots/2019/2019-05-20-purple-porsche-shoot/purple-911sc-shoot_004",
	"shoots/2019/2019-05-20-purple-porsche-shoot/purple-911sc-shoot_005",
	"shoots/2019/2019-05-20-purple-porsche-shoot/purple-911sc-shoot_006",
	"shoots/2019/2019-05-20-purple-porsche-shoot/purple-911sc-shoot_007",
	"shoots/2019/2019-05-20-purple-porsche-shoot/purple-911sc-shoot_008",
	"shoots/2019/2019-05-20-purple-porsche-shoot/purple-911sc-shoot_009",
	"shoots/2019/2019-05-20-purple-porsche-shoot/purple-911sc-shoot_010",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_001",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_002",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_003",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_004",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_005",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_006",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_007",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_008",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_009",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_010",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_011",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_012",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_013",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_014",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_015",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_016",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_017",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_018",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_019",
	"shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_020",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_001",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_002",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_003",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_004",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_005",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_006",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_007",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_008",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_009",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_010",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_011",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_012",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_013",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_014",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_015",
	"shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_016",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_001",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_002",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_003",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_004",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_005",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_006",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_007",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_008",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_009",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_010",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_011",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_012",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_013",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_014",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_015",
	"shoots/2019/2019-08-17-signal-yellow-911/911s-targa_016",
	"shoots/2019/2019-08-19-silver-porsche-911s/1977-porsche-911s-silver_001",
	"shoots/2019/2019-08-19-silver-porsche-911s/1977-porsche-911s-silver_002",
	"shoots/2019/2019-08-19-silver-porsche-911s/1977-porsche-911s-silver_003",
	"shoots/2019/2019-08-19-silver-porsche-911s/1977-porsche-911s-silver_004",
	"shoots/2019/2019-08-19-silver-porsche-911s/1977-porsche-911s-silver_005",
	"shoots/2019/2019-08-19-silver-porsche-911s/1977-porsche-911s-silver_006",
	"shoots/2019/2019-08-19-silver-porsche-911s/1977-porsche-911s-silver_007",
	"shoots/2019/2019-08-19-silver-porsche-911s/1977-porsche-911s-silver_008",
	"shoots/2019/2019-08-19-silver-porsche-911s/1977-porsche-911s-silver_009",
	"shoots/2019/2019-08-19-silver-porsche-911s/1977-porsche-911s-silver_010",
	"shoots/2019/2019-08-19-silver-porsche-911s/1977-porsche-911s-silver_011",
	"shoots/2019/2019-12-28-shop-shoot/shop-shoot-2019_001",
	"shoots/2019/2019-12-28-shop-shoot/shop-shoot-2019_002",
	"shoots/2019/2019-12-28-shop-shoot/shop-shoot-2019_003",
	"shoots/2019/2019-12-28-shop-shoot/shop-shoot-2019_004",
	"shoots/2020/2020-01-26-coffee-with-cars/coffee-with-cars-2020_001",
	"shoots/2020/2020-01-26-coffee-with-cars/coffee-with-cars-2020_002",
	"shoots/2020/2020-01-26-coffee-with-cars/coffee-with-cars-2020_003",
	"shoots/2020/2020-01-26-coffee-with-cars/coffee-with-cars-2020_004",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_001",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_002",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_003",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_004",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_005",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_006",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_007",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_008",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_009",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_010",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_011",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_012",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_013",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_014",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_015",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_016",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_017",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_018",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_019",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_020",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_021",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_022",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_023",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_024",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_025",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_026",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_027",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_028",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_029",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_030",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_031",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_032",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_033",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_034",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_035",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_036",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_037",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_038",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_039",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_040",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_041",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_042",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_043",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_044",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_045",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_046",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_047",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_048",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_049",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_050",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_051",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_052",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_053",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_054",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_055",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_056",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_057",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_058",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_059",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_060",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_061",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_062",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_063",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_064",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_065",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_066",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_067",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_068",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_069",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_070",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_071",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_072",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_073",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_074",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_075",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_076",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_077",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_078",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_079",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_080",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_081",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_082",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_083",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_084",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_085",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_086",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_087",
	"shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_088",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_001",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_002",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_003",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_004",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_005",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_006",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_007",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_008",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_009",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_010",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_011",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_012",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_013",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_014",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_015",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_016",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_017",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_018",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_019",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_020",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_021",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_022",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_023",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_024",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_025",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_026",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_027",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_028",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_029",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_030",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_031",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_032",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_033",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_034",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_035",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_036",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_037",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_038",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_039",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_040",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_041",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_042",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_043",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_044",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_045",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_046",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_047",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_048",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_049",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_050",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_051",
	"shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_052",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_001",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_002",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_003",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_004",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_005",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_006",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_007",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_008",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_009",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_010",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_011",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_012",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_013",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_014",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_015",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_016",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_017",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_018",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_019",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_020",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_021",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_022",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_023",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_024",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_025",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_026",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_027",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_028",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_029",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_030",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_031",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_032",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_033",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_034",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_035",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_036",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_037",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_038",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_039",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_040",
	"shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_041",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_001",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_002",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_003",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_004",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_005",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_006",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_007",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_008",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_009",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_010",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_011",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_012",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_013",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_014",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_015",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_016",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_017",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_018",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_019",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_020",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_021",
	"shoots/2020/2020-03-01-lit-show-day-four/lit-show-2020_022",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_001",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_002",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_003",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_004",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_005",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_006",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_007",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_008",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_009",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_010",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_011",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_012",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_013",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_014",
	"shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_015",
	"shoots/2020/2020-05-03-jaguar-e-type/1966-jaguar-xke-series-1_001",
	"shoots/2020/2020-05-03-jaguar-e-type/1966-jaguar-xke-series-1_002",
	"shoots/2020/2020-05-03-jaguar-e-type/1966-jaguar-xke-series-1_003",
	"shoots/2020/2020-05-03-jaguar-e-type/1966-jaguar-xke-series-1_004",
	"shoots/2020/2020-05-03-jaguar-e-type/1966-jaguar-xke-series-1_005",
	"shoots/2020/2020-05-03-jaguar-e-type/1966-jaguar-xke-series-1_006",
	"shoots/2020/2020-05-03-jaguar-e-type/1966-jaguar-xke-series-1_007",
	"shoots/2021/2021-06-12-pca-event/2021-pca-event_001",
	"shoots/2021/2021-06-12-pca-event/2021-pca-event_002",
	"shoots/2021/2021-06-12-pca-event/2021-pca-event_003",
	"shoots/2021/2021-06-12-pca-event/2021-pca-event_004",
	"shoots/2021/2021-06-12-pca-event/2021-pca-event_005",
	"shoots/2021/2021-06-12-pca-event/2021-pca-event_006",
	"shoots/2021/2021-06-12-pca-event/2021-pca-event_007",
	"shoots/2021/2021-06-12-pca-event/2021-pca-event_008",
	"shoots/2021/2021-06-12-pca-event/2021-pca-event_009",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_001",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_002",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_003",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_004",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_005",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_006",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_007",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_008",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_009",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_010",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_011",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_012",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_013",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_014",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_015",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_016",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_017",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_018",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_019",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_020",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_021",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_022",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_023",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_024",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_025",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_026",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_027",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_028",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_029",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_030",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_031",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_032",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_033",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_034",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_035",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_036",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_037",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_038",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_039",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_040",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_041",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_042",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_043",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_044",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_045",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_046",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_047",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_048",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_049",
	"shoots/2021/2021-06-23-porsche-930/porsche-930-2021_050",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_001",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_002",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_003",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_004",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_005",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_006",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_007",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_008",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_009",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_010",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_011",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_012",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_013",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_014",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_015",
	"shoots/2021/2021-10-24-bahia-red-porsche-911s/1973-porsche-911s-bahia-red_016",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_001",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_002",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_003",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_004",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_005",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_006",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_007",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_008",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_009",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_010",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_011",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_012",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_013",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_014",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_015",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_016",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_017",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_018",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_019",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_020",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_021",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_022",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_023",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_024",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_025",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_026",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_027",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_028",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_029",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_030",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_031",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_032",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_033",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_034",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_035",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_036",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_037",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_038",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_039",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_040",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_041",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_042",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_043",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_044",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_045",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_046",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_047",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_048",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_049",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_050",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_051",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_052",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_053",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_054",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_055",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_056",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_057",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_058",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_059",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_060",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_061",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_062",
	"shoots/2022/2022-02-24-lit-show-day-one/lit-show-2022_063",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_001",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_002",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_003",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_004",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_005",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_006",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_007",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_008",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_009",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_010",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_011",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_012",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_013",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_014",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_015",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_016",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_017",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_018",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_019",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_020",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_021",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_022",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_023",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_024",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_025",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_026",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_027",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_028",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_029",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_030",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_031",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_032",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_033",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_034",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_035",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_036",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_037",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_038",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_039",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_040",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_041",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_042",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_043",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_044",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_045",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_046",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_047",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_048",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_049",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_050",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_051",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_052",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_053",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_054",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_055",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_056",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_057",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_058",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_059",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_060",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_061",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_062",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_063",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_064",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_065",
	"shoots/2022/2022-02-25-lit-show-day-two/lit-show-2022_066",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_001",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_002",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_003",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_004",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_005",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_006",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_007",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_008",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_009",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_010",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_011",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_012",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_013",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_014",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_015",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_016",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_017",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_018",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_019",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_020",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_021",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_022",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_023",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_024",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_025",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_026",
	"shoots/2022/2022-02-26-lit-show-day-three/lit-show-2022_027",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_001",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_002",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_003",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_004",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_005",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_006",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_007",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_008",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_009",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_010",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_011",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_012",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_013",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_014",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_015",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_016",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_017",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_018",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_019",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_020",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_021",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_022",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_023",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_024",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_025",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_026",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_027",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_028",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_029",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_030",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_031",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_032",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_033",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_034",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_035",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_036",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_037",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_038",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_039",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_040",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_041",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_042",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_043",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_044",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_045",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_046",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_047",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_048",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_049",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_050",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_051",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_052",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_053",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_054",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_055",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_056",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_057",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_058",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_059",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_060",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_061",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_062",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_063",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_064",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_065",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_066",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_067",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_068",
	"shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_069",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_001",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_002",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_003",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_004",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_005",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_006",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_007",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_008",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_009",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_010",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_011",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_012",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_013",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_014",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_015",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_016",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_017",
	"shoots/2022/2022-07-25-mercedes-benz-sl600/2001-mercedes-benz-sl600-amg_018",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_001",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_002",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_003",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_004",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_005",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_006",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_007",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_008",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_009",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_010",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_011",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_012",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_013",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_014",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_015",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_016",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_017",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_018",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_019",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_020",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_021",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_022",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_023",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_024",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_025",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_026",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_027",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_028",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_029",
	"shoots/2022/2022-08-31-2014-lamborghini-aventador-lp700-4/2014-lamborghini-aventador-lp700-4_030",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_001",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_002",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_003",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_004",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_005",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_006",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_007",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_008",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_009",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_010",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_011",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_012",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_013",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_014",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_015",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_016",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_017",
	"shoots/2022/2022-09-01-1957-ford-thunderbird/1957-ford-thunderbird_018",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_001",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_002",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_003",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_004",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_005",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_006",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_007",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_008",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_009",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_010",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_011",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_012",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_013",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_014",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_015",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_016",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_017",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_018",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_019",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_020",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_021",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_022",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_023",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_024",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_025",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_026",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_027",
	"shoots/2022/2022-09-01-1982-chevrolet-corvette/1982-chevrolet-corvette_028",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_001",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_002",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_003",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_004",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_005",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_006",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_007",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_008",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_009",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_010",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_011",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_012",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_013",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_014",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_015",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_016",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_017",
	"shoots/2022/2022-09-05-1957-mg-mga/1957-mg-mga_018",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_001",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_002",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_003",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_004",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_005",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_006",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_007",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_008",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_009",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_010",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_011",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_012",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_013",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_014",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_015",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_016",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_017",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_018",
	"shoots/2022/2022-09-15-1984-porsche-928-s4/1984-porsche-928-s4_019",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_001",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_002",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_003",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_004",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_005",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_006",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_007",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_008",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_009",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_010",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_011",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_012",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_013",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_014",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_015",
	"shoots/2022/2022-11-30-backdraft-cobra/2022-backdraft-cobra_016",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_001",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_002",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_003",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_004",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_005",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_006",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_007",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_008",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_009",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_010",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_011",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_012",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_013",
	"shoots/2023/2023-02-18-2002-bmw-z8/2002-bmw-z8_014",
	"shoots/2023/2023-03-04-2006-cadillac-xlr-v/2006-cadillac-xlr-v_001",
	"shoots/2023/2023-03-04-2006-cadillac-xlr-v/2006-cadillac-xlr-v_002",
	"shoots/2023/2023-03-04-2006-cadillac-xlr-v/2006-cadillac-xlr-v_003",
	"shoots/2023/2023-03-04-2006-cadillac-xlr-v/2006-cadillac-xlr-v_004",
	"shoots/2023/2023-03-04-2006-cadillac-xlr-v/2006-cadillac-xlr-v_005",
	"shoots/2023/2023-03-04-2006-cadillac-xlr-v/2006-cadillac-xlr-v_006",
	"shoots/2023/2023-03-04-2006-cadillac-xlr-v/2006-cadillac-xlr-v_007",
	"shoots/2023/2023-03-04-2006-cadillac-xlr-v/2006-cadillac-xlr-v_008",
	"shoots/2023/2023-03-04-2006-cadillac-xlr-v/2006-cadillac-xlr-v_009",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_001",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_002",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_003",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_004",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_005",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_006",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_007",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_008",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_009",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_010",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_011",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_012",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_013",
	"shoots/2023/2023-04-14-2010-tesla-roadster/2010-tesla-roadster_014",
	"shoots/2023/2023-04-14-petrol-lounge/2023-petrol-lounge_001",
	"shoots/2023/2023-04-14-petrol-lounge/2023-petrol-lounge_002",
	"shoots/2023/2023-04-14-petrol-lounge/2023-petrol-lounge_003",
	"shoots/2023/2023-04-14-petrol-lounge/2023-petrol-lounge_004",
	"shoots/2023/2023-04-14-petrol-lounge/2023-petrol-lounge_005",
	"shoots/2023/2023-04-14-petrol-lounge/2023-petrol-lounge_006",
	"shoots/2023/2023-04-14-petrol-lounge/2023-petrol-lounge_007",
	"shoots/2023/2023-04-14-petrol-lounge/2023-petrol-lounge_008",
	"shoots/2023/2023-04-14-petrol-lounge/2023-petrol-lounge_009",
	"shoots/2023/2023-04-14-petrol-lounge/2023-petrol-lounge_010",
	"shoots/2023/2023-04-14-petrol-lounge/2023-petrol-lounge_011",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_001",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_002",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_003",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_004",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_005",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_006",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_007",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_008",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_009",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_010",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_011",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_012",
	"shoots/2023/2023-04-28-1968-chevrolet-c10/1968-chevrolet-c10_013",
	"shoots/2023/2023-05-08-1983-porsche-911sc-cabriolet/1983-porsche-911sc-cabriolet_001",
	"shoots/2023/2023-05-08-1983-porsche-911sc-cabriolet/1983-porsche-911sc-cabriolet_002",
	"shoots/2023/2023-05-08-1983-porsche-911sc-cabriolet/1983-porsche-911sc-cabriolet_003",
	"shoots/2023/2023-05-08-1983-porsche-911sc-cabriolet/1983-porsche-911sc-cabriolet_004",
	"shoots/2023/2023-05-08-1983-porsche-911sc-cabriolet/1983-porsche-911sc-cabriolet_005",
	"shoots/2023/2023-05-08-1983-porsche-911sc-cabriolet/1983-porsche-911sc-cabriolet_006",
	"shoots/2023/2023-05-08-1983-porsche-911sc-cabriolet/1983-porsche-911sc-cabriolet_007",
	"shoots/2023/2023-05-08-1983-porsche-911sc-cabriolet/1983-porsche-911sc-cabriolet_008",
	"shoots/2023/2023-05-08-1983-porsche-911sc-cabriolet/1983-porsche-911sc-cabriolet_009",
	"shoots/2023/2023-05-15-1969-porsche-912-coupe/1969-porsche-912-coupe_001",
	"shoots/2023/2023-05-15-1969-porsche-912-coupe/1969-porsche-912-coupe_002",
	"shoots/2023/2023-05-15-1969-porsche-912-coupe/1969-porsche-912-coupe_003",
	"shoots/2023/2023-05-15-1969-porsche-912-coupe/1969-porsche-912-coupe_004",
	"shoots/2023/2023-05-15-1969-porsche-912-coupe/1969-porsche-912-coupe_005",
	"shoots/2023/2023-05-15-1969-porsche-912-coupe/1969-porsche-912-coupe_006",
	"shoots/2023/2023-05-15-1969-porsche-912-coupe/1969-porsche-912-coupe_007",
	"shoots/2023/2023-05-15-1969-porsche-912-coupe/1969-porsche-912-coupe_008",
	"shoots/2023/2023-05-15-1969-porsche-912-coupe/1969-porsche-912-coupe_009",
	"shoots/2023/2023-05-15-1969-porsche-912-coupe/1969-porsche-912-coupe_010",
	"shoots/2023/2023-05-15-1969-porsche-912-coupe/1969-porsche-912-coupe_011",
	"shoots/2023/2023-05-15-1969-porsche-912-coupe/1969-porsche-912-coupe_012",
	"shoots/2023/2023-05-26-pink-911/2023-pink-porsche-911_001",
	"shoots/2023/2023-05-26-pink-911/2023-pink-porsche-911_002",
	"shoots/2023/2023-05-26-pink-911/2023-pink-porsche-911_003",
	"shoots/2023/2023-05-26-pink-911/2023-pink-porsche-911_004",
	"shoots/2023/2023-05-26-pink-911/2023-pink-porsche-911_005",
	"shoots/2023/2023-05-26-pink-911/2023-pink-porsche-911_006",
	"shoots/2023/2023-05-26-pink-911/2023-pink-porsche-911_007",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_001",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_002",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_003",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_004",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_005",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_006",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_007",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_008",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_009",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_010",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_011",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_012",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_013",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_014",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_015",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_016",
	"shoots/2023/2023-06-26-1973-porsche-911s-targa/1973-porsche-911s-targa_017",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_001",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_002",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_003",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_004",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_005",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_006",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_007",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_008",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_009",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_010",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_011",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_012",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_013",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_014",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_015",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_016",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_017",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_018",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_019",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_020",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_021",
	"shoots/2023/2023-06-30-white-993-c4s/white-993-c4s_022",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_001",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_002",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_003",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_004",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_005",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_006",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_007",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_008",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_009",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_010",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_011",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_012",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_013",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_014",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_015",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_016",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_017",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_018",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_019",
	"shoots/2023/2023-07-11-1987-porsche-911-carrera-targa/1987-porsche-911-carrera-targa_020",
	"shoots/2023/2023-07-27-1965-porsche-356c-coupe/1965-porsche-356c-coupe_001",
	"shoots/2023/2023-07-27-1965-porsche-356c-coupe/1965-porsche-356c-coupe_002",
	"shoots/2023/2023-07-27-1965-porsche-356c-coupe/1965-porsche-356c-coupe_003",
	"shoots/2023/2023-07-27-1965-porsche-356c-coupe/1965-porsche-356c-coupe_004",
	"shoots/2023/2023-07-27-1965-porsche-356c-coupe/1965-porsche-356c-coupe_005",
	"shoots/2023/2023-07-27-1965-porsche-356c-coupe/1965-porsche-356c-coupe_006",
	"shoots/2023/2023-07-27-1965-porsche-356c-coupe/1965-porsche-356c-coupe_007",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_001",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_002",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_003",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_004",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_005",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_006",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_007",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_008",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_009",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_010",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_011",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_012",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_013",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_014",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_015",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_016",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_017",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_018",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_019",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_020",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_021",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_022",
	"shoots/2023/2023-08-22-1960-porsche-356b-roadster/1960-porsche-356b-roadster_023",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_001",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_002",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_003",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_004",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_005",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_006",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_007",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_008",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_009",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_010",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_011",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_012",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_013",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_014",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_015",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_016",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_017",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_018",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_019",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_020",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_021",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_022",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_023",
	"shoots/2023/2023-09-06-1974-porsche-911-coupe/1974-porsche-911-coupe_024",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_001",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_002",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_003",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_004",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_005",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_006",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_007",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_008",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_009",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_010",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_011",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_012",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_013",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_014",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_015",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_016",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_017",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_018",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_019",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_020",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_021",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_022",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_023",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_024",
	"shoots/2023/2023-09-11-1990-porsche-944-s2-cabriolet/1990-porsche-944-s2-cabriolet_025",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_001",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_002",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_003",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_004",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_005",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_006",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_007",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_008",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_009",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_010",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_011",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_012",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_013",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_014",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_015",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_016",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_017",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_018",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_019",
	"shoots/2023/2023-11-04-1976-bmw-2002/1976-bmw-2002_020",
	"shoots/2024/2024-01-12-1970-porsche-911t-coupe/1970-porsche-911t-coupe_001",
	"shoots/2024/2024-01-12-1970-porsche-911t-coupe/1970-porsche-911t-coupe_002",
	"shoots/2024/2024-01-12-1970-porsche-911t-coupe/1970-porsche-911t-coupe_003",
	"shoots/2024/2024-01-12-1970-porsche-911t-coupe/1970-porsche-911t-coupe_004",
	"shoots/2024/2024-01-12-1970-porsche-911t-coupe/1970-porsche-911t-coupe_005",
	"shoots/2024/2024-01-12-1970-porsche-911t-coupe/1970-porsche-911t-coupe_006",
	"shoots/2024/2024-01-12-1970-porsche-911t-coupe/1970-porsche-911t-coupe_007",
	"shoots/2024/2024-01-12-1970-porsche-911t-coupe/1970-porsche-911t-coupe_008",
	"shoots/2024/2024-01-12-1970-porsche-911t-coupe/1970-porsche-911t-coupe_009",
];
const cosmicPaths = await getCollection("media");
let result = [];

cosmicPaths.map((r) => {
	const pathWithoutExtension = r.data.name.replace(/\.[^/.]+$/, "");
	const idWithoutExtension = r.id.replace(/\.[^/.]+$/, "");
	const originalPath = `${r.data.folder}/${pathWithoutExtension}`;

	const filteredPath = astroPaths.filter((a) => a.includes(originalPath));
	const finalRedirect = `"/photography/photo/${filteredPath}": "/photography/photo/details/${idWithoutExtension}"`;
	result.push(finalRedirect);
});
---

<Layout>
	<div>{result.length}</div>
	<div>
		{result.map((r) => <div>{r},</div>)}
	</div>
</Layout>
