---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import { auctionSites } from "@/data/Photography";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Icon from "@/components/Icon";
import Section from "@/components/content/Section";

// content
import { getCollection } from "astro:content";
const posts = (await getCollection("blogs")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf()).slice(0, 4);
const shoots = (
    await getCollection("shoots", ({ data }) => {
        return data.featured == true;
    })
)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 4);

const gallery = [
    "shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_048.jpg",
    "shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_039.jpg",
    "shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_012.jpg",
    "shoots/2017/2017-11-03-cota-classic/cota-classic-2017_004.jpg",
];
---

<Layout title="Car Photographer in Austin, TX - I Shoot Professional Car Photos for Your Online Auction." footerPadding={false}>
    <Section>
        <Container>
            <Heading maxWidth="max-w-3xl">
                <h1 slot="heading">I'm a professional car photographer in Austin.</h1>
                <p slot="description">
                    With online car auctions rising in popularity, I've helped clients put their best foot forward with beautiful car photography. Whether it's <i>Bring a Trailer</i>, <i>
                        Cars & Bids
                    </i>, <i>Hagerty</i> or <i>eBay</i>, I can help get top dollar for your vehicle auction.
                </p>
                <div class="flex gap-4">
                    <a href="/contact" class="button button-primary">Hire Me!</a>
                    <a href="/photography/pricing" class="button button-ghost">See Pricing</a>
                </div>
            </Heading>
        </Container>

        <Container>
            <div class="grid grid-cols-5 gap-x-16 items-center">
                {auctionSites.map((a) => <Icon icon={`auctions/${a}`} class="text-regent-900 max-h-6 w-full object-contain" />)}
            </div>
        </Container>

        <Container size="large">
            <div class="grid grid-cols-6 gap-4">
                <Figure
                    src={gallery[0]}
                    figureClass="col-span-6 md:col-span-3 lg:col-span-2"
                    class="w-full h-full object-cover"
                    loading="eager"
                    sizes="(min-width: 768px) 50vw, (min-width: 1024px) 33vw"
                />
                <Figure
                    src={gallery[1]}
                    figureClass="col-span-6 md:col-span-3 lg:col-span-2"
                    class="w-full h-full object-cover"
                    loading="eager"
                    sizes="(min-width: 768px) 50vw, (min-width: 1024px) 33vw"
                />
                <Figure
                    src={gallery[2]}
                    figureClass="col-span-6 md:col-span-3 lg:col-span-2"
                    class="w-full h-full object-cover"
                    loading="eager"
                    sizes="(min-width: 768px) 50vw, (min-width: 1024px) 33vw"
                />
                <Figure src="shoots/2019/2019-08-17-signal-yellow-911/911s-targa_016.jpg" figureClass="col-span-6" class="w-full h-full object-cover" sizes="100vw" />
                <Figure
                    src="shoots/2020/2020-03-14-impala-ss/chevy-impala-ss_004.jpg"
                    figureClass="col-span-6 md:col-span-3 lg:col-span-2"
                    class="w-full h-full object-cover"
                    loading="eager"
                    sizes="(min-width: 768px) 50vw, (min-width: 1024px) 33vw"
                />
                <Figure
                    src="shoots/2020/2020-05-03-jaguar-e-type/1966-jaguar-xke-series-1_001.jpg"
                    figureClass="col-span-6 md:col-span-3 lg:col-span-4"
                    class="w-full h-full object-cover object-[30%,50%]"
                    loading="eager"
                    sizes="(min-width: 768px) 50vw, (min-width: 1024px) 66vw"
                />
            </div>

            <p class="text-base">This is a font size test</p>
        </Container>
    </Section>
</Layout>
