---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Split from "@/components/content/Split";

// content
import { getCollection } from "astro:content";
const posts = (await getCollection("blogs"))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 4);
const shoots = (await getCollection("shoots"))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 3);

const images01 = [
    "shoots/2022/2022-02-27-lit-show-day-four/lit-show-2022_009",
    "shoots/2021/2021-06-23-porsche-930/porsche-930-2021_014",
    "shoots/2019/2019-05-26-coffee-with-cars/coffee-with-cars-2019_014",
    "shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_038",
];
const images02 = [
    "shoots/2019/2019-08-17-signal-yellow-911/911s-targa_016",
    "shoots/2019/2019-05-27-treaty-oak-car-show/treaty-oak-car-show-2019_004",
    "shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_017",
];
---

<Layout>
    <Container>
        <Heading>
            <h1 slot="heading">
                I'm a professional car photographer in Austin.
            </h1>
            <p slot="description">
                With online car auctions rising in popularity, I've helped
                clients put their best foot forward with beautiful car
                photography. Whether it's <i>Bring a Trailer</i>, <i>
                    Cars & Bids
                </i>, <i>Hagerty</i> or <i>eBay</i>, I can help get top dollar
                for your vehicle auction.
            </p>

            <div class="flex gap-4">
                <a href="/contact" class="button button-primary text-xl">
                    Hire Me!
                </a>
                <a href="/photography" class="button button-ghost text-xl">
                    See More Photos
                </a>
            </div>
        </Heading>
    </Container>

    <Container large={true}>
        <div class="grid grid-cols-6">
            <Figure
                src={images01[0]}
                figureClass="lg:h-[50vh] lg:w-full lg:object-cover col-span-6 lg:col-span-2"
                class="w-full h-full object-cover"
                loading="eager"
                sizes="33vw"
            />
            <Figure
                src={images01[1]}
                figureClass="lg:h-[50vh] lg:w-full lg:object-cover col-span-6 sm:col-span-3 lg:col-span-2"
                class="w-full h-full object-cover"
                loading="eager"
                sizes="33vw"
            />
            <Figure
                src={images01[2]}
                figureClass="lg:h-[50vh] lg:w-full lg:object-cover col-span-6 sm:col-span-3 lg:col-span-2"
                class="w-full h-full object-cover"
                loading="eager"
                sizes="33vw"
            />
            <Figure
                src={images01[3]}
                figureClass="lg:h-[80vh] lg:w-full lg:object-cover col-span-6 lg:col-span-6"
                class="w-full h-full object-cover"
                sizes="100vw"
            />
        </div>
    </Container>

    <Container>
        <Split>
            <h2 slot="heading">Recent Posts</h2>
            <a
                slot="bottom"
                href="/blog"
                class="button button-ghost w-fit text-lg">
                View all posts
            </a>

            <div class="space-y-12 md:space-y-0">
                {
                    posts.map((p, i) => (
                        <div class="group">
                            <a
                                href={p.slug}
                                class="block space-y-3 md:space-y-6 md:border md:border-transparent md:group-hover:border-neutral-900 md:dark:group-hover:border-neutral-400 md:px-4 md:py-6 transition duration-100">
                                <div class="flex justify-between items-center hover:cursor-pointer">
                                    <h4 class="decoration-transparent underline">
                                        {p.data.title}
                                    </h4>
                                </div>

                                <p class="text-neutral-800 dark:text-neutral-400 text-lg md:text-xl leading-8 transition-all duration-300 line-clamp-2">
                                    {p.data.excerpt}
                                </p>
                            </a>
                        </div>
                    ))
                }
            </div>
        </Split>
    </Container>

    <div class="grid md:grid-cols-2 md:grid-rows-2">
        <a
            href={`/photography/${shoots[0].slug}`}
            class="relative h-[60vh] sm:h-[40vh]">
            <Figure
                src={shoots[0].data.hero}
                figureClass="w-full h-full"
                class="w-full h-full object-cover"
                metadata={false}
                loading="eager"
                sizes="50vw"
            />
            <div
                class="absolute bottom-0 right-0 bg-white md:w-3/4 lg:w-1/2 p-6 xl:p-12">
                <div
                    class="font-medium md:font-semibold lg:font-extrabold tracking-tighter text-xl sm:text-3xl md:text-4xl">
                    {shoots[0].data.title}
                </div>
            </div>
        </a>
        <a
            href={`/photography/${shoots[1].slug}`}
            class="relative h-[60vh] sm:h-[80vh] row-span-2">
            <Figure
                src={shoots[1].data.hero}
                figureClass="w-full h-full"
                class="w-full h-full object-cover"
                metadata={false}
                loading="eager"
                sizes="50vw"
            />
            <div
                class="absolute bottom-0 right-0 bg-white md:w-3/4 lg:w-1/2 p-6 xl:p-12">
                <div
                    class="font-medium md:font-semibold lg:font-extrabold tracking-tighter text-xl sm:text-3xl md:text-4xl lg:text-5xl">
                    {shoots[1].data.title}
                </div>
            </div>
        </a>
        <a
            href={`/photography/${shoots[2].slug}`}
            class="relative h-[60vh] sm:h-[40vh]">
            <Figure
                src={shoots[2].data.hero}
                figureClass="w-full h-full"
                class="w-full h-full object-cover"
                metadata={false}
                loading="eager"
                sizes="50vw"
            />
            <div
                class="absolute bottom-0 right-0 bg-white md:w-3/4 lg:w-1/2 p-6 xl:p-12">
                <div
                    class="font-medium md:font-semibold lg:font-extrabold tracking-tighter text-xl sm:text-3xl md:text-4xl">
                    {shoots[2].data.title}
                </div>
            </div>
        </a>
    </div>
</Layout>
