---
// components
import { Image } from "@astrojs/image/components"
import Button from "@/components/Button"
import Container from "@/components/Container"
import Footer from "@/components/Footer"
import RecentPost from "@/components/RecentPost"
import RecentShoot from "@/components/RecentShoot"
import NavigationBar from "@/components/navigation/NavigationBar"

// data
import Navigation from "@/data/navigation"

// images
import Logo from "public/images/logos/logo-white.png"
import header from "public/images/header05.jpg"

// get recent posts
const allPosts = await Astro.glob("./blog/*.md")
const filteredPosts = allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()).slice(0, 3);

// get recent posts
const allShoots = await Astro.glob("./photography/*.mdx")
const filteredShoots = allShoots.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()).slice(0, 4);
---

<!DOCTYPE html>
<html lang="en">

<head>
    <style lang="scss">
        @font-face {
            font-family: 'Manrope';
            font-display: swap;
            font-weight: 100 900;
            src: url("/fonts/Manrope[wght].woff2") format("woff2");
        }

        html {
            font-family: "Manrope", sans-serif;
        }
    </style>
</head>

<body>
    <div class="h-screen relative">
        <Image src={header} class="h-full object-cover brightness-50" />

        <Container classes="absolute inset-0 mt-8 flex flex-col justify-between">
            <div class="space-y-6">
                <NavigationBar />

                <div class="flex justify-between items-center">
                    <div class="text-white font-medium text-6xl tracking-wider logo">
                        <a href="/" title="Erik S. Olsen">
                            <Image src={Logo} width={180} />
                        </a>
                    </div>

                    <nav class="text-xl font-normal flex gap-16 text-white tracking-tightest">
                        {Navigation.map(l =>
                        <a href={l.url} title={l.display}>{l.display}</a>
                        )}
                    </nav>
                </div>
            </div>

            <div class="h-full flex items-center">
                <div class="space-y-12">
                    <h1 class="font-black text-8xl text-white w-1/2 tracking-tighter">We create brands the world loves.</h1>

                    <Button text="Let's Chat!" url="/contact" backgroundColor="bg-red-500" textColor="text-white" />
                </div>
            </div>
        </Container>

        <div class="absolute inset-x-0 bottom-8 text-center">
            <span class="text-neutral-100">&#9757; Porsche 930 Turbo Flachbau in Dripping Springs, TX</span>
        </div>
    </div>

    <Container classes="space-y-28 py-48">
        <div class="flex justify-between">
            <h2 class="font-black text-5xl tracking-tight w-1/3">It's different working with me.</h2>

            <div class="text-2xl font-light leading-relaxed tracking-wide w-2/4 space-y-8">
                <p>Lately, I've been shooting lots of cars for Bring a Trailer auctions. If you're in the Austin area and are interested in having your car photographed for an online auction site, let's chat!</p>
                <p>Lately, I've been shooting lots of cars for Bring a Trailer auctions. If you're in the Austin area and are interested in having your car photographed for an online auction site, let's chat!</p>

                <div class="flex gap-10">
                    <a class="font-semibold"><span class="underline underline-offset-4 decoration-1">Hire Me!</span> &rarr;</a>
                    <a class="font-semibold"><span class="underline underline-offset-4 decoration-1">See More Photos</span> &rarr;</a>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-x-16 gap-y-20">
            {filteredShoots.map(p =>
            <RecentShoot shoot={p} />
            )}
        </div>
    </Container>

    <div class="bg-neutral-100 py-48">
        <Container classes="space-y-16">
            <h2 class="font-black text-5xl tracking-tight w-1/3">Recent Posts</h2>

            <div class="flex gap-20">
                {filteredPosts.map(p =>
                <RecentPost post={p} />
                )}
            </div>
        </Container>
    </div>

    <Footer recentPosts={filteredPosts} recentShoots={filteredShoots} />
</body>

</html>