---
// layout
import PageLayout from "@/layouts/PageLayout"

// components
import Button from "@/components/Button"
import Container from "@/components/Container"
import Caption from "@/components/image/Caption"
import Link from "@/components/Link"
import RecentPost from "@/components/RecentPost"
import RecentShoot from "@/components/RecentShoot"
import { Picture, Image } from "@astrojs/image/components"

// functions
import { getRemoteImage } from "@/functions/Media"

// images
const header = await getRemoteImage("/shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_017.jpeg");

const unsortedPosts = await Astro.glob("../pages/blog/*.mdx")
const posts = unsortedPosts.sort(function (a, b) {
    return (
        new Date(b.date).valueOf() - new Date(a.date).valueOf()
    )
}).slice(0, 4);

const unsortedShoots = await Astro.glob("../pages/photography/*.mdx")
const shoots = unsortedShoots.sort(function (a, b) {
    return (
        new Date(b.date).valueOf() - new Date(a.date).valueOf()
    )
}).slice(0, 4);
---

<PageLayout>
    <div class="space-y-20 sm:space-y-40">
        <div class="">
            <figure>
                <Picture src={header.url} aspectRatio={header.aspectRatio} widths={[200, 400, 800, 2000]} sizes="100vw" class="header-image" alt={header.title} />

                <Caption caption={header.caption} date={header.date} />
            </figure>
        </div>

        <Container classes="space-y-20">
            <div class="flex flex-col sm:flex-row gap-8 justify-between">
                <h2 class="font-black text-5xl tracking-tight sm:w-1/3">It's different working with me.</h2>

                <div class="text-xl font-light leading-relaxed tracking-wide sm:w-2/4 space-y-8">
                    <p>Lately, I've been shooting lots of cars for Bring a Trailer auctions. If you're in the Austin area and are interested in having your car photographed for an online auction site, let's chat!</p>
                    <p>Lately, I've been shooting lots of cars for Bring a Trailer auctions. If you're in the Austin area and are interested in having your car photographed for an online auction site, let's chat!</p>

                    <div class="flex flex-col md:flex-row gap-3 md:gap-10">
                        <Link text="Hire Me!" url="/contact" />
                        <Link text="See More Photos" url="/photography" />
                    </div>
                </div>
            </div>

            <div class="grid sm:grid-cols-2 gap-10 lg:gap-20">
                {shoots.map(p =>
                <RecentShoot shoot={p} />
                )}
            </div>

            <div class="flex justify-center">
                <Button text="More Shoots" url="/photography" backgroundColor="bg-black" textColor="text-white" />
            </div>
        </Container>

        <div class="bg-neutral-100 py-24">
            <Container classes="space-y-16">
                <h2 class="font-black text-5xl tracking-tight w-1/3">Recent Posts</h2>

                <div class="grid sm:grid-cols-2 gap-20 lg:grid-cols-4">
                    {posts.map(p =>
                    <RecentPost post={p} />
                    )}
                </div>
            </Container>
        </div>
    </div>
</PageLayout>