---
export const prerender = false;

// layout
import Layout from "@/layouts/BaseLayout";

// components
import { cosmic } from "@/library/cosmic";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Image";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";

const { object: page } = await cosmic.objects
	.findOne({
		type: "page-home",
		slug: "page-home",
	})
	.props("metadata");
---

<Layout title={page.metadata.seo.title} description={page.metadata.seo.description}>
	<Section>
		<Container>
			<Heading>
				<h1 slot="heading">{page.metadata.content.heading}</h1>
				<div slot="description" set:html={page.metadata.content.description} />

				<div class="flex gap-3">
					<a href="/contact" class="button button-primary w-full sm:w-fit shadow-md">Hire Me!</a>
					<a href="/photography/pricing" class="button button-ghost w-full sm:w-fit shadow-md">See Pricing</a>
				</div>
			</Heading>
		</Container>

		<Container size="large" mobilePadding={false}>
			<div class="grid grid-cols-6 gap-0 sm:gap-6">
				<Figure src={page.metadata.gallery[0].url} figureClass="col-span-6 md:col-span-2 shadow-2xl" class="w-full h-full object-cover" lazy={false} fetchpriority="high" decoding="async" sizes="(min-width: 768px) 30vw, 90vw" />
				<Figure src={page.metadata.gallery[1].url} figureClass="col-span-6 md:col-span-2 shadow-2xl" class="w-full h-full object-cover" lazy={false} fetchpriority="high" decoding="async" sizes="(min-width: 768px) 30vw, 90vw" />
				<Figure src={page.metadata.gallery[2].url} figureClass="col-span-6 md:col-span-2 shadow-2xl" class="w-full h-full object-cover" lazy={false} fetchpriority="high" decoding="async" sizes="(min-width: 768px) 30vw, 90vw" />
				<Figure src={page.metadata.gallery[3].url} figureClass="col-span-6 md:col-span-3 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 45vw, 90vw" />
				<Figure src={page.metadata.gallery[4].url} figureClass="col-span-6 md:col-span-3 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 45vw, 90vw" />
				<Figure src={page.metadata.gallery[5].url} figureClass="col-span-6 md:col-span-2 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 30vw, 90vw" />
				<Figure src={page.metadata.gallery[6].url} figureClass="col-span-6 md:col-span-2 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 30vw, 90vw" />
				<Figure src={page.metadata.gallery[7].url} figureClass="col-span-6 md:col-span-2 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 30vw, 90vw" />
				<Figure src={page.metadata.gallery[8].url} figureClass="col-span-6 md:col-span-3 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 45vw, 90vw" />
				<Figure src={page.metadata.gallery[9].url} figureClass="col-span-6 md:col-span-3 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 45vw, 90vw" />
				<Figure src={page.metadata.gallery[10].url} figureClass="col-span-6 md:col-span-2 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 30vw, 90vw" />
				<Figure src={page.metadata.gallery[11].url} figureClass="col-span-6 md:col-span-2 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 30vw, 90vw" />
				<Figure src={page.metadata.gallery[12].url} figureClass="col-span-6 md:col-span-2 shadow-2xl" class="w-full h-full object-cover" sizes="(min-width: 768px) 30vw, 90vw" />
			</div>
		</Container>
	</Section>
</Layout>
