---
export const prerender = true;

// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Link from "@/components/Link";
import Newsletter from "@/components/sidebar/Newsletter";
import PostSnippet from "@/components/card/Article";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarContainer from "@/components/sidebar/SidebarContainer";

// content
import { getCollection } from "astro:content";
const posts = await getCollection("blog");

const images = [
    "/shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_002.jpg",
    "/shoots/2021/2021-06-23-porsche-930/porsche-930-2021_014.jpg",
    "/shoots/2017/2017-11-03-cota-classic/cota-classic-2017_004.jpg",
    "/shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_020.jpg",
];
---

<Layout>
    <Container>
        <Heading>
            <h1 slot="heading">I shoot car photography<br />in Austin, TX.</h1>
            <p slot="description">
                With online car auctions rising in popularity, I've helped clients put their best foot forward with beautiful car photography. Whether
                it's <i>Bring a Trailer</i>, <i>Cars & Bids</i>, <i>Hagerty</i> or <i>eBay</i>, I can help get top dollar for your vehicle auction.
            </p>

            <div class="flex flex-col gap-3 md:flex-row md:gap-10">
                <Link text="Hire Me!" url="/contact" />
                <Link text="See More Photos" url="/photography" />
            </div>
        </Heading>
    </Container>

    <div class="mx-auto max-w-6xl">
        <div class="grid max-h-[750px] grid-cols-8 grid-rows-4 sm:gap-4">
            <div class="col-span-4 row-span-2 md:col-span-2">
                <Figure
                    src={images[0]}
                    figureClass="h-full w-full object-cover"
                    class="w-full h-full object-cover sm:rounded-sm shadow-xl"
                    metadata={false}
                    sizes="(min-width: 768px) 25vw, 50vw"
                />
            </div>

            <div class="col-span-4 row-span-2 md:col-span-2">
                <Figure
                    src={images[1]}
                    figureClass="h-full w-full object-cover"
                    class="w-full h-full object-cover sm:rounded-sm shadow-xl"
                    metadata={false}
                    sizes="(min-width: 768px) 25vw, 50vw"
                />
            </div>

            <div class="col-span-4 row-span-4">
                <Figure
                    src={images[2]}
                    figureClass="h-full w-full object-cover"
                    class="w-full h-full object-cover sm:rounded-sm shadow-xl"
                    metadata={false}
                    sizes="50vw"
                />
            </div>

            <div class="col-span-4 row-span-4 md:row-span-2 md:row-start-3">
                <Figure
                    src={images[3]}
                    figureClass="h-full w-full object-cover"
                    class="w-full h-full object-cover sm:rounded-sm shadow-xl"
                    metadata={false}
                    sizes="50vw"
                />
            </div>
        </div>
    </div>

    <Container>
        <SidebarContainer>
            <div class="space-y-16">
                {
                    posts
                        .map((p) => <PostSnippet post={p} />)
                        .slice(0, 3)
                        .reverse()
                }
            </div>

            <Sidebar classes="w-full">
                <Newsletter />
            </Sidebar>
        </SidebarContainer>
    </Container>
</Layout>
