---
// props
export interface Props {
	shoot: object;
	featured?: boolean;
	excerpt?: boolean;
	lazy?: boolean;
	sizes?: string;
}
const { shoot, featured = false, excerpt = false, lazy = true, sizes = "100vw" } = Astro.props;

// components
import Image from "@/components/image/Image";

// functions
import { timeAgo } from "@/functions/DateTime";
---

<a href={`/photography/shoots/${shoot.data.slug}/`} class="self-stretch h-140 relative rounded-[10px] inline-flex flex-col justify-between items-start overflow-hidden group">
	<Image src={shoot.data.images.tertiary.url} figureClass="absolute w-full h-full transition-opacity duration-500 group-hover:opacity-0" class="w-full h-full object-cover" sizes={sizes} showTitle={false} lazy={lazy} />
	<Image src={shoot.data.images.thumbnail.url} figureClass="absolute w-full h-full opacity-0 transition-opacity duration-1000 group-hover:opacity-100" class="w-full h-full object-cover" sizes={sizes} showTitle={false} lazy={lazy} />
	<div class="absolute bg-linear-to-b from-black via-transparent to-black w-full h-full"></div>

	<div class="p-4 self-stretch inline-flex justify-between items-center relative">
		<div class="pill pill-ghost pill-inverse">
			<div class="justify-start">{shoot.data.category.value}</div>
		</div>

		{
			shoot.data.category.key === "auction" && (
				<div class="justify-start text-stone-100 text-xs font-normal uppercase flex gap-x-1">
					{shoot.data.auction.sold && (
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 fill-emerald-500">
							<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm3.844-8.791a.75.75 0 0 0-1.188-.918l-3.7 4.79-1.649-1.833a.75.75 0 1 0-1.114 1.004l2.25 2.5a.75.75 0 0 0 1.15-.043l4.25-5.5Z" clip-rule="evenodd" />
						</svg>
					)}
					{shoot.data.auction.sold ? "Sold for" : "Bid to"} ${Intl.NumberFormat().format(shoot.data.auction.price)}
				</div>
			)
		}
	</div>

	<div class="relative w-96 justify-start text-cobalt-100 text-xl font-normal font-heading uppercase p-4">{shoot.data.title}</div>
</a>

<!-- <div class="min-h-128">
	<a href={`/photography/shoots/${shoot.data.slug}/`} class="@container group space-y-6 relative w-full h-full">
		<div class="bg-linear-to-br from-transparent via-slate-900/10 to-slate-900/50 opacity-0 group-hover:opacity-100 w-full h-full absolute transition-opacity duration-300 rounded-lg"></div>

		<div class="flex flex-col w-full h-full absolute inset-0">
			<div class="text-xl @xs:text-2xl tracking-tight line-clamp-1 font-medium text-slate-900 font-heading">
				{shoot.data.title}
			</div>

			<div class:list={["flex gap-2 text-sm text-slate-600", !featured && "items-center"]}>
					<time>{timeAgo(shoot.data.date)}</time>
					<div>&middot;</div>
					<div>{shoot.data.images.gallery.length} photos</div>
				</div>
		</div>
	</a>
</div> -->
