---
// props
export interface Props {
	shoot: object;
	sizes?: string;
}
const { shoot, sizes = "100vw" } = Astro.props;

// components
import Image from "@/components/image/Image";

// functions
import { timeAgo } from "@/functions/DateTime";
---

<a href={`/photography/shoots/${shoot.data.slug}`} class="@container group space-y-6 aspect-square">
	<div class="w-full h-full relative">
		<div class="bg-gradient-to-br from-transparent via-gray-900/10 to-gray-900/50 opacity-0 group-hover:opacity-100 w-full h-full absolute transition-opacity duration-300 rounded"></div>
		<Image src={shoot.data.images.thumbnail.url} figureClass="w-full h-full shadow-2xl" class="aspect-square w-full h-full object-cover" sizes={sizes} showTitle={false} />
	</div>

	<div class="flex flex-col space-y-4">
		<div class="space-y-1 flex justify-center items-center flex-col">
			<div class="text-xl @xs:text-2xl tracking-tight line-clamp-1 font-medium text-gray-900">
				{shoot.data.title}
			</div>

			<div class="flex gap-2 items-center text-base text-gray-800">
				<time>{timeAgo(shoot.data.date)}</time>
				<div>&middot;</div>
				<div>{shoot.data.images.gallery.length} photos</div>
			</div>
		</div>
	</div>
</a>
