---
// props
export interface Props {
    shoot: object;
    description?: boolean;
    sizes?: string;
}
const { shoot, description = false, sizes = "100vw" } = Astro.props;

// components
import Picture from "@/components/image/Picture";

// functions
import { timeAgo } from "@/functions/DateTime";
---

<a href={`/photography/shoots/${shoot.slug}`} class="@container group space-y-6">
    <div class="rounded-lg w-full h-72 overflow-hidden relative">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-6 h-6 absolute bottom-4 group-hover:right-4 -right-72 text-regent-50 transition-all duration-200 pointer-events-none z-20">
            <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM6.75 9.25a.75.75 0 0 0 0 1.5h4.59l-2.1 1.95a.75.75 0 0 0 1.02 1.1l3.5-3.25a.75.75 0 0 0 0-1.1l-3.5-3.25a.75.75 0 1 0-1.02 1.1l2.1 1.95H6.75Z"
                clip-rule="evenodd">
            </path>
        </svg>
        <div class="bg-gradient-to-br from-transparent via-regent-900/10 to-regent-900/50 opacity-0 group-hover:opacity-100 w-full h-full absolute z-10 transition-opacity duration-300"></div>
        <Picture src={shoot.data.images.hero} class="w-full h-full object-cover transition duration-300" sizes={sizes} />
    </div>

    <div class="flex flex-col space-y-4">
        <div class="space-y-1 flex justify-center items-center flex-col">
            <div class="@xs:text-2xl tracking-tight line-clamp-1 font-medium text-regent-900">{shoot.data.title}</div>

            <div class="hidden md:flex gap-2 items-center text-base text-regent-800">
                <time>{timeAgo(shoot.data.date)}</time>
                <div>&middot;</div>
                <div>{shoot.data.images.gallery.length} photos</div>
            </div>
        </div>

        {description && <p class="text-regent-900 text-lg lg:@sm:text-lg lg:@lg:text-xl transition-all duration-300 line-clamp-2">{shoot.data.description}</p>}
    </div>
</a>
