---
// props
export interface Props {
    shoot: object;
    sizes?: string;
}
const { shoot, sizes = "100vw" } = Astro.props;

// components
import Picture from "@/components/image/Picture";

// functions
import { timeAgo } from "@/functions/DateTime";
---

<a href={`/photography/shoots/${shoot.slug}`} class="@container group relative">
    <Picture src={shoot.data.images.hero} class="w-full h-full absolute col-span-2 object-cover" sizes={sizes} />

    <div class="relative flex mt-48 rounded-tl-sm justify-end">
        <div class="bg-white p-4 w-3/4 group-hover:w-11/12 rounded-tl-sm transition-all duration-200">
            <div class="@xs:text-2xl tracking-tight line-clamp-1 font-semibold">{shoot.data.title}</div>
            <div class="hidden md:flex gap-2 items-center text-base text-neutral-500">
                <time>{timeAgo(shoot.data.date)}</time>
                <div>&middot;</div>
                <div>{shoot.data.images.gallery.length} photos</div>
            </div>
        </div>
    </div>
</a>
