---
// props
export interface Props {
    url: string
    text: string
    backgroundColor?: string
    textColor?: string
}
const { url, text, backgroundColor = "bg-white", textColor = "text-black" } = Astro.props;
---

<a href={url} title={text} class={`${backgroundColor} ${textColor} inline-block font-bold px-6 py-4 rounded-sm text-xl`}>
    <span>{text}</span>
</a>