---
// components
import Button from "@/components/Button"
import Container from "@/components/Container"

// data
import Navigation from "@/data/navigation"

// get recent posts
const allPosts = await Astro.glob("../pages/blog/*.md")
const filteredPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()).slice(0, 3);

// get recent posts
const allShoots = await Astro.glob("../pages/photography/*.md")
const filteredShoots = allShoots.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()).slice(0, 3);
---

<div class="bg-black">
    <Container classes="py-32 space-y-28">
        <h1 class="font-black text-7xl text-white tracking-tighter">
            Turn your brand<br />
            into a great one.
        </h1>

        <div>
            <Button url="/contact" text="Contact Me!" />
        </div>

        <div class="flex justify-between">
            <div class="flex flex-col text-white font-black text-2xl gap-6">
                {Navigation.slice(0,3).map(l =>
                <a href={l.url} title={l.display}>{l.display}</a>
                )}
            </div>

            <div class="flex flex-row gap-12">
                <div class="flex flex-col text-white text-lg gap-4 w-60">
                    <p class="font-semibold text-xl">Recent Shoots</p>
                    <div class="flex flex-col gap-2">
                        {filteredShoots.map(p =>
                        <a href={p.url} class="truncate" title={p.frontmatter.title}>{p.frontmatter.title}</a>
                        )}
                    </div>
                </div>

                <div class="flex flex-col text-white text-lg gap-4 w-60">
                    <p class="font-semibold text-xl">Recent Posts</p>
                    <div class="flex flex-col gap-2">
                        {filteredPosts.map(p =>
                        <a href={p.url} class="truncate" title={p.frontmatter.title}>{p.frontmatter.title}</a>
                        )}
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>