---
// components
import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";

// config
import { siteConfig } from "@/src/config";

// data
import Navigation from "@/data/Navigation";
---

<div class="mt-24">
    <div class="mx-auto max-w-5xl">
        {
            Astro.url.pathname.includes("contact") ? (
                ``
            ) : (
                <div class="relative h-full w-full sm:py-24">
                    <Figure
                        src="/shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_007.jpg"
                        metadata={false}
                        class="absolute inset-0 h-full w-full object-cover lg:rounded-sm"
                    />

                    <div class="relative mx-auto bg-white/90 p-12 backdrop-blur-md sm:max-w-lg sm:rounded-sm">
                        <div class="space-y-8">
                            <h1>
                                Ready to work together?
                                <br />
                                Let's chat.
                            </h1>

                            <div>
                                <ContactForm />
                            </div>
                        </div>
                    </div>
                </div>
            )
        }
    </div>

    <Container>
        <footer class="pt-10 pb-16 dark:border-zinc-700/40">
            <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
                <div class="flex gap-6">
                    {
                        Navigation.map((l) => (
                            <a href={l.url} title={l.display}>
                                {l.display}
                            </a>
                        ))
                    }
                </div>

                <div class="flex items-center justify-between gap-4 md:gap-6">
                    <p>
                        <a href="https://www.bible.com/bible/111/JER.29.11.NIV" title="For I know the plans I have for you...">Jeremiah 29:11</a>
                    </p>

                    <p>
                        &copy; {new Date().getFullYear()}
                        {siteConfig.name}
                    </p>
                </div>
            </div>
        </footer>
    </Container>
</div>
