---
// components
import { getImage } from "astro:assets";
import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";
import Picture from "@/components/image/Picture"
import Logo from "@/components/Logo";

// config
import { siteConfig } from "@/src/config";
import { getSrcSet } from "@/functions/Media";

// content
const imageSrc = "shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_017.jpg";
---

{
    !Astro.url.pathname.includes("contact") && (
        <div class="relative">
            <Picture src={imageSrc} sizes="100vw" class="absolute w-full h-full object-cover" />
            <div class="absolute w-full h-full bg-gradient-to-b from-white via-white/90 to-white/80" />

            <Container classes="relative py-32">
                <div class="bg-white p-20">
                    <div class="grid sm:grid-cols-2 gap-16">
                        <div class="space-y-12">
                            <div class="font-black tracking-tighter text-5xl lg:text-6xl xl:text-7xl">Ready to work together?</div>
                            <p class="text-xl lg:text-2xl !leading-9">
                                If you want to chat about car photography &ndash; email me at{" "}
                                <a href={`mailto:${siteConfig.email}`} class="underline">
                                    {siteConfig.email}
                                </a>
                                . We'll work together to capture stunning car photography for your online auction.
                            </p>
                        </div>

                        <ContactForm darkTheme={false} />
                    </div>
                </div>
            </Container>
        </div>
    )
}

<div class="py-16 bg-neutral-900">
    <Container>
        <footer class="text-base md:text-lg">
            <div class="flex lg:flex-row flex-col items-center justify-between gap-6">
                <Logo />

                <div class="flex flex-col gap-6 text-white">
                    <div class="flex flex-wrap gap-x-6 gap-y-2 justify-center">
                        <a href="/about" title="About Erik Olsen">About</a>
                        <a href="/photography" title="Austin Car Photography">Photography</a>
                        <a href="/blog" title="Articles on Car Photography, Tech and Marketing">Blog</a>
                        <a href="/contact" title="Contact Erik Olsen">Contact Me</a>
                    </div>
                </div>

                <div class="flex items-center justify-between gap-4 md:gap-6 text-white text-base">
                    <p>
                        <a href="https://www.bible.com/bible/111/JER.29.11.NIV" title="For I know the plans I have for you...">Jeremiah 29:11</a>
                    </p>

                    <p>
                        &copy; {`${new Date().getFullYear()} ${siteConfig.name}`}
                    </p>
                </div>
            </div>
        </footer>
    </Container>
</div>
