---
// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    post: object
    showMeta?: boolean
}
const { post, showMeta = true } = Astro.props;
---

<style lang="scss">
    @import "../assets/styles/base/mixins/mx-breakpoints.scss";
    @import "../assets/styles/base/mixins/mx-spacing.scss";

    .post {
        @include space-y(var(--space-100));

        h4 {
            // line clamp
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }

        .post-meta {

            time,
            span {
                font-weight: 600;
            }

            span {
                text-transform: capitalize;
            }
        }

        .description {
            // line clamp
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            font-size: var(--text-lg);
            font-weight: 300;
            line-height: var(--line-height-lg);
        }
    }
</style>

<div class="post">
    <a href={post.url} title={post.frontmatter.title}>
        <h4 class="h5">{post.frontmatter.title}</h4>
    </a>
    { showMeta ?
    <div class="post-meta">
        Posted <time datetime={post.frontmatter.date}>{timeAgo(post.frontmatter.date)}</time> under <span>{post.frontmatter.category}</span>
    </div>
    : ``}

    <p class="description">{post.frontmatter.description}</p>
</div>