---
// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    post: object
    showMeta?: boolean
}
const { post, showMeta = true } = Astro.props;
---

<div class="post">
    <a href={post.url} title={post.frontmatter.title}>
        <h4 class="h5">{post.frontmatter.title}</h4>
    </a>
    { showMeta ?
    <div class="post-meta">
        Posted <time datetime={post.frontmatter.date}>{timeAgo(post.frontmatter.date)}</time> under <span>{post.frontmatter.category}</span>
    </div>
    : ``}

    <p class="description">{post.frontmatter.description}</p>
</div>