---
// components
import Link from "@/components/Link";

// functions
import { timeAgo } from "@/functions/DateTime";

// props
export interface Props {
    post: object;
    showMeta?: boolean;
    showDescription?: boolean;
}
const { post, showMeta = true, showDescription = true } = Astro.props;
---

<div class="space-y-4 lg:space-y-6">
    <div class="space-y-2">
        {
            showMeta ? (
                <div class="flex items-center gap-1 text-base text-neutral-700 lg:gap-2 lg:text-lg">
                    <div>
                        <time datetime={post.frontmatter.date}>{timeAgo(post.frontmatter.date)}</time>
                    </div>

                    <span>&#8231;</span>

                    <p>{post.frontmatter.category}</p>
                </div>
            ) : (
                ``
            )
        }

        <a href={post.url} title={post.frontmatter.title}>
            <h3 class="font-semibold text-3xl tracking-tighter line-clamp-2">{post.frontmatter.title}</h3>
        </a>
    </div>

    {showDescription ? <div class="line-clamp-3">{post.frontmatter.excerpt}</div> : ``}

    <div class="text-xl">
        <Link text="Keep Reading" url={post.url} />
    </div>
</div>
