---
// components
import { Image } from "@astrojs/image/components";

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    shoot: any
}
const { shoot } = Astro.props as Props;
---

<div class="space-y-4 h-full w-auto group">
    <div class="overflow-hidden h-[400px]">
        <a href={shoot.url} title={shoot.title}>
            <Image src={shoot.hero} width={700} height={500} class="object-cover rounded-sm group-hover:scale-[102%] transition duration-500" />
        </a>
    </div>

    <div class="flex justify-between items-center">
        <a href={shoot.url} title={shoot.title} class="group-hover:underline underline-offset-4">
            <h3 class="font-black text-3xl tracking-tighter">{shoot.title}</h3>
        </a>

        <div class="font-medium text-neutral-500">
            {timeAgo(shoot.date)}
        </div>
    </div>
</div>