---
// components
import Link from "@/components/Link";

// functions
import { timeAgo } from "@/functions/DateTime";

// props
export interface Props {
    post: any;
}
const { post } = Astro.props;
---

<div class="space-y-4 lg:space-y-6">
    <div class="text-neutral-700 text-base lg:text-lg flex items-center gap-1 lg:gap-2">
        <div>
            <time datetime={post.frontmatter.date}>{timeAgo(post.frontmatter.date)}</time>
        </div>

        <span>&#8231;</span>

        <p>{post.frontmatter.category}</p>
    </div>

    <a href={post.url} title={post.frontmatter.title} class="inline-block">
        <h3 class="font-semibold text-3xl tracking-tighter line-clamp-2">{post.frontmatter.title}</h3>
    </a>

    <div class="text-xl">
        <Link text="Keep Reading" url={post.url} />
    </div>
</div>
