---
// components
import { Picture } from "@astrojs/image/components";

// functions
import { getImage } from "@/functions/Media";
import { timeAgo } from "@/functions/DateTime";

// props
export interface Props {
    shoot: any;
}
const { shoot } = Astro.props as Props;

const hero = await getImage(shoot.hero);
---

<div class="space-y-4 h-full w-auto group">
    <div class="h-[400px]">
        <a href={shoot.url} title={shoot.title}>
            <Picture
                src={hero.src}
                aspectRatio={hero.aspectRatio}
                widths={[250, 500, 1000]}
                sizes="(min-width: 640px) 350px, (min-width: 768px) 450px, (min-width: 1024px) 600px, 100vw"
                class="h-full w-full object-cover rounded-md shadow-2xl"
                alt={hero.title}
            />
        </a>
    </div>

    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center">
        <a
            href={shoot.url}
            title={shoot.title}
            class="transition duration-200 underline underline-offset-4 decoration-transparent group-hover:decoration-stone-800"
        >
            <h3>{shoot.title}</h3>
        </a>

        <div class="font-medium text-neutral-500">
            {timeAgo(shoot.date)}
        </div>
    </div>
</div>
