---
// components
import { Icon } from "astro-icon";
import Figure from "@/components/image/Figure";
import Link from "@/components/Link";

// functions
import { timeAgo } from "@/functions/DateTime";

// props
export interface Props {
    shoot: object;
    metadata?: boolean;
    description?: boolean;
    link?: boolean;
}
const { shoot, metadata = true, description = true, link = true } = Astro.props;
---

<div class="group space-y-4 lg:space-y-6">
    <a href={shoot.url} title={shoot.frontmatter.title} class="relative overflow-hidden">
        <Figure
            src={shoot.frontmatter.featured}
            metadata={false}
            sizes="(min-width: 640px) 500px, 100vw"
            class="w-full object-cover h-[300px] rounded-md shadow-2xl"
        />

        <div
            class="absolute inset-0 h-full w-full bg-gradient-to-tl from-stone-50 via-transparent to-transparent opacity-0 transition-opacity duration-500 group-hover:opacity-80"
        >
        </div>
        <Icon
            class="z-10 transition-opacity opacity-0 group-hover:opacity-100 duration-500 absolute bottom-8 right-8 text-stone-50 w-6 h-auto"
            name="bi:arrow-right-square-fill"
        />
    </a>

    <div class="space-y-2">
        {
            metadata ? (
                <div class="flex items-center gap-1 text-base text-neutral-700 lg:gap-2 lg:text-lg">
                    <div>
                        <time datetime={shoot.frontmatter.date}>{timeAgo(shoot.frontmatter.date)}</time>
                    </div>

                    <span>&#8231;</span>

                    <p>{shoot.frontmatter.category}</p>
                </div>
            ) : (
                ``
            )
        }

        <div>
            <a href={shoot.url} title={shoot.frontmatter.title} class="hover:underline">
                <h3 class="text-3xl font-semibold tracking-tighter line-clamp-2">{shoot.frontmatter.title}</h3>
            </a>
        </div>
    </div>

    {description ? <div class="line-clamp-3 text-xl leading-8">{shoot.frontmatter.description}</div> : ``}

    {
        link ? (
            <div class="text-xl">
                <Link text="Keep Reading" url={shoot.url} />
            </div>
        ) : (
            ``
        )
    }
</div>
