---
// components
import Image from '@/components/image/Image'

// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    shoot: object
}
const { shoot } = Astro.props;
---

<div class="shoot">
    <a class="shoot-image" href={shoot.url} title={shoot.frontmatter.title}>
        <Image file={shoot.frontmatter.hero} sizes="(min-width: 640px) 500px, 100vw" />
    </a>

    <div class="shoot-info">
        <a class="shoot-title" href={shoot.url} title={shoot.frontmatter.title}>
            <h2>{shoot.frontmatter.title}</h2>
        </a>

        <div class="shoot-meta">
            Shot <time datetime={shoot.frontmatter.date}>{timeAgo(shoot.frontmatter.date)}</time> in <span>{shoot.frontmatter.category}</span>
        </div>
        <p class="shoot-description">{shoot.frontmatter.description}</p>

        <p class="shoot-link">
            <a href={shoot.url}>Keep Reading <span>&rarr;</span></a>
        </p>
    </div>
</div>