---
// props
interface Props {
    content: object;
    darkTheme?: boolean;
}
const { content, darkTheme = false } = Astro.props;

import Picture from "@/components/image/Picture";
---

<div class="space-y-3 md:space-y-6 flex-row">
    <p class:list={["font-medium lg:text-xl text-xl ", darkTheme ? "text-gray-50" : "text-gray-900"]}>"{content.text.headline}"</p>
    <p class:list={["text-base !leading-relaxed", darkTheme ? "text-gray-50" : "text-gray-900"]}>{content.text.short}</p>

    <div class="flex items-center">
        <div>
            <Picture class="inline-block h-9 w-9 rounded-full shadow-md" src={content.image} alt="" />
        </div>

        <div class="ml-3">
            <p class:list={["text-sm font-medium ", darkTheme ? "text-gray-50" : "text-gray-900"]}>{content.name}</p>
            <p class:list={["text-xs font-medium", darkTheme ? "text-gray-300" : "text-gray-500"]}>{content.vehicle}</p>
        </div>
    </div>
</div>
