---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import Block from "@/components/content/Block";
import Container from "@/components/Container";
import Section from "@/components/content/Section";
---

<script>
    import Fuse from "fuse.js";
    import { searchConfig } from "@/src/config";
    import { timeAgo } from "@/functions/DateTime";

    // search index file
    var response = await fetch("/search/search.json");
    const data = await response.json();

    const textInputDelay = (fn, ms) => {
        let timer = 0;
        return function (...args) {
            clearTimeout(timer);
            timer = setTimeout(fn.bind(this, ...args), ms || 0);
        };
    };

    const search = async () => {
        let text = document.getElementById("textSearch").value;

        const fuse = new Fuse(data, searchConfig);
        const res = fuse.search(text);

        var html = "";

        if (res.length) {
            // How many results were found
            document.getElementById("itemFoundText").innerHTML = `${res.length} Results`;

            for (let i = 0; i < res.length; i++) {
                html += `<div class="item">`;
                html += `<div class="item-title"><a href=${res[i].item.slug}><h4>${res[i].item.title}</h4></a></div>`;
                if (res[i].item.excerpt) {
                    html += `<div class="item-description">${res[i].item.excerpt}</div>`;
                } else {
                    html += `<div class="item-description">${res[i].item.description}</div>`;
                }
                html += `</div>`;
            }
            document.getElementById("results").innerHTML = html;
        } else {
            document.getElementById("itemFoundText").innerHTML = "";
            document.getElementById("results").innerHTML = "<h4>No results found.</h4>";
        }
    };
    document.getElementById("textSearch").onkeyup = textInputDelay(search, 300);
</script>

<BaseLayout
    title="Search - I'm a Digital Marketing Expert located in Austin, TX"
    description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. My expertise is designing and creating large-scale, data-driven marketing campaigns for e-commerce businesses."
>
    <Container>
        <Section>
            <hr />

            <Block>
                <div slot="left">
                    <h1>Search</h1>
                </div>

                <form slot="right">
                    <label for="textSearch">What are you looking for?</label>
                    <input type="text" id="textSearch" name="textSearch" />
                </form>
            </Block>

            <div class="prose prose-lg">
                <h3 id="itemFoundText"></h3>
                <div id="results"></div>
            </div>
        </Section>
    </Container>
</BaseLayout>
