---
// content
import { getEntry } from "astro:content";

// props
export interface Props {
    slug: any;
    category: string;
}
const { slug, string = "blog" } = Astro.props;

const post = await getEntry(string, `${slug}.mdx`);
---

<div>
    <a class="group space-y-1" href={`/${string}/${post.slug}`} title={post.data.title}>
        <p class="text-sm font-semibold text-zinc-800 underline-offset-2 group-hover:underline dark:text-zinc-100">
            {post.data.title}
        </p>
        <p class="text-xs text-zinc-600 dark:text-zinc-400">{post.data.description}</p>
    </a>
</div>
