---
// content
import { getEntryBySlug } from "astro:content";

// props
export interface Props {
    slug: any;
    category?: string;
    basePath?: string;
}
const { slug, category = "blogs", basePath = "blog" } = Astro.props;

const post = await getEntryBySlug(category, slug);
---

<div>
    <a class="group space-y-1" href={`/${basePath}/${post.slug}`} title={post.data.title}>
        <p class="text-sm font-semibold text-zinc-800 underline-offset-2 group-hover:underline dark:text-zinc-100">
            {post.data.title}
        </p>
        <p class="text-xs text-zinc-600 line-clamp-2 dark:text-zinc-400">{post.data.description}</p>
    </a>
</div>
