---
// content
import { getEntryBySlug } from "astro:content";

// props
export interface Props {
    slug: any;
    category?: string;
    basePath?: string;
}
const { slug, category = "blogs", basePath = "blog" } = Astro.props;

const post = await getEntryBySlug(category, slug);
---

<div>
    <a
        class="group space-y-1"
        href={`/${basePath}/${post.slug}`}
        title={post.data.title}>
        <p class="text-lg font-medium text-neutral-800 underline">
            {post.data.title}
        </p>
        <p class="text-sm text-neutral-600 line-clamp-2">
            {post.data.description}
        </p>
    </a>
</div>
