---
export const prerender = true;

// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";

// content
import { CollectionEntry, getEntryBySlug, getCollection } from "astro:content";
type Props = CollectionEntry<"images">;

// functions
import { formatDate } from "@/functions/DateTime";

export async function getStaticPaths() {
    const filename = await getCollection("images");

    const paths = [];
    filename.map((f) => {
        let path = f.slug;
        paths.push(path);
    });

    return paths.map((p) => ({
        params: { file: p },
    }));
}

const params = Astro.params;
const image = await getEntryBySlug("images", params.file);
---

<Layout>
    <Container>
        <Heading>
            <h1 slot="heading">{image.data.title}</h1>
            <p slot="description">
                {image.data.description}
            </p>
        </Heading>
    </Container>

    <div class="mx-auto max-w-6xl">
        <Figure src={image.slug} metadata={false} class="shadow-2xl rounded-sm" />
    </div>

    <Container>
        <div class="flex flex-col justify-between gap-10 dark:text-zinc-100 sm:flex-row">
            <ul class="space-y-3">
                <li>
                    Taken on <span class="italic underline decoration-zinc-300 decoration-1 underline-offset-4">
                        {formatDate(image.data.date)}
                    </span>
                </li>
                <li>
                    Shot using a <span class="italic underline decoration-zinc-300 decoration-1 underline-offset-4">
                        {image.data.cameraMake}
                        {image.data.cameraModel}
                    </span>
                </li>
                <li>With a <span class="italic underline decoration-zinc-300 decoration-1 underline-offset-4">{image.data.lens}</span></li>
            </ul>

            <div class="h3 flex gap-5">
                <div>{image.data.settingsFocalLength}</div>
                <div>{image.data.settingsfStop}</div>
                <div>{image.data.settingsISO}</div>
            </div>
        </div>
    </Container>
</Layout>
