---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import { getPublicPath } from "@/functions/Media";
import Container from "@/components/content/Container";
import Picture from "@/components/image/Picture";
import Split from "@/components/content/Split";

// content
import { CollectionEntry, getEntryBySlug, getCollection } from "astro:content";
type Props = CollectionEntry<"images">;

// functions
import { formatDate } from "@/functions/DateTime";

export async function getStaticPaths() {
    const filename = await getCollection("images");

    const paths = [];
    filename.map((f) => {
        let path = f.slug;
        paths.push(path);
    });

    return paths.map((p) => ({
        params: { file: p },
    }));
}

const params = Astro.params;
const image = await getEntryBySlug("images", params.file);
---

<Layout
    classes="space-y-24"
    title={`${image.data.title} - ${image.data.description}`}
    description={`A detailed image of a ${
        image.data.title
    } shot by Erik Olsen on ${formatDate(image.data.date)}`}
>
    <Container classes="mt-24">
        <div class="space-y-2">
            <h1 class="">{image.data.title}</h1>
            <div class="text-4xl tracking-tight max-w-xl leading-tight">
                {image.data.description}
            </div>
        </div>

        <div class="mt-16 flex justify-between">
            <div class="flex flex-col gap-1">
                <div class="text-xl font-semibold">Metadata</div>
                <div class="flex gap-4 text-xl">
                    <div class="flex items-center gap-1">                  
                        {formatDate(image.data.date)}
                    </div>
                    <div>&middot;</div>
                    <div>
                        {`${image.data.cameraMake} ${image.data.cameraModel}`}
                    </div>
                    <div>&middot;</div>
                    <div>
                        {image.data.lens}
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-1">
                <div class="text-xl font-semibold">Settings</div>
                <div class="flex gap-4 tracking-tight">
                    <div>{image.data.settingsFocalLength}</div>
                    <span>&middot;</span>
                    <div>{image.data.settingsfStop}</div>
                    <span>&middot;</span>
                    <div>{image.data.settingsISO}</div>
                    <span>&middot;</span>
                    <div>{image.data.settingsShutter}</div>
                </div>
            </div>
        </div>
    </Container>

    <Container size="large">
        <Picture
            src={`${image.slug}.jpg`}
            class="w-full h-full mx-auto"
            sizes="100vw"
        />
    </Container>
</Layout>

<Container padBottom={true} />
