---
// layout
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Content from "@/components/content/Content";
import Figure from "@/components/image/Figure";
import Section from "@/components/content/Section";

// functions
import { getImage, getAllImages } from "@/functions/Media";
import { formatDate } from "@/functions/DateTime";

export async function getStaticPaths() {
    const filename = await getAllImages();
    const paths = [];
    filename.map((f) => {
        let path = f.replace(/\.[^/.]+$/, "");
        paths.push(path);
    });

    return paths.map((p) => ({
        params: { file: p },
    }));
}

const params = Astro.params;
const imagePath = `/${params.file}.jpeg`;
const image = await getImage(imagePath);
---

<BaseLayout>
    <Content>
        <Container>
            <Section>
                <Figure src={image.src} metadata={false} class="shadow-2xl rounded-md" />

                <div class="flex flex-col gap-2">
                    <h1 slot="left">{image.title}</h1>
                    <div slot="right" class="text-xl font-light !leading-relaxed md:text-3xl">
                        {image.description}
                    </div>
                </div>

                <div class="flex flex-col justify-between gap-10 sm:flex-row">
                    <ul class="space-y-3 lg:text-2xl">
                        <li>
                            Taken on <span class="italic underline decoration-stone-300 decoration-1 underline-offset-4"
                                >{formatDate(image.date, { weekday: "long", year: "numeric", month: "long", day: "numeric" })}</span
                            >
                        </li>
                        <li>
                            Shot using a <span class="italic underline decoration-stone-300 decoration-1 underline-offset-4"
                                >{image.cameraMake} {image.cameraModel}</span
                            >
                        </li>
                        <li>With a <span class="italic underline decoration-stone-300 decoration-1 underline-offset-4">{image.lens}</span></li>
                    </ul>

                    <div class="h3 flex gap-5">
                        <div>{image.settingsFocalLength}mm</div>
                        <div>f/{image.settingsfStop}</div>
                        <div>{image.settingsISO} ISO</div>
                    </div>
                </div>
            </Section>
        </Container>
    </Content>
</BaseLayout>
