---
// layout
import SimpleLayout from "@/layouts/SimpleLayout";

// components
import Container from "@/components/content/Container";
import Content from "@/components/content/Content";
import Figure from "@/components/image/Figure";
import Section from "@/components/content/Section";

// functions
import { getImage, getAllImages } from "@/functions/Media";
import { formatDate } from "@/functions/DateTime";

export async function getStaticPaths() {
    const filename = await getAllImages();
    const paths = [];
    filename.map((f) => {
        let path = f.replace(/\.[^/.]+$/, "");
        paths.push(path);
    });

    return paths.map((p) => ({
        params: { file: p },
    }));
}

const params = Astro.params;
const imagePath = `/${params.file}.jpg`;
const image = await getImage(imagePath);
---

<SimpleLayout>
    <h1 slot="heading">{image.title}</h1>
    <p slot="intro" class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
        {image.description}
    </p>

    <Figure src={image.src} metadata={false} class="shadow-2xl rounded-md" />

    <div class="flex flex-col justify-between gap-10 sm:flex-row">
        <ul class="space-y-3 lg:text-2xl">
            <li>
                Taken on <span class="italic underline decoration-zinc-300 decoration-1 underline-offset-4">{formatDate(image.date)}</span>
            </li>
            <li>
                Shot using a <span class="italic underline decoration-zinc-300 decoration-1 underline-offset-4">
                    {image.cameraMake}
                    {image.cameraModel}
                </span>
            </li>
            <li>With a <span class="italic underline decoration-zinc-300 decoration-1 underline-offset-4">{image.lens}</span></li>
        </ul>

        <div class="h3 flex gap-5">
            <div>{image.settingsFocalLength}mm</div>
            <div>f/{image.settingsfStop}</div>
            <div>{image.settingsISO} ISO</div>
        </div>
    </div>
</SimpleLayout>
