---
export const prerender = true;

// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Image";
import Heading from "@/components/content/Heading";
import Split from "@/components/content/Split";

// content
import { CollectionEntry, getEntryBySlug, getCollection } from "astro:content";
type Props = CollectionEntry<"images">;

// functions
import { formatDate } from "@/functions/DateTime";

export async function getStaticPaths() {
    const filename = await getCollection("images");

    const paths = [];
    filename.map((f) => {
        let path = f.slug;
        paths.push(path);
    });

    return paths.map((p) => ({
        params: { file: p },
    }));
}

const params = Astro.params;
const image = await getEntryBySlug("images", params.file);
---

<Layout>
    <Container>
        <h1 class="text-center mb-16">
            {image.data.title}
        </h1>

        <Figure
            src={image.slug}
            metadata={false}
            figureClass="w-full mx-auto"
            class="mx-auto"
        />
    </Container>

    <Container classes="pb-32 md:pb-48">
        <Split>
            <h2 slot="heading">Photo Metadata</h2>
            <div slot="bottom">
                <div class="button button-ghost text-lg">Download Image</div>
            </div>

            <div class="space-y-12">
                <div
                    class="text-4xl font-semibold tracking-tight dark:text-neutral-50">
                    {image.data.description}
                </div>

                <div class="text-xl">
                    <div class="space-y-3 dark:text-neutral-200">
                        <div>
                            Taken on {formatDate(image.data.date)}
                        </div>
                        <div>
                            Shot using a
                            {image.data.cameraMake}
                            {image.data.cameraModel}
                        </div>
                        <div>
                            With a
                            {image.data.lens}
                        </div>
                    </div>
                </div>

                <div
                    class="flex gap-6 text-xl tracking-tight dark:text-neutral-300">
                    <div>{image.data.settingsFocalLength}</div>
                    <div>{image.data.settingsfStop}</div>
                    <div>{image.data.settingsISO}</div>
                    <div>{image.data.settingsShutter}</div>
                </div>
            </div>
        </Split>
    </Container>
</Layout>
