---
// layouts
import Layout from "@/layouts/BaseLayout";

// components
import { getCollection } from "astro:content";
import { formatDate } from "@/functions/DateTime";
import { Markdown } from "astro-remote";
import Container from "@/components/content/Container";
import Image from "@/components/image/Image";
import Heading from "@/components/content/Heading";
import Video from "@/components/Video";

//const shoots = await getCollection("shoot");

// content
export async function getStaticPaths() {
	const shoots = await getCollection("shoot");

	return shoots.map((shoot) => ({
		params: { slug: shoot.data.slug },
		props: { shoot },
	}));
}
const { shoot } = Astro.props;

// const currentArrayLoc = shoots.findIndex((x) => x.data.slug === shoot.data.slug);
// const shootPrev = shoots[currentArrayLoc + 1];
// const shootNext = shoots[currentArrayLoc - 1];

// get related posts
//const { object: related } = await cosmic.objects.findOne({ type: "shoots", id: shoot.data.cosmic }).props("id, metadata.related").depth(1);

const hasVideo = shoot.data.video.file ? true : false;
const hasImages = shoot.data.images.tertiary && shoot.data.images.secondary ? true : false;

const imagesToRemove = [
	shoot.data.images.thumbnail.url,
	shoot.data.images.tertiary && shoot.data.images.tertiary.url,
	shoot.data.images.secondary && shoot.data.images.secondary.url,
];

let filteredGallery = shoot.data.images.gallery.filter(
	(img) => !imagesToRemove.includes(img.url),
);
---

<Layout title={shoot.data.title} description={shoot.data.excerpt}>
	<Container>
		<div class="grid grid-cols-6 gap-12 mb-16">
			<div class="col-span-6 lg:col-span-3">
				<Heading bottomMargin={false}>
					<h1 slot="heading">{shoot.data.title}</h1>
				</Heading>

				<div class="flex flex-wrap gap-4 md:gap-6">
					<div class="flex items-center space-x-1 text-slate-800">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 16 16"
							fill="currentColor"
							class="size-4"
						>
							<path
								fill-rule="evenodd"
								d="M4 1.75a.75.75 0 0 1 1.5 0V3h5V1.75a.75.75 0 0 1 1.5 0V3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2V1.75ZM4.5 6a1 1 0 0 0-1 1v4.5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-7Z"
								clip-rule="evenodd"></path>
						</svg>

						<span>{formatDate(shoot.data.date)}</span>
					</div>

					<div class="flex items-center space-x-1 text-slate-800">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 16 16"
							fill="currentColor"
							class="size-4"
						>
							<path
								fill-rule="evenodd"
								d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
								clip-rule="evenodd"></path>
						</svg>

						<span>{shoot.data.shoot.location}</span>
					</div>

					{
						shoot.data.auction.url && (
							<div
								class:list={[
									"flex items-center space-x-1 text-white rounded py-2 px-4",
									shoot.data.auction.sold
										? "bg-emerald-600"
										: "bg-sky-700",
								]}
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 16 16"
									fill="currentColor"
									class="size-4"
								>
									<path
										fill-rule="evenodd"
										d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
										clip-rule="evenodd"
									/>
								</svg>

								<a
									href={shoot.data.auction.url}
									target="_blank"
									class="underline font-medium"
								>
									{shoot.data.auction.sold
										? "Sold for"
										: "Bid to"}{" "}
									$
									{Intl.NumberFormat().format(
										shoot.data.auction.price,
									)}{" "}
									on {shoot.data.auction.site.value}
								</a>
							</div>
						)
					}
				</div>
			</div>

			<div class="col-span-6 lg:col-span-3 space-y-4">
				<div
					set:html={shoot.data.excerpt}
					class="text-2xl leading-10 text-slate-800 text-balance md:max-w-2xl"
				/>
				{
					shoot.data.shoot.content && (
						<div class="space-y-4 font-normal !leading-7 tracking-normal text-slate-700 text-base md:max-w-2xl">
							<Markdown content={shoot.data.shoot.content} />
						</div>
					)
				}
			</div>
		</div>
	</Container>

	{
		((hasVideo || hasImages) && (
				<div class="bg-sky-100/60 py-16">
					<Container size="xlarge">
						<div class="flex items-center justify-center md:justify-start font-semibold text-slate-700 gap-2 mb-8">
							Featured Media
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								class="size-5"
							>
								<path
									fill-rule="evenodd"
									d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
									clip-rule="evenodd"
								/>
							</svg>
						</div>

						<div class="grid grid-cols-6 grid-rows-2 gap-6 md:gap-8 lg:gap-12">
							<div
								class="col-span-6 md:col-span-4 row-span-2">
								<Image
									figureClass="w-full h-full"
									class="object-cover w-full h-full"
									src={shoot.data.images.thumbnail.url}
									showTitle={false}
									sizes="66vw"
								/>
							</div>

							<div class="col-span-3 md:col-span-2">
								{hasVideo ? (
									<Video
										video={shoot.data.video.file}
										title={shoot.data.video.title}
										placeholder={
											shoot.data.video.thumbnail.imgix_url
										}
									/>
								) : (
									<Image
										src={shoot.data.images.tertiary.url}
										showTitle={false}
										sizes="33vw"
									/>
								)}
							</div>

							<div class="col-span-3 md:col-span-2">
								<Image
									src={shoot.data.images.secondary.url}
									showTitle={false}
									sizes="33vw"
								/>
							</div>
						</div>
					</Container>
				</div>
			))
	}

	<Container size="xlarge">
		<div class="flex items-center justify-center md:justify-start font-semibold text-slate-700 gap-2 mt-12 mb-8">
			All Media ({filteredGallery.length})
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 20 20"
				fill="currentColor"
				class="size-5"
			>
				<path
					fill-rule="evenodd"
					d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
					clip-rule="evenodd"></path>
			</svg>
		</div>

		<div id="gallery" class="gap-6 md:gap-8 lg:gap-12">
			{
				filteredGallery.map((g, i) => (
					<Image
						src={g.url}
						class="rounded"
						sizes="800px"
						showTitle={false}
					/>
				))
			}
		</div>
		<!-- <div
				class="grid md:grid-cols-3 gap-4 md:gap-6 lg:gap-8 items-start"
			>
				<div
					class="order-2 lg:order-0 md:col-span-3 lg:col-span-2 space-y-16"
				>
					<div class="flex flex-wrap gap-4">
						{
							shoot.data.images.gallery.map((g, i) => (
								<div class="h-72 sm:h-110 md:h-140 lg:h-112 xl:h-70 2xl:h-80 grow">
									<Figure
										src={g.url}
										figureClass={[
											"w-full h-full shadow-2xl",
										]}
										class="w-full h-full object-cover"
										sizes="(min-width: 1024px) 60vw, 100vw"
										showTitle={false}
										lazy={i < 4 ? false : true}
									/>
								</div>
							))
						}
					</div>

					{
						(shootNext || shootPrev) && (
							<div class="space-y-8">
								<h3>Want to Keep Reading?</h3>
								<div class="grid grid-cols-2 gap-x-4 md:gap-x-8 xl:gap-x-24">
									{shootNext && (
										<a href={`/photography/shoots/${shootNext.data.slug}`} class="relative flex gap-x-3 w-full">
											<Figure src={shootNext.data.images.thumbnail.url} figureClass="aspect-square h-16 w-50" class="object-cover w-full h-full" showTitle={false} gallery={false} rounded={true} sizes="200px" />

											<div class="space-y-1">
												<SidebarHeading>Next Shoot</SidebarHeading>
												<div class="text-slate-800 text-base sm:text-lg xl:text-xl text-balance line-clamp-1">{shootNext.data.title}</div>
												<div class="text-slate-700 text-xs md:text-sm line-clamp-2 md:line-clamp-2" set:html={shootNext.data.excerpt} />
											</div>

											<div class="absolute inset-0" />
										</a>
									)}

									{shootPrev && (
										<a href={`/photography/shoots/${shootPrev.data.slug}`} class="relative flex gap-x-3 w-fit justify-self-end">
											<div class="text-right space-y-1">
												<SidebarHeading>Previous Shoot</SidebarHeading>
												<div class="text-slate-800 text-base sm:text-lg xl:text-xl text-balance line-clamp-1">{shootPrev.data.title}</div>
												<div class="text-slate-700 text-xs md:text-sm line-clamp-2 md:line-clamp-2" set:html={shootPrev.data.excerpt} />
											</div>

											<Figure src={shootPrev.data.images.thumbnail.url} figureClass="aspect-square h-16 w-50" class="object-cover w-full h-full" showTitle={false} gallery={false} rounded={true} sizes="200px" />
										</a>
									)}
								</div>
							</div>
						)
					}

					<div class:list={["@container grid grid-cols-2 gap-4 md:gap-6 lg:gap-8", shoot.data.images.gallery.length < 7 ? "lg:grid-cols-2" : "lg:grid-cols-3"]}>
						{
							shoot.data.images.gallery.map((g, i) => (
								<Figure
									src={g.url}
									figureClass={["w-full h-full shadow-2xl", shoot.data.images.gallery.length > 7 ? "md:h-[14em] lg:@4xl:h-[20em]" : "lg:h-[16em]"]}
									class="w-full h-full object-cover"
									sizes="(min-width: 1024px) 500px, 43vw"
									showTitle={false}
									lazy={i < 4 ? false : true}
								/>
							))
						}
					</div>
				</div>

				<div class:list={["md:col-span-3 lg:col-span-1 pt-4"]}>
					<div class="space-y-12">
						<div class="space-y-6">
							<div
								set:html={shoot.data.excerpt}
								class="text-3xl leading-10 text-slate-800"
							/>
							{
								shoot.data.shoot.content && (
									<div class="space-y-3">
										<div class="space-y-4 font-normal !leading-7 tracking-normal text-slate-700 text-lg">
											<Markdown
												content={
													shoot.data.shoot.content
												}
											/>
										</div>
									</div>
								)
							}
						</div>

						{
							shoot.data.videos.length > 0 && (
								<div class="space-y-3">
									<SidebarHeading>Videos</SidebarHeading>

									{shoot.data.videos.map((r) => (
										<Video
											video={r.video.imgix_url}
											title={r.title}
											playButton={true}
										/>
									))}
								</div>
							)
						}

						{
							shoot.data.testimonial && (
								<div class="space-y-3">
									<SidebarHeading>Testimonial</SidebarHeading>
									<div
										class="space-y-3 leading-7 text-slate-700"
										set:html={
											shoot.data.testimonial.metadata
												.testimonial
										}
									/>
								</div>
							)
						}
						{
							related.metadata.related.length > 0 && (
								<div class="space-y-3">
									<SidebarHeading>Related Shoots</SidebarHeading>
									<div class="space-y-4">
										{related.metadata.related.map((r) => (
											<Related shoot={r} />
										))}
									</div>
								</div>
							)
						}
					</div>
				</div>
			</div> -->
	</Container>
</Layout>

<style>
	#gallery {
		--padding: max(2.5vw, 12px);
		--min-height: clamp(200px, 20vw, 325px);

		display: flex;
		flex-wrap: wrap;

		figure {
			flex-grow: calc(var(--width) * (100000 / var(--height)));
			flex-basis: calc(
				var(--min-height) * (var(--width) / var(--height))
			);
			aspect-ratio: var(--width) / var(--height);
			overflow: hidden;
			opacity: 1;
			transition: all 0.05s ease-in-out;
		}

		figure img {
			display: block;
			object-fit: cover;
			height: 100%;
			width: 100%;
		}

		figure&::after {
			content: " ";
			flex-grow: 1000000000;
		}
	}
</style>
