---
export const prerender = false;

// layout
import Layout from "@/layouts/BaseLayout";

// components
import { getCollection } from "astro:content";
import { paginate } from "@/functions/Paginate";
import Container from "@/components/content/Container";
import Primary from "@/components/shoots/cards/Primary";
import Section from "@/components/content/Section";
import Pagination from "@/components/Pagination";

// content
const shoots = await getCollection("shoot");

// selects
const categories = shoots.map((s) => s.data.category);
const uniqueCategories = categories.filter((c, index) => categories.findIndex((item) => item.key === c.key) === index).sort((a, b) => a.key.localeCompare(b.key));
const brands = shoots.map((s) => s.data.shoot.brand);
const uniqueBrands = [...new Set(brands)].sort().filter(function (e) {
	return e;
});

// url params
const categoryParam = Astro.url.searchParams.get("category");
const brandParam = Astro.url.searchParams.get("brand");
const search = Astro.url.searchParams.get("search");

const searchRegex = search && new RegExp(search, "i");
const filteredShoots = shoots.filter((shoot) => {
	if (categoryParam && categoryParam.length > 0) {
		if (!categoryParam.includes(shoot.data.category.key)) {
			return false;
		}
	}

	if (brandParam && brandParam.length > 0) {
		if (!shoot.data.shoot.brand) {
			return false;
		}
		if (!brandParam.includes(shoot.data.shoot.brand.toLowerCase())) {
			return false;
		}
	}

	if (searchRegex) {
		return searchRegex.test(shoot.data.title);
	}

	return true;
});

//const featuredShoot = shoots.filter((f) => f.data.shoot.featured == true).slice(0, 1);
const currentPage = Astro.params.page === undefined ? 1 : Number.parseInt(Astro.params.page);
const paginatedResults = paginate({
	data: filteredShoots,
	pageSize: 12,
	currentPage,
	route: "/photography/shoots/[...page]/",
	searchParams: Astro.url.searchParams,
});

const { page, allPages } = paginatedResults;

// make sure the requested page number is valid, if not redirect to the first page of results
if (allPages.length && !page) {
	return Astro.redirect(allPages[0]);
}
---

<Layout title="Car Photography Shoots in Austin, TX">
	<Section>
		<Container size="large">
			<div class="grid grid-cols-1 lg:grid-cols-12 gap-12" x-data="{ open: false }">
				<div class="absolute lg:block lg:sticky lg:top-16 lg:col-span-3 pb-12 lg:pb-0 h-full">
					<div @click="open = !open" class="fixed lg:hidden bottom-5 right-3 z-50 bg-white shadow-xl border-4 border-white/20 flex items-center justify-center p-3 rounded-full">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
							<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
						</svg>
					</div>

					<form x-show="open" x-transition x-cloak class="fixed lg:static bottom-20 right-3 z-50 lg:!flex flex-col space-y-6 shadow-2xl bg-white lg:bg-transparent lg:shadow-none p-4 lg:p-0 rounded lg:rounded-none" method="get">
						<div class="space-y-2">
							<div class="flex justify-between items-center">
								<div class="font-medium">Search</div>
								{
									search && (
										<a class="text-sm cursor-pointer" onclick="event.preventDefault(); removeParam([`search`])">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
												<path
													fill-rule="evenodd"
													d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm2.78-4.22a.75.75 0 0 1-1.06 0L8 9.06l-1.72 1.72a.75.75 0 1 1-1.06-1.06L6.94 8 5.22 6.28a.75.75 0 0 1 1.06-1.06L8 6.94l1.72-1.72a.75.75 0 1 1 1.06 1.06L9.06 8l1.72 1.72a.75.75 0 0 1 0 1.06Z"
													clip-rule="evenodd"
												/>
											</svg>
										</a>
									)
								}
							</div>

							<div class="relative">
								<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 text-slate-400">
										<path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd"></path>
									</svg>
								</div>
								<input type="text" name="search" id="search" class="!pl-9 !text-sm" placeholder="Search" value={search} />
							</div>
						</div>

						<div class="space-y-2">
							<div class="flex justify-between items-center">
								<div class="font-medium">Filters</div>
								{
									(categoryParam || brandParam) && (
										<a class="text-sm cursor-pointer" onclick="event.preventDefault(); removeParam([`brand`, `category`])">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
												<path
													fill-rule="evenodd"
													d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm2.78-4.22a.75.75 0 0 1-1.06 0L8 9.06l-1.72 1.72a.75.75 0 1 1-1.06-1.06L6.94 8 5.22 6.28a.75.75 0 0 1 1.06-1.06L8 6.94l1.72-1.72a.75.75 0 1 1 1.06 1.06L9.06 8l1.72 1.72a.75.75 0 0 1 0 1.06Z"
													clip-rule="evenodd"
												/>
											</svg>
										</a>
									)
								}
							</div>

							<div>
								<label for="category" class="!hidden">Select a category</label>
								<select name="category" id="category" class="!text-sm">
									<option value="" disabled selected>Category</option>
									{
										uniqueCategories.map((c) => (
											<option value={c.key} selected={categoryParam === c.key}>
												{c.value}
											</option>
										))
									}
								</select>
							</div>

							<div>
								<label for="brand" class="!hidden">Select a brand</label>
								<select name="brand" id="brand" class="!text-sm">
									<option value="" disabled selected>Brands</option>
									{
										uniqueBrands.map((b) => (
											<option value={b.toLowerCase()} selected={brandParam === b.toLowerCase()}>
												{b}
											</option>
										))
									}
								</select>
							</div>
						</div>

						<button class="button button-primary w-full">Filter</button>
					</form>
				</div>

				<div class="lg:col-span-9 row-span-2">
					{
						page.data.length > 0 ? (
							<>
								<div class="space-y-6 mb-16">
									<div class="flex justify-between items-center">
										<div class="text-xl font-semibold">{page.total} Shoots</div>
										{allPages.length > 1 && <Pagination restRoute page={page} allPages={allPages} />}
									</div>

									<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 lg:gap-x-10 gap-y-10 lg:gap-y-16">
										{paginatedResults.page.data.map((s, i) => (
											<Primary shoot={s} sizes="(min-width: 768px) 500px, (min-width: 640px) 50vw, 88vw" lazy={i < 3 ? false : true} />
										))}
									</div>
								</div>

								<div class="flex justify-center items-center">{allPages.length > 1 && <Pagination restRoute page={page} allPages={allPages} />}</div>
							</>
						) : (
							<div class="space-y-6 mb-16">
								<div class="text-3xl font-light">
									<div>No results for</div>
									{categoryParam && brandParam && search && (
										<div>
											<strong class="font-semibold">{categoryParam}</strong>, <strong class="font-semibold">{brandParam}</strong> and <strong class="font-semibold">{search}</strong>
										</div>
									)}
									{!search && categoryParam && brandParam && (
										<div>
											<strong class="font-semibold">{categoryParam}</strong> and <strong class="font-semibold">{brandParam}</strong>
										</div>
									)}
									{!categoryParam && !brandParam && search && (
										<div>
											<strong class="font-semibold">{search}</strong>
										</div>
									)}
								</div>

								<div class="text-lg md:text-xl text-slate-900 !leading-relaxed text-balance">
									I'm sorry to report that I haven't shot anything that matches your search yet. Please keep checking back though, as I'm constantly updating my site.
								</div>
								<div class="text-lg md:text-xl text-slate-900 !leading-relaxed text-balance">
									If you're ready to book a car photography shoot,{" "}
									<a href="/contact/" class="underline">
										let's chat
									</a>
									!
								</div>
							</div>
						)
					}
				</div>
			</div>
		</Container>
	</Section>
</Layout>

<script is:inline>
	function removeParam(param) {
		const url = new URL(window.location.href);
		const urlWithoutParams = window.location.href.split("?")[0];
		const params = new URLSearchParams(url.search);

		for (let p of param) {
			params.delete(p);
		}

		window.location.href = params.size == 0 ? `${urlWithoutParams}` : `${urlWithoutParams}?${params}`;
	}
</script>
