---
// layouts
import Layout from "@/layouts/BaseLayout";

// components
import { getCollection } from "astro:content";
import Container from "@/components/content/Container";
import Flex from "@/components/image/Flex";
import FlexItem from "@/components/image/FlexItem";
import Figure from "@/components/image/Image";
import Related from "@/components/shoots/related/Primary";

// content
export async function getStaticPaths() {
	const shoots = await getCollection("shoot");

	return shoots.map((shoot) => ({
		params: { slug: shoot.data.slug },
		props: { shoot },
	}));
}
const { shoot } = Astro.props;

// loop through the photos and get all lenses used
const allLenses = [];
for (let image of shoot.data.images.gallery) {
	allLenses.push(image.metadata.lens);
}
// return only the unique lenses
const uniqueLenses = [...new Set(allLenses)];
---

<Layout title={shoot.data.title} description={shoot.data.excerpt} navPadding={false}>
	<div class="h-[70vh] relative">
		<Figure src={shoot.data.images.thumbnail.url} figureClass="absolute w-full h-full" class="w-full h-full object-cover" sizes="100vw" gallery={false} showTitle={false} />
		<div class="bg-gradient-to-b to-black/80 from-black/40 absolute w-full h-full"></div>
	</div>

	<Container classes="-mt-[14em] md:-mt-[16em] lg:-mt-[20em] relative z-10 @container" size="large">
		<h1 class="text-balance mx-auto max-w-sm sm:max-w-4xl text-white text-4xl @xs:text-4xl @sm:text-5xl sm:text-6xl md:text-7xl lg:text-8xl md:ml-10 text-center md:text-left">{shoot.data.title}</h1>

		<div class="rounded bg-white p-4 lg:p-8 shadow-2xl mt-4 md:-mt-3 space-y-8 lg:space-y-16">
			{
				shoot.data.images.featured && (
					<div class="grid md:grid-cols-3 gap-4 lg:gap-8">
						{shoot.data.images.featured.map((f) => (
							<Figure src={f.url} figureClass="w-full h-full" class="w-full h-full object-cover" sizes="(min-width: 640px) 300px, 100vw" showTitle={false} />
						))}
					</div>
				)
			}

			<div class="grid grid-cols-12 gap-4 md:gap-8">
				<div class="col-span-12 md:col-span-9 space-y-8 lg:space-y-16">
					<h2 class="lg:text-balance text-2xl md:text-3xl lg:text-4xl text-gray-900 font-normal !leading-snug" set:html={shoot.data.excerpt} />

					<div class="grid grid-cols-1 md:grid-cols-4 gap-8">
						{shoot.data.images.gallery.map((g) => <Figure src={g.url} figureClass="w-full h-full md:aspect-square" class="w-full h-full object-cover" sizes="(min-width: 640px) 300px, 100vw" showTitle={false} />)}
					</div>
				</div>

				<div class="col-span-12 md:col-span-3 space-y-8">
					<div class="space-y-1">
						<p class="font-semibold text-lg">Gear</p>
						<ul>
							<li>Sony Alpha ILCE-7M3</li>
							{uniqueLenses.map((l) => <li>{l}</li>)}
						</ul>
					</div>

					{
						shoot.data.auction.url && (
							<div class="space-y-1">
								<p class="font-semibold text-lg">Auction</p>
								<div>
									Listed on{" "}
									<a href={shoot.data.auction.url} target="_blank" class="underline">
										{shoot.data.auction.site.value}
									</a>
								</div>
								<div>
									{shoot.data.auction.sold ? `Sold for` : `Bid to`} ${Intl.NumberFormat().format(shoot.data.auction.price)}
								</div>
							</div>
						)
					}
				</div>
			</div>
		</div>
	</Container>
</Layout>
