---
// layouts
import Layout from "@/layouts/BaseLayout";

// components
import { formatDate } from "@/functions/DateTime";
import { getEntry } from "astro:content";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Flex from "@/components/image/Flex";
import FlexItem from "@/components/image/FlexItem";
import Heading from "@/components/content/Heading";
import Picture from "@/components/image/Picture";
import Section from "@/components/content/Section";
import Split from "@/components/content/Split";

// content
const { slug } = Astro.params;
const shoot = await getEntry("shoots", slug);

// if no image found, return 404
if (!shoot) return Astro.redirect("/404");

const { Content } = await shoot.render();
---

<Layout title={shoot.data.title} description={shoot.data.description} footerPadding={true} navPadding={false}>
    <Section>
        <div class="w-full h-full relative min-h-[35vh] flex justify-center items-center py-20">
            <Picture src={shoot.data.images.hero} class="w-full h-full object-cover absolute inset-0" rounded={false} loading="eager" sizes="100vw" />

            <Container>
                <div class="grid grid-cols-3 relative">
                    <div></div>

                    <div class="bg-gray-900/90 rounded p-12 col-span-2 backdrop-blur-sm">
                        <Heading maxWidth="max-w-2xl">
                            <h1 slot="heading" class="text-white text-center">{shoot.data.title}</h1>
                        </Heading>
                    </div>
                </div>
            </Container>
        </div>

        <Container>
            <Split float={false} size="large">
                <div slot="heading" class="space-y-8">
                    <h2 class="text-4xl leading-snug font-medium">{shoot.data.description}</h2>
                </div>

                <div class="space-y-12">
                    <div class="flex justify-start divide-x text-gray-800">
                        <div class="flex gap-2 first:pl-0 px-6 last:pr-0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z">
                                </path>
                            </svg>
                            <time datetime="2023">{formatDate(shoot.data.date)}</time>
                        </div>

                        <div class="flex gap-2 first:pl-0 px-6 last:pr-0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z">
                                </path>
                            </svg>
                            <div>{shoot.data.location.text}</div>
                        </div>

                        <div class="flex gap-2 first:pl-0 px-6 last:pr-0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776">
                                </path>
                            </svg>

                            <div>{shoot.data.category}</div>
                        </div>
                    </div>

                    <div class="prose prose-lg">
                        <Content />
                    </div>
                </div>
            </Split>
        </Container>

        <div>
            <!-- {
                shoot.data.auction && (
                    <Container>
                        <div class="bg-green-600 p-10">
                            <div class="flex justify-center items-center gap-2 text-white text-4xl">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
                                    />
                                </svg>

                                <a href={shoot.data.auction.url} target="_blank">
                                    Sold on {shoot.data.auction.site} for ${Intl.NumberFormat().format(shoot.data.auction.price)}
                                </a>
                            </div>
                        </div>
                    </Container>
                )
            } -->

            <Flex>
                {shoot.data.images.gallery.map((g) => <Picture src={g} class="w-full h-full object-cover" classes="flex-auto h-[400px]" />)}
            </Flex>
        </div>
    </Section>
</Layout>
