---
// layouts
import Layout from "@/layouts/BaseLayout";

// components
import { formatDate } from "@/functions/DateTime";
import { getEntry } from "astro:content";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Section from "@/components/content/Section";

// content
const { slug } = Astro.params;
const shoot = await getEntry("shoots", slug);

// if no image found, return 404
if (!shoot) return Astro.redirect("/404");

const { Content } = await shoot.render();
---

<Layout title={shoot.data.title} description={shoot.data.description} footerPadding={true}>
    <Section>
        <Container innerClass="relative">
            <Heading maxWidth="max-w-2xl">
                <h1 slot="heading">{shoot.data.title}</h1>
                <div slot="description">{shoot.data.description}</div>
            </Heading>
        </Container>

        <Container size="large">
            <Figure src={shoot.data.images.hero} class="h-full w-full object-cover" loading="eager" sizes="100vw" />
        </Container>

        {
            shoot.data.auction ? (
                <>
                    <Container size="small">
                        <div class="relative mb-16">
                            <h2 class="z-10 inline bg-white pr-6">Auction Details</h2>
                            <hr class="absolute w-full -mt-6 -z-10" />
                        </div>

                        <dl class="grid grid-cols-3 text-gray-900 gap-12">
                            <div class="flex flex-col bg-gray-900 text-white rounded-md p-10 gap-8">
                                <div>
                                    <dt class="font-medium">Date</dt>
                                    <dd>
                                        <time datetime="2023">{formatDate(shoot.data.date)}</time>
                                    </dd>
                                </div>

                                <div>
                                    <dt class="font-medium">Location</dt>
                                    <dd>
                                        <time datetime="2023">{shoot.data.location.text}</time>
                                    </dd>
                                </div>

                                <div>
                                    <dt class="font-medium">Auction</dt>
                                    <dd>
                                        <a href={shoot.data.auction.url} target="_blank">
                                            {shoot.data.auction.site}
                                        </a>
                                    </dd>
                                </div>

                                <div>
                                    <dt class="font-medium">Price</dt>
                                    <dd>${Intl.NumberFormat().format(shoot.data.auction.price)}</dd>
                                </div>
                            </div>

                            <div class="col-span-2 text-xl leading-relaxed space-y-8">
                                <Content />
                            </div>
                        </dl>
                    </Container>

                    <Container size="large" padding={false}>
                        <div class="flex flex-wrap gap-6 not-prose">
                            {shoot.data.images.gallery.map((g) => (
                                <Figure src={g} figureClass="w-96 flex-grow" class="w-full h-full object-cover" />
                            ))}
                        </div>
                    </Container>
                </>
            ) : (
                <>
                    <Container>
                        <div class="relative mb-8">
                            <h2 class="z-10 inline bg-white pr-6">Shoot Details</h2>
                            <hr class="absolute w-full -mt-6 -z-10" />
                        </div>

                        <dl class="flex text-gray-900 gap-12 mb-8">
                            <div class="flex">
                                <dt class="pill pill-primary">Date</dt>
                                <dd>
                                    <time datetime="2023">{formatDate(shoot.data.date)}</time>
                                </dd>
                            </div>

                            <div>
                                <dt class="pill pill-primary">Location</dt>
                                <dd>
                                    <time datetime="2023">{shoot.data.location.text}</time>
                                </dd>
                            </div>

                            <div>
                                <dt class="pill pill-primary">Category</dt>
                                <dd>{shoot.data.category}</dd>
                            </div>
                        </dl>

                        <div class="text-2xl leading-relaxed space-y-8">
                            <Content />
                        </div>
                    </Container>

                    <Container padding={false}>
                        <div class="relative mb-16">
                            <h2 class="z-10 inline bg-white pr-6">Gallery</h2>
                            <hr class="absolute w-full -mt-6 -z-10" />
                        </div>

                        <div class="flex flex-wrap gap-6 not-prose">
                            {shoot.data.images.gallery.map((g) => (
                                <Figure src={g} figureClass="w-96 flex-grow" class="w-full h-full object-cover" />
                            ))}
                        </div>
                    </Container>
                </>
            )
        }
    </Section>
</Layout>

<style>
    :global(h2) {
        @apply text-balance;
    }
</style>
