---
// layouts
import Layout from "@/layouts/BaseLayout";

// components
import JamComments from "@jam-comments/astro";
import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";
import Related from "@/components/sidebar/Related";
import Split from "@/components/content/Split";

// config
import { siteConfig } from "@/src/config";

// content
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
    const shoots = await getCollection("shoots");
    return shoots.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}
type Props = CollectionEntry<"shoots">;

const { entry } = Astro.props;
const { Content, headings } = await entry.render();

// functions
import { formatDate } from "@/functions/DateTime";
---

<Layout title={entry.data.title} description={entry.data.description}>
    <Container padBottom={true}>
        <div class="space-y-32">
            <Heading small={true}>
                <h1 slot="heading">{entry.data.title}</h1>
                <p slot="description">{entry.data.description}</p>
            </Heading>

            <Split size="small" float={true} reverse={true}>
                <div slot="heading" class="space-y-12 w-4/5">
                    <div class="space-y-4">
                        <div class="text-xl lg:text-2xl xl:text-3xl font-medium">Metadata</div>
                        <ul class="space-y-2 lg:space-y-1 md:text-sm lg:text-base xl:text-lg text-neutral-600">
                            <li>
                                Posted on <time datetime={entry.data.date}>
                                    {formatDate(entry.data.date)}
                                </time>
                            </li>
                            <li>
                                {entry.data.location && `Shot in ${entry.data.location.text}`}
                            </li>
                        </ul>
                    </div>

                    {
                        headings.length > 1 && (
                            <div class="space-y-4">
                                <div class="text-xl lg:text-2xl xl:text-3xl font-medium">Content</div>
                                <ul class="space-y-1 xl:text-lg text-neutral-600">
                                    {headings.map((h) => (
                                        <li>
                                            <a href={`#${h.slug}`}>&ndash; {h.text}</a>
                                        </li>
                                    ))}
                                </ul>
                            </div>
                        )
                    }

                    {
                        entry.data.auction && (
                            <div class="space-y-4">
                                <div class="text-xl lg:text-2xl xl:text-3xl font-medium">Auction</div>
                                <ul class="space-y-1 md:text-sm lg:text-base xl:text-lg text-neutral-600">
                                    <li>{`${entry.data.auction.sold ? `Sold for ` : `Bid to `} $${entry.data.auction.price.toLocaleString("en-US")}`}</li>
                                    <li class="flex items-center gap-2">
                                        on{" "}
                                        <a href={entry.data.auction.url} class="underline underline-offset-1">
                                            {entry.data.auction.site}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        )
                    }

                    {
                        entry.data.related && (
                            <div class="space-y-8">
                                <div class="text-xl lg:text-2xl xl:text-3xl font-medium">Related Posts</div>
                                {entry.data.related.map((r) => (
                                    <Related slug={r} category="shoots" basePath="photography/shoots" />
                                ))}
                            </div>
                        )
                    }
                </div>

                <article class="prose prose-xl max-w-none">
                    <Content />

                    <div class="bg-neutral-100 p-8 mt-32">
                        <h3>Comments</h3>
                        <JamComments path={`${siteConfig.url}${Astro.url.pathname}`} />
                    </div>
                </article>
            </Split>
        </div>
    </Container>
</Layout>
