---
// layouts
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Gallery from "@/components/image/Gallery";
import Heading from "@/components/content/Heading";
import Image from "@/components/image/Image";
import Related from "@/components/sidebar/Related";
import Split from "@/components/content/Split";

// config
import { siteConfig } from "@/src/config";

// content
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
    const shoots = await getCollection("shoots");
    return shoots.map((shoot) => ({
        params: { slug: shoot.slug },
        props: { shoot },
    }));
}
type Props = CollectionEntry<"shoots">;

const { shoot } = Astro.props;
const { Content } = await shoot.render();

// functions
import { formatDate } from "@/functions/DateTime";
import { getPublicPath } from "@/functions/Media";
---

<Layout
    title={shoot.data.title}
    description={shoot.data.description}
    padTop={false}>
    <Image src={shoot.data.headline} class="w-full object-cover h-[50vh]" />

    <Container>
        <Split small={true} float={true}>
            <div slot="heading" class="space-y-20 w-4/5">
                <div class="space-y-8">
                    <div class="h4">Metadata</div>
                    <ul class="space-y-1 text-lg text-neutral-600">
                        <li>
                            Posted on <time datetime={shoot.data.date}>
                                {formatDate(shoot.data.date)}
                            </time>
                        </li>
                        <li>
                            Written by
                            {siteConfig.name}
                        </li>
                    </ul>
                </div>

                {
                    shoot.data.auction && (
                        <div class="space-y-8">
                            <div class="h4">Results</div>
                            <ul class="space-y-1 text-lg text-neutral-600">
                                <li>
                                    Auctioned on{" "}
                                    <a
                                        class="underline"
                                        href={shoot.data.auction.url}
                                        title={shoot.data.title}>
                                        {shoot.data.auction.site}
                                    </a>
                                </li>
                                <li>
                                    {shoot.data.auction.sold
                                        ? `Sold at `
                                        : `Bid to `}
                                    {`$${shoot.data.auction.price.toLocaleString(
                                        "en-US"
                                    )}`}
                                </li>
                            </ul>
                        </div>
                    )
                }
            </div>

            <article class="prose prose-xl">
                <Content />
            </article>
        </Split>

        <!-- <Container>
        {
            shoot.data.related && (
                <div class="space-y-8">
                    <div class="h4">Related Posts</div>
                    {shoot.data.related.map((r) => (
                        <Related
                            slug={r}
                            category="shoots"
                            basePath="photography"
                        />
                    ))}
                </div>
            )
        }
    </Container> -->
    </Container>
</Layout>
