---
// layouts
import Layout from "@/layouts/BaseLayout";

// components
import { timeAgo } from "@/functions/DateTime";

import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";
import Picture from "@/components/image/Picture";
import Related from "@/components/sidebar/Related";

// content
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const shoots = await getCollection("shoots");
    return shoots.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description} classes="">
    <Picture src={entry.data.hero} class="h-[50vh] object-cover w-full" />

    <div class="md:-mt-48">
        <Container>
            <div class="md:bg-white pt-12 md:p-12 space-y-24">
                <Heading topMargin={false} headingWidth="w-auto md:max-w-[60ch]" descriptionWidth="w-auto md:max-w-[45ch]">
                    <h1 slot="heading">{entry.data.title}</h1>
                    <div slot="middle" class="flex flex-row gap-3">
                        <time class="pill pill-secondary" datetime={entry.data.date}>
                            {timeAgo(entry.data.date)}
                        </time>

                        <div class="pill pill-secondary">{entry.data.category}</div>
                    </div>
                    <div slot="description">{entry.data.description}</div>
                </Heading>

                <!-- {
                    entry.data.auction && (
                        <div class="flex flex-col gap-1">
                            <div class="text-xl font-semibold">Auction</div>
                            <ul class="space-y-1">
                                <li>{`${entry.data.auction.sold ? `Sold for ` : `Bid to `} $${entry.data.auction.price.toLocaleString("en-US")}`}</li>
                                <li>
                                    <a href={entry.data.auction.url} class="underline underline-offset-1">
                                        {entry.data.auction.site}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    )
                } -->

                <article class="prose prose-2xl max-w-none">
                    <Content />
                </article>
            </div>

            <!-- {
                entry.data.related && (
                    <div class="flex flex-col gap-2">
                        <div class="text-xl font-semibold">Related Shoots</div>
                        <div class="space-y-4">
                            {entry.data.related.map((r) => (
                                <Related slug={r} category="shoots" basePath="photography/shoots" />
                            ))}
                        </div>
                    </div>
                )
            } -->
        </Container>
    </div>
</Layout>

<Container />
