---
// layouts
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Meta from "@/components/sidebar/Meta";
import Related from "@/components/sidebar/Related";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarContainer from "@/components/sidebar/SidebarContainer";
import SidebarSection from "@/components/sidebar/SidebarSection";
import TableOfContents from "@/components/sidebar/TableOfContents";
import Split from "@/components/content/Split";

// config
import { siteConfig } from "@/src/config";

// content
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
    const shoots = await getCollection("shoots");
    return shoots.map((shoot) => ({
        params: { slug: shoot.slug },
        props: { shoot },
    }));
}
type Props = CollectionEntry<"shoots">;

const { shoot } = Astro.props;
const { Content, headings } = await shoot.render();

// functions
import { formatDate } from "@/functions/DateTime";
---

<BaseLayout title={shoot.data.title} description={shoot.data.description}>
    <Container>
        <Heading>
            <h1 slot="heading">{shoot.data.title}</h1>
            <div slot="description">
                {shoot.data.description}
            </div>
        </Heading>
    </Container>

    <Figure
        src={shoot.data.hero}
        class="w-full h-[50rem] object-cover"
        loading="eager"
        sizes="100vw"
    />

    <Container classes="pb-32 md:pb-48">
        <Split small={true} float={true}>
            <div slot="heading" class="space-y-20 w-4/5">
                <div class="space-y-8">
                    <div class="h4">Metadata</div>
                    <ul
                        class="space-y-1 text-lg text-neutral-600 dark:text-neutral-400">
                        <li>
                            Posted on <time datetime={shoot.data.date}>
                                {formatDate(shoot.data.date)}
                            </time>
                        </li>
                        <li>
                            Written by
                            {siteConfig.name}
                        </li>
                    </ul>
                </div>

                {
                    shoot.data.related && (
                        <div class="space-y-8">
                            <div class="h4">Related Posts</div>
                            {shoot.data.related.map((r) => (
                                <Related
                                    slug={r}
                                    category="shoots"
                                    basePath="photography"
                                />
                            ))}
                        </div>
                    )
                }

                {
                    headings.length > 1 && (
                        <div class="space-y-8">
                            <div class="h4">Table of Contents</div>
                            <ul class="space-y-1">
                                {headings.map((h) => (
                                    <li class={`toc-${h.depth}`}>
                                        <a href={`#${h.slug}`}>{h.text}</a>
                                    </li>
                                ))}
                            </ul>
                        </div>
                    )
                }

                {
                    shoot.data.auction && (
                        <SidebarSection heading="Auction Details">
                            <ul class="space-y-1 text-sm text-neutral-600 dark:text-neutral-400">
                                <li>
                                    Auctioned on{" "}
                                    <a
                                        class="underline"
                                        href={shoot.data.auction.url}
                                        title={shoot.data.title}>
                                        {shoot.data.auction.site}
                                    </a>
                                </li>
                                <li>
                                    {shoot.data.auction.sold
                                        ? `Sold at `
                                        : `Bid to `}
                                    $
                                    {shoot.data.auction.price.toLocaleString(
                                        "en-US"
                                    )}
                                </li>
                            </ul>
                        </SidebarSection>
                    )
                }
            </div>

            <article class="prose prose-2xl dark:prose-invert">
                <Content />
            </article>
        </Split>
    </Container>
</BaseLayout>
