---
// layouts
import Layout from "@/layouts/BaseLayout";

// components
import { getPublicPath } from "@/functions/Media";

import Container from "@/components/content/Container";
import Gallery from "@/components/image/Gallery"
import Grid from "@/components/image/Grid";
import GridImage from "@/components/image/GridImage"
import Heading from "@/components/content/Heading";
import JamComments from "@jam-comments/astro";
import Picture from "@/components/image/Picture";
import Related from "@/components/sidebar/Related";
import Split from "@/components/content/Split";

// config
import { siteConfig } from "@/src/config";

// content
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const shoots = await getCollection("shoots");
    return shoots.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();

// functions
import { formatDate } from "@/functions/DateTime";
---

<Layout title={entry.data.title} description={entry.data.description} classes="space-y-0">
    <Container padBottom={true}>
        <div class="space-y-32">
            <Heading>
                <h1 slot="heading">{entry.data.title}</h1>
                <p slot="description">{entry.data.description}</p>
            </Heading>

            <div class="flex justify-between">
                <div class="flex flex-col gap-1">
                    <div class="text-xl font-semibold">Metadata</div>
                    <div class="flex gap-4 text-xl">
                        <div class="flex items-center gap-1">                  
                            {formatDate(entry.data.date)}
                        </div>
                        {entry.data.location &&
                            <div>&middot;</div>
                            <div>
                                {entry.data.location.text}
                            </div>
                        }
                    </div>
                </div>
    
                { entry.data.auction && 
                    <div class="flex flex-col gap-1">
                        <div class="text-xl font-semibold">Auction</div>
                        <div class="flex gap-4 tracking-tight text-xl">
                            <div>{`${entry.data.auction.sold ? `Sold for ` : `Bid to `} $${entry.data.auction.price.toLocaleString("en-US")}`}</div>
                            <div>&middot;</div>
                            <div>
                                <a href={entry.data.auction.url} class="underline underline-offset-1">
                                    {entry.data.auction.site}
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </Container>

    <Container size="large">
        <Gallery>
            <Grid>
                {entry.data.gallery.map((p) => 
                    <GridImage height="h-[15vh]">
                        <Picture src={p} />
                    </GridImage>
                )}
            </Grid>
        </Gallery>
    </Container>

    <!--
        {
            entry.data.related && (
                <div class="space-y-8">
                    <div class="text-xl lg:text-2xl xl:text-3xl font-medium">Related Posts</div>
                    {entry.data.related.map((r) => (
                        <Related slug={r} category="shoots" basePath="photography/shoots" />
                    ))}
                </div>
            )
        }
    -->

    <Container>
        <Content />

        <article class="prose prose-xl max-w-none">
            <div class="bg-neutral-100 p-8 mt-32">
                <h3>Comments</h3>
                <JamComments path={`${siteConfig.url}${Astro.url.pathname}`} />
            </div>
        </article>
    </Container>
</Layout>