---
// layouts
import Layout from "@/layouts/BaseLayout";

// components
import { formatDate } from "@/functions/DateTime";
import { getShootLenses } from "@/functions/Media";
import { getEntry } from "astro:content";
import Container from "@/components/content/Container";
import Flex from "@/components/image/Flex";
import FlexItem from "@/components/image/FlexItem";
import Picture from "@/components/image/Picture";
import Split from "@/components/content/Split";

// content
const { slug } = Astro.params;
const shoot = await getEntry("shoots", slug);

// if no image found, return 404
if (!shoot) return Astro.redirect("/404");

const { Content } = await shoot.render();

const lenses = await getShootLenses(slug);
---

<Layout title={shoot.data.title} description={shoot.data.description} footerPadding={true} navPadding={false}>
    <Picture src={shoot.data.images.heading ? shoot.data.images.heading : shoot.data.images.hero} classes="h-[70vh] max-h-[1200px] block" class="w-full h-full object-cover" gallery={false} />

    <Container>
        <div class="-mt-52 lg:-mt-32 rounded-tr-md rounded-tl-md relative p-12 bg-white z-10">
            <Split size="small">
                <div slot="heading" class="space-y-12">
                    <div class="text-balance">Shot on <time datetime={formatDate(shoot.data.date)}>{formatDate(shoot.data.date)}</time> in {shoot.data.location.text}</div>

                    <div class="space-y-1">
                        <p class="font-semibold uppercase">Gear</p>
                        <ul>
                            <li>Sony Alpha ILCE-7M3</li>
                            {lenses.map((l) => <li>{l}</li>)}
                        </ul>
                    </div>

                    {
                        shoot.data.auction && (
                            <div class="space-y-1">
                                <p class="font-semibold uppercase">Auction</p>
                                <div>
                                    Listed on{" "}
                                    <a href={shoot.data.auction.url} target="_blank" class="font-medium underline">
                                        {shoot.data.auction.site}
                                    </a>
                                </div>
                                <div>
                                    {shoot.data.auction.sold ? `Sold for` : `Bid to`} ${Intl.NumberFormat().format(shoot.data.auction.price)}
                                </div>
                            </div>
                        )
                    }
                </div>

                <div class="space-y-10">
                    <h1 class="text-balance">{shoot.data.title}</h1>
                    <h2 class="text-balance text-3xl leading-snug font-medium text-gray-900">{shoot.data.description}</h2>
                    <div class="prose prose-xl">
                        <Content />
                    </div>
                </div>
            </Split>

            <div class="mt-14 md:mt-20">
                <Flex>
                    {
                        shoot.data.images.gallery.map((g) => (
                            <FlexItem>
                                <Picture src={g} class="w-full h-full object-cover" classes="w-full h-full" />
                            </FlexItem>
                        ))
                    }
                </Flex>
            </div>
        </div>
    </Container>
</Layout>
