---
// layouts
import Layout from "@/layouts/BaseLayout";

// components
import { timeAgo } from "@/functions/DateTime";
import { getCollection } from "astro:content";
import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";
import Picture from "@/components/image/Picture";
import RelatedPrimary from "@/components/shoots/related/Primary";
import RelatedSecondary from "@/components/shoots/related/Secondary";
import { Testimonials } from "@/data/Photography";

// content
export async function getStaticPaths() {
    const shoots = await getCollection("shoots");
    return shoots.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description} classes="">
    <div class="relative h-[40vh] md:h-[600px]">
        <Picture src={entry.data.hero} class="h-full object-cover w-full absolute" />
        <div class="hidden md:block absolute h-full w-full bg-gradient-to-br from-white/20 via-white/90 to-white"></div>
    </div>

    <div class="md:-mt-60 relative">
        <Container>
            <div class="md:bg-white pt-12 md:p-12 space-y-24">
                <Heading topMargin={false}>
                    <div slot="top" class="flex flex-row gap-3">
                        <time class="pill pill-secondary" datetime={entry.data.date}>
                            {timeAgo(entry.data.date)}
                        </time>

                        <div class="pill pill-secondary">{entry.data.category}</div>
                    </div>

                    <h1 slot="heading">{entry.data.title}</h1>
                    <div slot="description">{entry.data.description}</div>
                </Heading>

                <article class="prose prose-xl max-w-none">
                    {
                        entry.data.auction && (
                            <div class="prose-lg space-y-3">
                                <div class="pill pill-primary">Auction Details</div>
                                <div>
                                    {`${entry.data.auction.sold ? `Sold for ` : `Bid to `} $${entry.data.auction.price.toLocaleString("en-US")}`} on
                                    <a href={entry.data.auction.url} class="underline underline-offset-1 font-semibold">
                                        {entry.data.auction.site}
                                    </a>
                                </div>
                            </div>
                        )
                    }

                    <Content />
                </article>

                <hr class="border-neutral-800" />

                <div class="space-y-8">
                    <h2>Related Shoots</h2>
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                        <RelatedPrimary slug={entry.data.related[0]} />

                        <div class="space-y-8">
                            {entry.data.related.slice(1).map((r) => <RelatedSecondary slug={r} />)}
                        </div>
                    </div>
                </div>

                <hr class="border-neutral-800" />

                <div class="space-y-8">
                    <h2 class="text-balance max-w-sm sm:max-w-md">If you're ready to work together, so am I.</h2>

                    <div class="grid grid-cols-2 gap-8">
                        <div class="col-span-1">
                            <ContactForm />
                        </div>

                        <blockquote>
                            <div class="text-2xl">"{Testimonials[0].text}"</div>
                            <cite>
                                {Testimonials[0].name}<br />
                                {Testimonials[0].vehicle}
                            </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </Container>
    </div>
</Layout>
