---
// layouts
import Layout from "@/layouts/BaseLayout";

// components
import { timeAgo } from "@/functions/DateTime";
import { getCollection } from "astro:content";
import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";
import Figure from "@/components/image/Figure";
import RelatedPrimary from "@/components/shoots/related/Primary";
import RelatedSecondary from "@/components/shoots/related/Secondary";
import Section from "@/components/content/Section";
import Split from "@/components/content/Split";

// content
export async function getStaticPaths() {
    const shoots = await getCollection("shoots");
    return shoots.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description} classes="">
    <Section>
        <Figure src={entry.data.hero} figureClass="h-[50svh]" rounded={false} />

        <Container>
            <Heading>
                <h1 slot="heading">{entry.data.title}</h1>

                <div slot="middle" class="flex flex-row gap-3">
                    <time class="pill pill-secondary" datetime={entry.data.date}>
                        {timeAgo(entry.data.date)}
                    </time>

                    <div class="pill pill-primary">{entry.data.category}</div>
                </div>

                <div slot="description">{entry.data.description}</div>
            </Heading>
        </Container>

        <Container size="large">
            <article class="prose prose-lg max-w-none">
                <Content />
            </article>

            <Container>
                <div class="space-y-16 py-24">
                    <h2 class="text-center">Related Shoots</h2>
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                        <RelatedPrimary slug={entry.data.related[0]} />

                        <div class="space-y-8">
                            {entry.data.related.slice(1).map((r) => <RelatedSecondary slug={r} />)}
                        </div>
                    </div>
                </div>
            </Container>
        </Container>
    </Section>
</Layout>
