---
// layouts
import Layout from "@/layouts/BaseLayout";

// components
import { formatDate } from "@/functions/DateTime";
import { getCollection } from "astro:content";
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Flex from "@/components/image/Flex";
import FlexItem from "@/components/image/FlexItem";
import Heading from "@/components/content/Heading";
import Prose from "@/components/content/Prose";
import Section from "@/components/content/Section";

// content
export async function getStaticPaths() {
    const shoots = await getCollection("shoots");
    return shoots.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description} footerPadding={true} navPadding={true}>
    <Section>
        <Container>
            <div class="space-y-16 relative">
                <Heading maxWidth="max-w-xl">
                    <h1 slot="heading">{entry.data.title}</h1>
                    <div slot="description">{entry.data.description}</div>
                </Heading>

                {
                    entry.data.auction && (
                        <dl class="flex gap-8 sm:gap-0 text-gray-900">
                            <div class="border-neutral-200 sm:px-8 sm:py-3 sm:border-l">
                                <dt class="font-semibold">Date</dt>
                                <dd>
                                    <time datetime="2023">{formatDate(entry.data.date)}</time>
                                </dd>
                            </div>

                            <div class="border-neutral-200 sm:px-8 sm:py-3 sm:border-l">
                                <dt class="font-semibold">Auction</dt>
                                <dd>
                                    <a href={entry.data.auction.url} target="_blank">
                                        {entry.data.auction.site}
                                    </a>
                                </dd>
                            </div>

                            <div class="border-neutral-200 sm:px-8 sm:py-3 sm:border-l">
                                <dt class="font-semibold">Price</dt>
                                <dd>${Intl.NumberFormat().format(entry.data.auction.price)}</dd>
                            </div>
                        </dl>
                    )
                }
            </div>
        </Container>

        {
            entry.data.customLayout ? (
                <article class="space-y-12">
                    <Content />
                </article>
            ) : (
                <Container size="large">
                    <Figure src={entry.data.images.hero} class="h-full w-full object-cover" loading="eager" figureClass={!entry.body && "mb-4"} sizes="100vw" />

                    {entry.body && (
                        <div class="my-32">
                            <Container>
                                <Prose>
                                    <Content />
                                </Prose>
                            </Container>
                        </div>
                    )}

                    <Flex>
                        {entry.data.images.gallery.map((item, i, row) => (
                            <FlexItem>
                                <Figure src={item} figureClass="w-full h-full" class="w-full h-full object-cover" sizes="100vw" />
                            </FlexItem>
                        ))}
                    </Flex>
                </Container>
            )
        }
    </Section>
</Layout>

<style>
    :global(h2) {
        @apply text-balance;
    }
</style>
