---
export const prerender = false;

// layout
import Layout from "@/layouts/BaseLayout";

// components
import { cosmic } from "@/library/cosmic";
import { paginate } from "@/functions/Paginate";
import Container from "@/components/content/Container";
import Primary from "@/components/shoots/cards/Primary";
import Featured from "@/components/shoots/cards/Featured";
import Section from "@/components/content/Section";
import Split from "@/components/content/Split";
import Pagination from "@/components/Pagination";

// content
const { objects: shoots } = await cosmic.objects.find({ type: "shoots" }).props("title, slug, metadata").depth(1);

// selects
const categories = shoots.map((s) => s.metadata.category);
const uniqueCategories = categories.filter((c, index) => categories.findIndex((item) => item.key === c.key) === index).sort((a, b) => a.key.localeCompare(b.key));
const brands = shoots.map((s) => s.metadata.shoot.brand);
const uniqueBrands = [...new Set(brands)].sort().filter(function (e) {
	return e;
});

// url params
const categoryParam = Astro.url.searchParams.get("category");
const brandParam = Astro.url.searchParams.get("brand");
const search = Astro.url.searchParams.get("search");

const searchRegex = search && new RegExp(search, "i");
const filteredShoots = shoots.filter((shoot) => {
	if (categoryParam && categoryParam.length > 0) {
		if (!categoryParam.includes(shoot.metadata.category.key)) {
			return false;
		}
	}

	if (brandParam && brandParam.length > 0) {
		if (!shoot.metadata.shoot.brand) {
			return false;
		}
		if (!brandParam.includes(shoot.metadata.shoot.brand.toLowerCase())) {
			return false;
		}
	}

	if (searchRegex) {
		return searchRegex.test(shoot.title);
	}

	return true;
});

const featuredShoot = shoots.filter((f) => f.metadata.shoot.featured == true).slice(0, 1);
const currentPage = Astro.params.page === undefined ? 1 : Number.parseInt(Astro.params.page);
const paginatedResults = paginate({
	data: filteredShoots,
	pageSize: 12,
	currentPage,
	route: "/photography/shoots/[...page]",
	searchParams: Astro.url.searchParams,
});

const { page, allPages } = paginatedResults;

// make sure the requested page number is valid, if not redirect to the first page of results
if (allPages.length && !page) {
	return Astro.redirect(allPages[0]);
}
---

<Layout>
	<Section>
		<Container size="large">
			<Split size="small" float={true}>
				<div slot="heading">
					<form class="flex flex-col gap-12 skip" method="get">
						<div class="relative rounded-md">
							<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 text-gray-400">
									<path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd"></path>
								</svg>
							</div>
							<input type="text" name="search" id="search" class="!pl-9" placeholder="Search" value={search} />
						</div>

						<div class="space-y-6">
							<div class="flex justify-between items-center">
								<div class="text-xl font-semibold">Filters</div>
								<a href="/photography/shoots" class="text-sm">Reset</a>
							</div>

							<select name="category">
								<option value="" disabled selected>Category</option>
								{
									uniqueCategories.map((c) => (
										<option value={c.key} selected={categoryParam === c.key}>
											{c.value}
										</option>
									))
								}
							</select>

							<select name="brand">
								<option value="" disabled selected>Brands</option>
								{
									uniqueBrands.map((b) => (
										<option value={b.toLowerCase()} selected={brandParam === b.toLowerCase()}>
											{b}
										</option>
									))
								}
							</select>

							<button class="button button-primary">Filter</button>
						</div>
					</form>
				</div>

				{
					page.data.length > 0 && (
						<>
							{page.currentPage == 1 && (!Astro.url.search || Astro.url.search === "?search=") && (
								<div class="col-span-1 sm:col-span-2 lg:col-span-3 mb-20">
									<Featured shoot={featuredShoot[0]} sizes="(min-width: 768px) 66vw, (min-width: 1400px) 1000px" loading="eager" />
								</div>
							)}

							<div class="space-y-6 mb-16">
								<div class="flex justify-between items-center">
									<div class="text-xl font-medium font-alt uppercase">{page.total} Shoots</div>
									{allPages.length > 1 && <Pagination restRoute page={page} allPages={allPages} />}
								</div>

								<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-16">
									{paginatedResults.page.data.map((s) => (
										<Primary shoot={s} sizes="(min-width: 768px) 350px, (min-width: 640px) 50vw, 100vw" />
									))}
								</div>
							</div>

							<div class="flex justify-center items-center">{allPages.length > 1 && <Pagination restRoute page={page} allPages={allPages} />}</div>
						</>
					)
				}
			</Split>
		</Container>
	</Section>
</Layout>
