---
// layout
import Layout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Heading from "@/components/content/Heading";
import Primary from "@/components/shoots/cards/Primary";
import Split from "@/components/content/Split";

// content
import { getCollection } from "astro:content";
const featured = (
    await getCollection("shoots", ({ data }) => {
        return data.featured == true;
    })
)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 1);

const shoots = (await getCollection("shoots")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

// make a unique list of the categories
const allCategories = [];
shoots.map((s) => allCategories.push(s.data.category));
const uniqueCategories = [...new Set(allCategories)];

// make a unique list of the brands
const allBrands = [];
shoots.map((s) => {
    if (s.data.brand) {
        allBrands.push(s.data.brand);
    }
});
const uniqueBrands = [...new Set(allBrands)];

// functions
import { stringToSlug } from "@/functions/Url";
---

<Layout>
    <Container>
        <Heading>
            <h1 slot="heading">Automotive<br />Photoshoots</h1>
        </Heading>
    </Container>

    <Container padBottom={true}>
        <Split small={true} float={true}>
            <div slot="heading" class="space-y-8">
                <h3>Shoot Filters</h3>

                <div class="grid sm:grid-cols-2 md:grid-cols-1 gap-8">
                    <div class="space-y-2">
                        <p class="font-semibold text-xl dark:text-neutral-200">
                            Categories
                        </p>
                        <ul>
                            {
                                uniqueCategories.map((c) => (
                                    <li>
                                        <a
                                            href={`/photography/shoots/category/${stringToSlug(
                                                c
                                            )}`}
                                            class="text-lg dark:text-neutral-300 underline">
                                            {c}
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                    <div class="space-y-2">
                        <p class="font-semibold text-xl dark:text-neutral-200">
                            Manufacturer
                        </p>
                        <ul>
                            {
                                uniqueBrands.map((b) => (
                                    <li>
                                        <a
                                            href="#"
                                            class="text-lg dark:text-neutral-300 underline">
                                            {b}
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>

                <div class="italic text-neutral-700 dark:text-neutral-400">
                    Viewing {shoots.length} Shoots
                </div>
            </div>

            <div class="space-y-12">
                {shoots.map((s, i) => <Primary shoot={s} />)}
            </div>
        </Split>
    </Container>
</Layout>
