---
// props
export interface Props {
    src: string;
    metadata?: boolean;
    sizes?: string;
    figureClass?: string;
}
const { src, metadata = true, sizes = "100vw", figureClass, ...attrs } = Astro.props;

// functions
import { getPublicPath } from "@/functions/Media";

// config
import { imageConfig } from "@/src/config";

// load image data from content collection
import { getEntryBySlug } from "astro:content";
const image = await getEntryBySlug("images", src);

// if dev load basic image defaults
const formats = import.meta.env.MODE === "development" ? ["jpg"] : imageConfig.imageFormats;
const widths = import.meta.env.MODE === "development" ? [1000] : imageConfig.imageSizes;
---

<figure class:list={[figureClass, "overflow-hidden"]}>
    <a href={`/photography/photo/${image.slug}`} title={image.data.title} class="relative group">
        <img src={getPublicPath(`${image.slug}.jpg`)} alt={image.data.description} sizes={sizes} {...attrs} />

        {metadata && <div class="absolute group-hover:bottom-0 left-0 bg-white uppercase p-6 font-medium transition-all duration-200 -bottom-full">{image.data.title}</div>}
    </a>
</figure>
