---
// components
import { Picture } from "@astrojs/image/components";

// functions
import { getImage } from "@/functions/Media";
import { timeAgo } from "@/functions/DateTime";

// props
export interface Props {
    src: string;
    metadata?: boolean;
    sizes?: string;
    figureClass?: string;
}
const { src, metadata = true, sizes = "100vw", figureClass, ...attrs } = Astro.props;

const remoteSrc = await getImage(src);
---

<figure class={figureClass}>
    <Picture src={remoteSrc} alt={remoteSrc.title} widths={[400, 800, 1400, 2000]} sizes={sizes} {...attrs} />

    {
        metadata ? (
            <figcaption class="flex justify-between gap-8">
                <span>{remoteSrc.description}</span>
                <span>{timeAgo(remoteSrc.date)}</span>
            </figcaption>
        ) : (
            ``
        )
    }
</figure>
