---
// props
export interface Props {
    src: string;
    metadata?: boolean;
    sizes?: string;
    figureClass?: string;
}
const {
    src,
    metadata = true,
    sizes = "100vw",
    figureClass,
    ...attrs
} = Astro.props;

// functions
import { getPublicPath } from "@/functions/Media";

// config
import { imageConfig } from "@/src/config";

// load image data from content collection
import { getEntryBySlug } from "astro:content";
const image = await getEntryBySlug("images", src);

// if dev load basic image defaults
const formats =
    import.meta.env.MODE === "development" ? ["jpg"] : imageConfig.imageFormats;
const widths =
    import.meta.env.MODE === "development" ? [1000] : imageConfig.imageSizes;
---

<div class:list={[figureClass, "overflow-hidden relative group"]}>
    <img
        src={getPublicPath(`${image.slug}.jpg`)}
        alt={image.data.description}
        sizes={sizes}
        {...attrs}
    />

    {
        metadata && (
            <a
                href={`/photography/photo/${image.slug}`}
                title="View photo details"
                class="absolute lg:group-hover:bottom-0 bottom-0 left-0 bg-white uppercase text-sm md:text-base px-4 py-3 lg:p-6 font-medium transition-all duration-200 lg:-bottom-full">
                {image.data.title}
            </a>
        )
    }
</div>
