---
// components
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";

// functions
import { getImage } from "@/functions/Media";
import { timeAgo } from "@/functions/DateTime";

// props
export interface Props {
    src: string;
    metadata?: boolean;
    sizes?: string;
    figureClass?: string;
}
const { src, metadata = true, sizes = "100vw", figureClass, ...attrs } = Astro.props;

const formats = import.meta.env.MODE === "development" ? ["jpeg"] : ["webp", "jpeg"];
const remoteSrc = await getImage(src);
const path = src.replace(/\.[^/.]+$/, "");
---

<figure class={figureClass}>
    <Picture
        src={remoteSrc}
        alt={remoteSrc.title}
        formats={formats}
        aspectRatio={remoteSrc.aspectRatio}
        widths={[400, 800, 1400, 2000]}
        sizes={sizes}
        {...attrs}
    />

    {
        metadata ? (
            <figcaption class="flex justify-between gap-8">
                <span>{remoteSrc.description}</span>
                <div class="flex items-center gap-2">
                    <span>{timeAgo(remoteSrc.date)}</span>

                    <a href={`/photography/photo${path}`} title={remoteSrc.title}>
                        <Icon name="bi:info-square" class="w-4 text-stone-500" />
                    </a>
                </div>
            </figcaption>
        ) : (
            ``
        )
    }
</figure>
