---
// components
import { Picture } from "@astrojs/image/components";

// functions
import { getImage } from "@/functions/Media";
import { timeAgo } from "@/functions/DateTime";

// props
export interface Props {
    src: string;
    metadata?: boolean;
    sizes?: string;
    figureClass?: string;
}
const { src, metadata = true, sizes = "100vw", figureClass, ...attrs } = Astro.props;

const formats = import.meta.env.MODE === "development" ? ["jpg"] : ["webp", "jpg"];
const widths = import.meta.env.MODE === "development" ? [800] : [400, 800, 1400, 2000];
const remoteSrc = await getImage(src);
const path = src.replace(/\.[^/.]+$/, "");
---

<figure class:list={figureClass}>
    <Picture
        src={remoteSrc.src}
        alt={remoteSrc.title}
        formats={formats}
        aspectRatio={remoteSrc.aspectRatio}
        widths={widths}
        sizes={sizes}
        {...attrs}
    />

    {
        metadata ? (
            <figcaption class="mt-4 flex items-center justify-between gap-8 text-sm text-zinc-500 dark:text-zinc-400">
                <span class="line-clamp-1">{remoteSrc.description}</span>

                <div class="flex items-center gap-2">
                    <span class="hidden sm:block">{timeAgo(remoteSrc.date)}</span>

                    <a href={`/photography/photo${path}`} title={remoteSrc.title}>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-5 w-5 text-zinc-500 dark:text-zinc-400">
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                            />
                        </svg>
                    </a>
                </div>
            </figcaption>
        ) : (
            ``
        )
    }
</figure>
