---
// components
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import Container from "@/components/Container";

// functions
import { getImage } from "@/functions/Media";
import { timeAgo } from "@/functions/DateTime";

// props
export interface Props {
    src: string;
    metadata?: boolean;
    sizes?: string;
    figureClass?: string;
}
const { src, metadata = true, sizes = "100vw", figureClass, ...attrs } = Astro.props;

const formats = import.meta.env.MODE === "development" ? ["jpeg"] : ["webp", "jpeg"];
const widths = import.meta.env.MODE === "development" ? [2000] : [400, 800, 1400, 2000];
const remoteSrc = await getImage(src);
const path = src.replace(/\.[^/.]+$/, "");
---

<figure class:list={figureClass}>
    <Picture src={remoteSrc} alt={remoteSrc.title} formats={formats} aspectRatio={remoteSrc.aspectRatio} widths={widths} sizes={sizes} {...attrs} />

    {
        metadata ? (
            <Container>
                <figcaption class="mt-4 flex items-center justify-between gap-8 text-stone-500">
                    <span class="line-clamp-1">{remoteSrc.description}</span>

                    <div class="flex items-center gap-2">
                        <span class="hidden sm:block">{timeAgo(remoteSrc.date)}</span>

                        <a href={`/photography/photo${path}`} title={remoteSrc.title}>
                            <Icon name="bi:info-square" class="w-4 text-stone-500" />
                        </a>
                    </div>
                </figcaption>
            </Container>
        ) : (
            ``
        )
    }
</figure>
