---
// components
import { getEntryBySlug } from "astro:content";

// functions
import { getPublicPath } from "@/functions/Media";

// config
import { imageConfig } from "@/src/config";

// props
export interface Props {
    src: string;
    metadata?: boolean;
    sizes?: string;
    figureClass?: string;
}
const {
    src,
    metadata = true,
    sizes = "100vw",
    figureClass,
    ...attrs
} = Astro.props;

// load image data from content collection
const image = await getEntryBySlug("images", src);

// if dev load basic image defaults
const formats =
    import.meta.env.MODE === "development" ? ["jpg"] : imageConfig.imageFormats;
const widths =
    import.meta.env.MODE === "development" ? [1000] : imageConfig.imageSizes;
---

<figure class:list={[figureClass]}>
    <img
        src={getPublicPath(`${image.slug}.jpg`)}
        alt={image.data.description}
        sizes={sizes}
        {...attrs}
        data-img={getPublicPath(`${image.slug}.jpg`)}
        data-alt={image.data.title}
        data-caption={`<span>${image.data.description}</span><span>|</span><a href="/photography/photo/${image.slug}" title=${image.data.title}>Photo Details</a>`}
        data-height={image.data.height}
        data-width={image.data.width}
    />

    {
        metadata ? (
            <figcaption class="mt-4 flex items-center justify-between gap-8 text-xs text-neutral-500 dark:text-neutral-300">
                <span class="line-clamp-1 uppercase">
                    {image.data.description}
                </span>

                <div>
                    <a
                        href={`/photography/photo/${image.slug}`}
                        title={image.data.title}
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-5 w-5 text-neutral-500 dark:text-neutral-400"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                            />
                        </svg>
                    </a>
                </div>
            </figcaption>
        ) : (
            ``
        )
    }
</figure>
