---
//components
import Image from "@/components/image/Image"
import Caption from "@/components/image/Caption"
import Container from "@/components/Container"

// props
export interface Props {
    file: string;
    id?: number;
}
const { file, id } = Astro.props;
---

<label class="gallery" for={`lightbox-${id}`}>
    <div class="gallery-gradient"></div>
    <svg viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M61.7637 40L17.7637 40" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M39.7637 62L39.7637 18" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>

    <slot />
</label>

<input type="checkbox" id={`lightbox-${id}`} class="lightbox-toggle">
<label class="lightbox" for={`lightbox-${id}`}>
    <Container>
        <figure>
            <Image file={file} sizes="100vw" />
            <Caption file={file} showDescription={true} />
        </figure>
    </Container>
</label>