---
// imports
import { getImage } from "astro:assets";
import { imageConfig } from "@/config";

// props
export interface Props {
    src: string;
    metadata?: boolean;
    sizes?: string;
    quality: number;
    loading: string;
    figureClass?: string;
}
const { src, metadata = true, sizes = "100vw", quality = 85, loading = "lazy", figureClass, ...attrs } = Astro.props;

// functions
import { getPublicPath } from "@/functions/Media";

// load image data from content collection
import { getEntryBySlug } from "astro:content";
const image = await getEntryBySlug("images", src);
const fullPath = getPublicPath(`${src}.jpg`);

// array to hold the optimized images
const optimizedImages = [];
for (let size of imageConfig.imageSizes) {
    optimizedImages.push(await getImage({ src: fullPath, format: "webp", width: size, height: size, quality: quality }));
}

const sources = optimizedImages.map((i) => {
    return `${i.src} ${i.attributes.width}w`;
});
const srcset = sources.join(", ");

const dimensions = {
    width: image.data.width,
    height: image.data.height,
};

console.log(optimizedImages);
---

<div class:list={[figureClass, "overflow-hidden relative group"]}>
    {
        image ? (
            <img
                src={optimizedImages[0].src}
                srcset={srcset}
                sizes={sizes}
                width={dimensions.width}
                height={dimensions.height}
                alt={image.data.description}
                loading={loading}
                {...attrs}
                data-img={optimizedImages[0].src}
                data-alt={image.data.title}
                data-caption={image.data.description}
                data-width={image.data.width}
                data-height={image.data.height}
            />
        ) : (
            <img src={optimizedImages[0].src} sizes={sizes} {...attrs} data-img={optimizedImages[0].src} />
        )
    }

    {
        metadata && (
            <>
                <a href={`/photography/photo/${image.slug}`} title="View photo details" class="absolute bottom-0 rounded-tr-sm left-0 bg-white uppercase text-sm pl-3 pr-4 py-3 font-medium transition-all duration-200 no-underline">
                    {image.data.title}
                </a>
            </>
        )
    }
</div>
