---
// layouts
import BaseLayout from "@/layouts/BaseLayout";

// components
import { Icon } from "astro-icon";
import Block from "@/components/content/Block";
import Header from "@/components/content/Header";
import PostRelated from "@/components/PostRelated";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarSection from "@/components/sidebar/SidebarSection";

// functions
import { fullDate } from "@/functions/DateTime";

// props
export interface Props {
    content: any;
}
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <Header image={frontmatter.featured}>
        <Block>
            <div slot="left" class="space-y-4">
                <h1>{frontmatter.title}</h1>
            </div>

            <div slot="right">
                <div class="text-xl md:text-3xl font-light !leading-relaxed">{frontmatter.description}</div>
            </div>
        </Block>

        <div class="flex gap-16">
            <article class="prose lg:prose-xl">
                <slot />
            </article>

            <Sidebar>
                {
                    frontmatter.related ? (
                        <SidebarSection heading="Post Meta">
                            <div class="flex gap-2 items-center">
                                <Icon name="bi:calendar-date" class="w-4 h-auto" />
                                <p>Posted on <time datetime={frontmatter.date}>{fullDate(frontmatter.date)}</time></p>
                            </div>
                            
                            <div class="flex gap-2 items-center">
                                <Icon name="bi:person-circle" class="w-4 h-auto" />
                                <p>Written by <span>Erik S. Olsen</span></p>
                            </div>
                        </SidebarSection>
                    
                        <SidebarSection heading="Related Posts">
                            <PostRelated posts={frontmatter.related} />
                        </SidebarSection>
                    ) : (
                        ``
                    )
                }
            </Sidebar>
        </div>
    </Header>
</BaseLayout>
