---
// layouts
import BaseLayout from "@/layouts/BaseLayout";

// components
import Block from "@/components/content/Block";
import Container from "@/components/Container";
import RelatedPost from "@/components/RelatedPost";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarSection from "@/components/sidebar/SidebarSection";

// functions
import { fullDate } from "@/functions/DateTime";

// props
export interface Props {
    content: any;
}
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <Container>
        <Block>
            <h1 slot="left">{frontmatter.title}</h1>
            <div slot="right">{frontmatter.description}</div>
        </Block>

        <div class="meta">
            <p>Posted on <time datetime={frontmatter.date}>{fullDate(frontmatter.date)}</time></p>
            <div class="separator">//</div>
            <p>Written by <span>Erik S. Olsen</span></p>
        </div>

        <article class="prose limited-width">
            <slot />
        </article>

        <Sidebar>
            {
                frontmatter.related ? (
                    <SidebarSection heading="Related Posts">
                        <RelatedPost posts={frontmatter.related} />
                    </SidebarSection>
                ) : (
                    ``
                )
            }
        </Sidebar>
    </Container>
</BaseLayout>
