---
// layouts
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Link from "@/components/Link";
import Meta from "@/components/sidebar/Meta";
import Newsletter from "@/components/sidebar/Newsletter";
import Related from "@/components/sidebar/Related";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarContainer from "@/components/sidebar/SidebarContainer";

// props
export interface Props {
    content: any;
}
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <Container>
        <Heading>
            <h1 slot="heading">{frontmatter.title}</h1>
            <div slot="description">{frontmatter.excerpt}</div>
        </Heading>
    </Container>

    <Container>
        <SidebarContainer>
            <article class="prose prose-lg dark:prose-invert">
                <Figure src={frontmatter.featured} class="mt-0" />

                <slot />
            </article>

            <Sidebar>
                <Meta date={frontmatter.date} />

                {frontmatter.related ? <Related posts={frontmatter.related} /> : ``}

                <!-- <Newsletter /> -->

                <div slot="bottom">
                    <Link flip={true} text="Back to Articles" size="sm" url="/blog" />
                </div>
            </Sidebar>
        </SidebarContainer>
    </Container>
</BaseLayout>
