---
// layouts
import BaseLayout from "@/layouts/BaseLayout";

// components
import { Icon } from "astro-icon";
import Block from "@/components/content/Block";
import Hero from "@/components/content/Hero";
import PostRelated from "@/components/PostRelated";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarSection from "@/components/sidebar/SidebarSection";

// functions
import { fullDate } from "@/functions/DateTime";

// props
export interface Props {
    content: any;
}
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <Hero image={frontmatter.featured}>
        <Block>
            <div slot="left" class="space-y-4">
                <h1>{frontmatter.title}</h1>
            </div>

            <div slot="right">
                <div class="text-xl md:text-3xl font-light !leading-relaxed">{frontmatter.description}</div>
            </div>
        </Block>

        <div class="flex flex-col md:flex-row gap-16">
            <article class="prose lg:prose-xl">
                <slot />
            </article>

            <Sidebar>
                {
                    frontmatter.related ? (
                        <>
                            <SidebarSection heading="Post Meta">
                                <div class="flex items-center gap-2">
                                    <Icon name="bi:calendar-date" class="h-auto w-4" />
                                    <p>
                                        Posted on <time datetime={frontmatter.date}>{fullDate(frontmatter.date)}</time>
                                    </p>
                                </div>

                                <div class="flex items-center gap-2">
                                    <Icon name="bi:person-circle" class="h-auto w-4" />
                                    <p>
                                        Written by <span>Erik S. Olsen</span>
                                    </p>
                                </div>
                            </SidebarSection>
                            <SidebarSection heading="Related Posts">
                                <PostRelated posts={frontmatter.related} />
                            </SidebarSection>
                        </>
                    ) : (
                        ``
                    )
                }
            </Sidebar>
        </div>
    </Hero>
</BaseLayout>
