---
// layouts
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import PostRelated from "@/components/PostRelated";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarSection from "@/components/sidebar/SidebarSection";

// config
import { siteConfig } from "@/src/config";

// functions
import { formatDate } from "@/functions/DateTime";

// props
export interface Props {
    content: any;
}
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <Container>
        <div class="flex flex-col gap-12 md:flex-row">
            <article class="prose prose-lg max-w-none">
                <h1>{frontmatter.title}</h1>
                <div class="text-xl font-light !leading-relaxed md:text-2xl">{frontmatter.description}</div>

                <Figure src={frontmatter.featured} />

                <slot />
            </article>

            <Sidebar>
                <SidebarSection heading="Post Meta">
                    <ul class="text-sm text-zinc-600 dark:text-zinc-400">
                        <li>
                            Posted on <time
                                datetime={frontmatter.date}
                                class="underline decoration-zinc-600 decoration-dotted decoration-1 underline-offset-2">
                                {formatDate(frontmatter.date)}
                            </time>
                        </li>
                        <li>
                            Written by <span class="underline decoration-zinc-600 decoration-dotted decoration-1 underline-offset-2">
                                {siteConfig.name}
                            </span>
                        </li>
                    </ul>
                </SidebarSection>

                {
                    frontmatter.related ? (
                        <SidebarSection heading="Related Posts">
                            <PostRelated posts={frontmatter.related} />
                        </SidebarSection>
                    ) : (
                        ``
                    )
                }
            </Sidebar>
        </div>
    </Container>
</BaseLayout>
