---
// components
import About from "@/components/About"
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Container from "@/components/Container"
import Heading from "@/components/Heading"
import RelatedPost from "@/components/RelatedPost"
import Sidebar from "@/components/sidebar/Sidebar"
import SidebarSection from "@/components/sidebar/SidebarSection"

// functions
import { fullDate } from "@/functions/DateTime"

// props
export interface Props {
    content: any;
}
const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
    <BaseHead title={content.title} description={content.description} />
</head>

<body>
    <BaseLayout>
        <Container>
            <Heading>
                <h1 slot="heading">{content.title}</h1>
                <p>{content.description}</p>
                <div class="meta">
                    <p>Posted on <time datetime={content.date}>{fullDate(content.date)}</time></p>
                    <div class="separator">//</div>
                    <p>Written by <span>Erik S. Olsen</span></p>
                </div>
            </Heading>
        </Container>

        <Container>
            <div class="columns">
                <article class="prose limited-width">
                    <slot />
                </article>

                <Sidebar>
                    { content.related ?
                    <SidebarSection heading="Related Posts">
                        <RelatedPost posts={content.related} />
                    </SidebarSection>
                    : `` }
                </Sidebar>
            </div>
        </Container>

        <div class="post-footer">
            <Container>
                <div class="about limited-width">
                    <About />
                </div>
            </Container>
        </div>
    </BaseLayout>
</body>

</html>