---
// layouts
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Heading from "@/components/content/Heading";
import Link from "@/components/Link";
import Related from "@/components/sidebar/Related";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarContainer from "@/components/sidebar/SidebarContainer";
import SidebarSection from "@/components/sidebar/SidebarSection";

// config
import { siteConfig } from "@/src/config";

// functions
import { formatDate } from "@/functions/DateTime";

// props
export interface Props {
    content: any;
}
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <Container>
        <Heading>
            <h1 slot="heading">{frontmatter.title}</h1>
            <div slot="description">{frontmatter.excerpt}</div>
        </Heading>
    </Container>

    <Container>
        <SidebarContainer>
            <article class="prose prose-lg dark:prose-invert">
                <Figure src={frontmatter.featured} class="mt-0" />

                <slot />
            </article>

            <Sidebar>
                <SidebarSection heading="Post Meta">
                    <ul class="space-y-1 text-sm text-zinc-600 dark:text-zinc-400">
                        <li>
                            Posted on <time
                                datetime={frontmatter.date}
                                class="underline decoration-zinc-600 decoration-dotted decoration-1 underline-offset-2">
                                {formatDate(frontmatter.date)}
                            </time>
                        </li>
                        <li>
                            Written by <span class="underline decoration-zinc-600 decoration-dotted decoration-1 underline-offset-2">
                                {siteConfig.name}
                            </span>
                        </li>
                    </ul>
                </SidebarSection>

                {frontmatter.related ? <Related posts={frontmatter.related} /> : ``}

                <div slot="bottom">
                    <Link flip={true} text="Back to Articles" size="sm" url="/blog" />
                </div>
            </Sidebar>
        </SidebarContainer>
    </Container>
</BaseLayout>
