---
// layouts
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Gallery from "@/components/image/Gallery";
import Heading from "@/components/content/Heading";
import Meta from "@/components/sidebar/Meta";
import Newsletter from "@/components/sidebar/Newsletter";
import Related from "@/components/sidebar/Related";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarContainer from "@/components/sidebar/SidebarContainer";

// props
export interface Props {
    frontmatter: any;
}
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <Container>
        <Heading>
            <h1 slot="heading" class="max-w-xl">{frontmatter.title}</h1>
            <p slot="description" class="max-w-xl text-2xl font-light">{frontmatter.description}</p>
        </Heading>
    </Container>

    <Container>
        <Figure src={frontmatter.featured} class="mt-0 h-[30em] w-full object-cover rounded-sm" />
    </Container>

    <Container>
        <SidebarContainer>
            <article class="prose prose-lg dark:prose-invert">
                <slot />
            </article>

            <Sidebar>
                <Meta date={frontmatter.date} />

                {frontmatter.related ? <Related posts={frontmatter.related} /> : ``}

                <Newsletter />
            </Sidebar>
        </SidebarContainer>
    </Container>

    <Container>
        <h2 class="mb-12">Gallery</h2>
        <Gallery images={frontmatter.gallery} />
    </Container>
</BaseLayout>
