---
// layouts
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/Container";
import Hero from "@/components/content/Hero";
import PostRelated from "@/components/PostRelated";
import Section from "@/components/content/Section";

// functions
import { fullDate } from "@/functions/DateTime";

// props
export interface Props {
    frontmatter: any;
}
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <Hero image={frontmatter.featured} />

    <Container>
        <Section>
            <div class="">
                <article class="prose prose-xl mx-auto">
                    <time class="not-prose text-base text-stone-600" datetime={frontmatter.date}>{fullDate(frontmatter.date)}</time>
                    <h1 class="not-prose">{frontmatter.title}</h1>
                    <div class="text-xl md:text-2xl font-light !leading-relaxed">{frontmatter.description}</div>

                    <slot />
                </article>
            </div>
            {frontmatter.related ? <PostRelated posts={frontmatter.related} /> : ``}
        </Section>
    </Container>
</BaseLayout>
