---
// layouts
import BaseLayout from "@/layouts/BaseLayout";

// components
import Container from "@/components/content/Container";
import Figure from "@/components/image/Figure";
import Gallery from "@/components/image/Gallery";
import Heading from "@/components/content/Heading";
import Newsletter from "@/components/sidebar/Newsletter";
import Related from "@/components/sidebar/Related";
import Sidebar from "@/components/sidebar/Sidebar";
import SidebarContainer from "@/components/sidebar/SidebarContainer";
import SidebarSection from "@/components/sidebar/SidebarSection";

// config
import { siteConfig } from "@/src/config";

// functions
import { formatDate } from "@/functions/DateTime";

// props
export interface Props {
    frontmatter: any;
}
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <Container>
        <Heading>
            <h1 slot="heading" class="max-w-xl">{frontmatter.title}</h1>
            <p slot="description" class="max-w-xl text-2xl font-light">{frontmatter.description}</p>
        </Heading>
    </Container>

    <Container>
        <Figure src={frontmatter.featured} class="mt-0 h-[30em] w-full object-cover rounded-sm" />
    </Container>

    <Container>
        <SidebarContainer>
            <article class="prose prose-lg">
                <slot />
            </article>

            <Sidebar>
                <SidebarSection heading="Post Meta">
                    <ul class="text-sm text-zinc-600 dark:text-zinc-400">
                        <li>
                            Posted on <time
                                datetime={frontmatter.date}
                                class="underline decoration-zinc-600 decoration-dotted decoration-1 underline-offset-2">
                                {formatDate(frontmatter.date)}
                            </time>
                        </li>
                        <li>
                            Written by <span class="underline decoration-zinc-600 decoration-dotted decoration-1 underline-offset-2">
                                {siteConfig.name}
                            </span>
                        </li>
                    </ul>
                </SidebarSection>

                {frontmatter.related ? <Related posts={frontmatter.related} /> : ``}

                <Newsletter />
            </Sidebar>
        </SidebarContainer>
    </Container>

    <Container>
        <div class="prose prose-lg max-w-none">
            <h2>Gallery</h2>
            <Gallery images={frontmatter.gallery} height={frontmatter.galleryHeight} />
        </div>
    </Container>
</BaseLayout>
